extends ../../layouts/basic

block variables
    - var page = { title: 'Privacy Policy | Otonomic', body_class: '', header_nav_class: '' }

block content
    h1 Otonomic Privacy Policy
    //
      <p>
      You can view all of our policy documents, including security and disclosure practices, at <a href="policies">Policies</a>.
      </p>
    .tab_set.on_neutral_grey
        a.selected(href='privacy-policy') Privacy Policy
        i.tab_caret.ts_icon.ts_icon_caret_down
        i.tab_caret.ts_icon.ts_icon_caret_up
    .tab_pane.selected
        b Updated: December 27, 2015
        h3 What This Privacy Policy Covers
        | This policy covers how Otonomic, Inc., an Israeli corporation ("Otonomic," "we," "us," or "our") treats personal information that it collects and receives on <a href='http://www.otonomic.com'>www.otonomic.com</a>. 
        | We are not in the business of selling information about you: we use information shared with us for the sole purpose of running and improving our services. This notice tells you what information we collect, steps we take to protect and secure it, how we use and share information, and finally, how you can contact us with questions or concerns.
        h3 Information We Gather
        | Otonomic collects personal information when you register with us, use Otonomic products or services or post content on an Otonomic website or blog. This information is limited to your email address, username, and any information you post on your site. Your password is stored securely using a salted, variable work factor, one-way hash function.
        | Otonomic automatically receives and records information on our server logs from your browser, including your IP address, cookies, and the pages you request. We also collect other use information as part of our analytics services, in order to improve the service. However, we do not link such information to any personally identifiable information you submit while on our site.
        | Otonomic may collect billing information if you sign up for a paid service, which may include your name, address, telephone number, credit card details, and other information that is necessary in order to process the transaction. Under no circumstance do we store any of your sensitive billing details.
        | When signing up for the affiliate program, Otonomic may collect additional details in order to process payments and comply with tax law, which may include your personal ID, your address, and other information as appropriate.
        | Otonomic uses information for the following general purposes: products and services provision, identification and authentication, services improvement, support, contact, research, and anonymous reporting.
        h3 Google Analytics
        | This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
        h3 Billing information
        | We do not store your billing information, and this information will be discarded after your transaction has been processed. Nevertheless, the required information for your billing will be stored by our payment gateway company which will store your billing information on their secure payment gateway for as long as necessary to carry out the terms of your subscription.
        | We may retain the last 4 digits of your credit card number, and credit card type, so that you may identify the card used in the future.
        | All transactions are processed over an industry standard SSL/TLS connection, with a minimum of 128-bit encryption.
        h3 IP Address
        | Otonomic occasionally obtains IP addresses from users depending upon how you access our web sites. IP addresses, browser and session information may be used for various purposes, including to:
        ul
            li
                | Diagnose and prevent service or technology problems reported by our users or engineers that are associated with the IP addresses controlled by a specific web company or ISP.
            li
                | Estimate the total number of users visiting Otonomic's web sites from specific geographical regions.
            li
                | Help determine which users have access privileges to certain content, services or resources that we offer.
            li Monitor and prevent fraud and abuse.
        h3 Cookies
        | A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a web site's computers and stored on your computer's hard drive.
        | If you reject all cookies, you may not be able to use Otonomic services or products that require you to "sign in" and you may not be able to take full advantage of all offerings.
        | You can configure your browser to accept all cookies, reject all cookies or notify you when a cookie is set.
        | Otonomic uses its own cookies for a number of purposes, including to:
        ul
            li
                | Require you to re-enter your password after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.
            li
                | Keep track of preferences you specify while you are using the Otonomic Sites, Products and Services.
            li Estimate and report our total audience size and traffic.
            li Conduct research to improve the content and services provided on the Otonomic.
            li Sites, Products and Services.
        h3 Information Relating to Children
        | Individuals under the age of 13 are prohibited from creating or using accounts through Otonomic.com. Students under the age of 13 may, however, use Otonomic through special student accounts created by their teachers through education.Otonomic.com, provided the teacher has obtained signed parental consent from the student's parents.
        h3 Information Use, Sharing and Disclosure
        | Otonomic does not share personal information we learn about you from your use of the Otonomic web sites, products and services with others except as described in this policy.
        | We do not share, sell, rent or trade personally identifiable information with third parties for their promotional purposes.
        | Otonomic may use or share your personal information where it is necessary to complete a transaction, to operate or improve the Otonomic products and services, or to do something that you have asked us to do. We use other third parties such as a credit card processing company to bill you for goods and services. These third parties are prohibited from using your personally identifiable information for promotional purposes.
        | From time to time, Otonomic or a partner may sponsor a promotion, sweepstake or contest on Otonomic. You may be asked to provide personal information including name, email address or home address or to answer questions in order to participate. This information will be used strictly for the purpose of notifying and arranging delivery of promotional items to the person selected.
        | You may opt out of emails you receive from Otonomic or any of our  partners for promotions, sweepstakes, contests or newsletters by visiting <a href='http://www.otonomic.com/unsubscribe'>www.otonomic.com/unsubscribe</a>
        | When you register for Otonomic, we collect user-submitted account information such as username and email address to identify users and send notifications related to the use of the service.
        | When you post content on an Otonomic website or blog, you have the ability to post content which may include personally identifiable information about yourself.
        | If you post personal information online that is accessible to the public, you may receive unsolicited messages from other parties in return.
        | If you choose to use our referral service to tell a friend about our site, we will ask you for your friend's name and email address. We will automatically send your friend a one-time email inviting him or her to visit the site. Otonomic stores this information for the sole purpose of sending this one-time email and tracking the success of our referral program. Your friend may contact us at <a href='http://www.otonomic.com/unsubscribe'>www.otonomic.com/unsubscribe</a>
        | to request that we remove this information from our database.
        | Otonomic may share personally identifiable information about you under the following circumstances:
        ul
            li
                | We may share your personal information to respond to subpoenas, court orders, or legal process, to establish or exercise our legal rights or, defend against legal claims and if in our judgment in such circumstances disclosure is required or appropriate.
            li
                | We may share your personal information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our various terms of use, or as otherwise required by law.
            li
                | As we continue to develop our business, we may also buy or sell all or part of our business. In such transactions, personally identifiable information you have shared with us is generally one of the business assets that will be transferred. The transferred personally identifiable information will remain subject to the promises made in this privacy policy or subsequent policies to which you have consented.
        | Otonomic may put effort to provide certain site visitors with limited content based on your privacy selection. There is no guarantee that these precautions will actually work and Otonomic is therefore not responsible for the display of restricted content to users.
        | We may provide information and/or personal user content to service providers to help us provide the services we offer. Specifically, we may use third parties to facilitate our business, such as to host the service at a co-location facility for servers, to send out email updates about Otonomic, to remove repetitive information from our user lists, to process  payments  for  products or services. In connection with these business operations, our service providers may have access to your personal information and/or content for use for a limited time in connection with these business activities. We occasionally provide demonstrations of user created content that allow non-users a glimpse into the Otonomic world. Such content is provided in a form which protects your content from any unauthorized editing and/or changing.
        h3 Third Party Advertising
        | Advertisements that appear on Otonomic are sometimes delivered (or "served") directly to users by third party advertisers. They automatically receive your IP address when this happens. These third party advertisers may also download cookies to your computer, or use other technologies such as JavaScript and "web beacons" (also known as "1x1 gifs" or "tracking pixels") to measure the effectiveness of their ads and to personalize advertising content. Doing this allows the advertising network to recognize your computer each time they send you an advertisement in order to measure the effectiveness of their ads and to personalize advertising content. In this way, they may compile information about where individuals using your computer or browser saw their advertisements and determine which advertisements are clicked. Otonomic does not have  access  to  or  control  of  the  cookies  that  may  be  placed  by  the  third  party on Otonomic unless you choose to share it with them.This privacy policy covers the use of cookies by Otonomic and does not cover the use of cookies or other tracking technologies by any of its advertisers.
        h3 Changes to this Privacy Policy
        | Otonomic may revise, modify or update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your particular Otonomic account or by placing a prominent notice on our site.
        h3 Widgets
        | Widgets may support functions that require that you disclose certain personally identifiable information given the user's choice of participation. This information is collected in many different  ways  such  as:  forms,  surveys,  contests,  forums,  subscribing  or  unsubscribing  to mailings and correcting or updating personally identifiable information and are only used for the purpose in which they were collected. Forms which require sensitive information such as financial information (credit card) to process purchases for products or services are SSL encrypted to protect your sensitive information.
        h3 Confidentiality and Security
        | No data transmissions over the Internet can be guaranteed to be 100% secure. Consequently, we cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk. Once we receive your transmission, we make efforts to ensure security on our systems.
        | We use physical, electronic, and procedural safeguards to protect personal information about you.
        | Your account information is password-protected. Additionally, your account's password is stored using a salted, variable work factor, one-way hash algorithm.
        | In certain areas, Otonomic may use industry-standard SSL-encryption to protect data transmissions. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software.
        | If Otonomic learns of a security system's breach we may attempt to notify you electronically so that you can take appropriate protective steps. By using Otonomic or providing personal information  to  us  you  agree  that  we  can  communicate  with  you  electronically  regarding security, privacy and administrative issues relating to your use of those sites, products and services. We may post a notice on our applicable web sites if a security breach occurs. If this happens, you will need a web browser enabling you to view the applicable web sites. We may also send an email to you at the email address you have provided to us in these circumstances. Depending on where you live, you may have a legal right to receive notice of a security breach receiving electronic notice) you should notify us at <a href='mailto:support@otonomic.com'>support@otonomic.com</a>
        h3 Changing your Preferences and Personal Information
        | You can edit your account information with Otonomic at any time.
        | You can delete your applicable account by visiting the applicable account deletion page; however, please note that some personal information, primarily your contact information, may remain in our records to the extent necessary to protect our legal interests or document compliance with regulatory requirements.
        | If  your  personally  identifiable  information  changes,  or  if  you  no  longer  desire  our service, you may correct, update, or delete such information by emailing our Customer Support at <a href='mailto:support@otonomic.com'>support@otonomic.com</a>.
        h3 Contacting Otonomic
        | If you have a privacy concern regarding Otonomic, or this policy, and if you cannot satisfactorily resolve it through the use of those sites, products or services, you should complete a support request at <a href='http://www.otonomic.com/support'>www.otonomic.com/support</a>
        | or you can write to us by email at <a href='mailto:support@otonomic.com'>support@otonomic.com</a>
        | or by mail at: Otonomic Ltd. 22 Se'adya Gaon st., Tel Aviv, Israel.
