.otonomic-blog {

    background-color: $bright-dark;
    .social-btns {
        width: 225px;
    }

    .no-js-rrssb-buttons > li {
        width: 42px!important;
    }

    .blog-item {
        position: relative;
        margin-bottom: 20px;
        height: 250px;

        .media-heading {
            margin-bottom: 0;
            & > a {
                color: inherit;
                text-decoration: none;
            }
        }
        .post-meta {
            font-size: 12px;

            & > a {
                color: inherit;
                text-decoration: underline;
            }
        }
        .media-body {
            font-weight: lighter;
            line-height: $line-height-computed;

        }

        .post-shares {
            position: absolute;
            top: 220px;
            left: 305px;
            color: $blue;
            font-size: 12px;
            font-weight: bold;
        }


        // image margin
        & > .pull-left {
            margin-right: 20px;
        }

        .moretag {
            display: inline-block;
        }
    }
    .post-meta {
        margin-bottom: 25px;
    }

   .post-meta-published,
   .post-meta-author,
   .post-meta-tags,
   .post-meta-categories {

        margin-right: 25px;
        font-weight: lighter;

        .glyphicons {

            margin-right: 5px;
            margin-bottom: 5px;
            color: inherit;

            &:before {
                color: inherit;
                font-size: 20px;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
   }

   .share-block {
        position: relative;
        .share-block-text {
            display: inline-block;
            margin-right: 160px;
            margin-bottom: 0;
            font-style: italic;
            font-weight: lighter;
        }

        .share-block-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            line-height: 2.2;
            padding-left: 15px;
            padding-right: 15px;

            .icon {
                svg {
                    width: 20px;
                    margin-bottom: -8px;
                }

                path {
                    fill: white;
                }
            }
        }
    }
    .create-website-block {
        margin: 20px 0;
    }

    // Widgets
    //==========================================

    // About the author
    .widget-about-author {
        margin:0 0 25px 0;

        & > img {
            margin-bottom: 15px;
        }
        .author-social-links {
            margin: 15px 0;
        }
    }

   // Archive
   .widget_archive {

        select[name="archive-dropdown"] {
              display: block;
              width: 100%;
              max-width: 100%;
              height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
              padding: $padding-base-vertical $padding-base-horizontal;
              font-size: $font-size-base;
              line-height: $line-height-base;
              font-family: arial,sans-serif;
              color: $input-color;
              background-color: $input-bg;
              background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
              border: 0px solid $input-border;
              border-radius: $input-border-radius;
              @include box-shadow(inset 1px 1px 0px rgba(208,199,182,1));

              // Customize the `:focus` state to imitate native WebKit styles.
              //@include form-control-focus();

              // Placeholder
              @include placeholder();

              // Disabled and read-only inputs
              //
              // HTML5 says that controls under a fieldset > legend:first-child won't be
              // disabled if the fieldset is disabled. Due to implementation difficulty, we
              // don't honor that edge case; we style them as disabled anyway.
              &[disabled],
              &[readonly],
              fieldset[disabled] & {
                cursor: not-allowed;
                background-color: $input-bg-disabled;
                opacity: 1; // iOS fix for unreadable disabled content
              }
        }
    }
    .search-form .form-group.has-feedback {
        width: 100%;
        .glyphicons {
            top: 0;
            &:before {
                font-size: $font-size-base;
                color: $gray-light;
            }
        }
    }
    .search-field {
        width: 100%;
    }

    .footer ul.list-unstyled li {
        padding: 0;
    }
}