@import "compass";
@import "glyphicons/css/glyphicons";
@import "glyphicons/css/halflings";
@import "aller_font";

/* Otonomic Satellite Pages styling */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}



@import "otonomic-bootstrap-sass/bootstrap";
@import "rrssb";
@import "all-pages";
@import "side-menu";
@import "otonomic-blog";

body {
    color: $gray-darker;
    background-color: $bright-dark;
    font-family: 'aller','Open Sans', sans-serif;

    /* Sticky footer styles
    -------------------------------------------------- */
    /* Margin bottom by footer height */
    margin-bottom: 540px;
}


.tagcloud > a {
  font-size: 0.8em;
  padding: 1px 5px;
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 6px;
}
.mymail-widget-text {
 line-height: 1.5em;
 margin-bottom: 10px;
}





h2.blog-description {
  font-size: 28px;
  font-weight: normal;
}

.single-list_jobs .navbar-toggle{
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 0;
}

.cus-jumbotron{
  padding-top:0px !important;
}
input[type="text"],input[type="email"],textarea,select{
  outline: none;
}
form#live-search .text-input {
  display: block;
  width: 50%;
  max-width: 100%;
  height: 45px;
  padding: 5px 20px;
  font-size: 15px;
  line-height: 2.2;
  color: #524843;
  background-color: white;
  background-image: none;
  border: 0px solid #cccccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 0px #d0c7b6;
  box-shadow: inset 1px 1px 0px #d0c7b6;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 10px;
}

/*google map css*/
.contact-page .thumbnail {
  display: block;
  padding: 10px;
  margin-bottom: 33px;
  line-height: 2.25;
  background-color: rgb(255, 255, 255);
  border: 0px solid rgb(221, 221, 221);
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 0px rgb(208, 199, 182);
  box-shadow: 0px 2px 0px rgb(208, 199, 182);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contact-page .google-map {
  padding: 15px;
}
.contact-page .thumbnail {
  position: relative;
  overflow: hidden;
  border: none;
}
.contact-page .su-gmap{
  margin:0 !important;
}

.feat-icon1,.feat-icon2{
  display: inline-block;
  margin: 30px 5px 0 0;
  font: 24px/1em 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  color: #1d1d1b;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #29abe2;
  font-size: 50px;
}
.feat-icon1:before{
  float: left;
  content: "\E454";
}
.feat-icon2:before{
  float: left;
  content: "\E362"
}
.icon-head{
  margin-top: 0;float: left;padding-left: 30px;
}
