/* FontFace embed */

/*

	Will import a new font named MyFont with the eot/woff/ttf/svg font files 
	to be located/named as font/myfont.(eot|woff|ttf|svg).
	
	Usage:
	@import 'fontface';
	@include fontFace('MyFont','font/myfont', bold, italic);
*/


@mixin fontFace($family,$src,$weight: normal,$style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.svg##{$family}') format('svg'), // legacy iOS
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'); // Safari, Android, iOS

		font-style: $style;
		font-weight: $weight;
	}
}