extends ../../layouts/basic

block variables
    - var page = { title: 'Product - Otonomic', body_class: '', header_nav_class: '', load_core_css: false }

block head_end_scripts
    link(href='#{site.url}css/product.css', rel='stylesheet', type='text/css')

block body_end_scripts
    script(type='text/javascript', src='#{site.url}js/rollup-landing.js', crossorigin='anonymous')
    // <script type="text/javascript" src="#{site.url}js/tour_with_video.js" crossorigin="anonymous"></script>
    script(type='text/javascript', src='#{site.url}js/bowser.js', crossorigin='anonymous')

block content
    .w.video_header
        .hero_image_overlay.no_events

    #communicate.detail(data-highlight='dm')
        section
            h1.headline
                | Who has the time to build a website?
    //#do_it_for_me.detail
    #powerful.detail.short
        section.powerful
            h1 EXTREMELY POWERFUL. RIDICULOUSLY EASY.
            P You're busy running your business. Your day is filled with handling urgent matters, making customers happy and managing your business. You don't have time to sit for hours and create a website. We can't say we blame you. The state of website builders today is astonishingly awful. It's 2016, and you're still forced to spend hours (days?) building a site you'll probably not be happy with.
            br
            strong Welcome to Otonomic.
            p The world's first platform for small business websites that design themselves. Beautiful, powerful websites made just for businesses, using Artificial Intelligence. Simply connect your Facebook Page or other social media, add some content, and Voila! Get a modern, professional website that actually helps you grow your business, created using our powerful AI designer. What's more, it's super-easy to maintain and control, all by yourself (it's true!).
            br
            a#powerful.btn.ga_track_signup(href='#{site.create_url}') Create a new site now

    #web_to_work.detail
        section
            img.background(src='#{site.url}images/tour/social.png', data-srcset='#{site.url}images/tour/social.png')
            //h1 Focus on your business, let us do the rest.
            h1 Artificial Intelligence that designs & builds your website for you.
            p
                | Get a website that grows your business, using the power of AI. <strong>This isn't another Do-It-Yourselfwebsite builder</strong>.
                br
                br
                | Otonomic imports your existing business content from Facebook, Twitter, Instagram and more, plus any other content you throw at it, to <strong>Auto-Magically design and build a beautiful, powerful and unique website</strong> just for your business.
                br
                br
                | Finally, a site that builds itself so that you don't have to.
                //| Only takes minutes, and you're always in control.
                //| You're free from design decisions. You're free from headache. You're in control. Finally, a site that builds itself so that you don't have to.

    #empower.detail
        section
            img.background(src='#{site.url}images/tour/empower.png', data-srcset='#{site.url}images/tour/empower.png')
            h1
                | Empower your business
                br
                | with a 21st century website.
            p
                | Your website should be focused on growing your small business. We built Otonomic just for small businesses who want to use the power of the Internet to grow. Unleash that power with a site that uses cutting edge web technology, designed with the goal of growing your business.
                br
                br
                strong Doesn't your business deserve a state-of-the-art website that's smart and good looking, too?
                br
                br
                | Get started for <strong>Free</strong>. We don't want anything stopping you from getting a great site. Start with a Free Otonomic.com domain, or upgrade to a&nbsp;
                a(href='../pricing')
                    | premium plan
                | &nbsp;when you're ready to publish to your own domain name.

    #do_it_for_me.detail
        section.do_it_for_me
            h1 Do-It-For-Me, Computer.
            h3 Because DIY Website builders are so last year.
            p
                //| Otonomic uses Artificial Intelligence to gather your business content from around the web - Facebook, Twitter, Instagram and more - and automatically shape it into a beautiful, powerful business website unique to you. Just add your content and watch the site come to life. Your site will even automatically update itself as you post new content to your social media.
                //br
                //br
                | Forget about having to DIY your website design with templates, dragging-and-dropping or dealing with design. Our AI design engine does it all for you. With Otonomic, simply connect your business's social media and our AI designer imports your content and creates you a site Auto-Magically.
            br
            a#do_it_for_me.btn.ga_track_signup(href='#{site.create_url}') Create a new site now
            img.do_it_for_me_img(src='#{site.url}images/tour/do_it_for_me.png', data-srcset='#{site.url}images/tour/do_it_for_me.png')
            p
                | We also automatically keep your site up-to-date as you post new content on your social media or add new content to your site.
                br
                br
                //| From its look & feel, to what's inside, get a state-of-the-art business website that grows your business using the power of the Internet. You don't need to design anything, just add your content and watch Otonomic will build your business's home on the web, Auto-Magically.
                //br
                //br
                strong Finally, getting a great website for you business is fast and easy.
                br
                | So, what are you waiting for exactly?

    #content.detail
        section
            img.background(src='#{site.url}images/tour/content.jpg', data-srcset='#{site.url}images/tour/content.jpg')
            h1 Just add Content. Presto!
            h3 AUTO-IMPORT YOUR SOCIAL MEDIA AND BUSINESS INFO
            p Chances are you have a Facebook Page, Twitter or Instagram account and more. No other website builder lets you automatically import all of your business information and social media content with a click, to create and setup your site in a jiffy. Plus, add all kinds of other content easily, without having to worry about the design or layout.
            strong Why work twice? Your content is already out there - now get it on your site, Auto-Magically.

    #actions.detail
        section
            img.background(src='#{site.url}images/tour/actions.jpg', data-srcset='#{site.url}images/tour/actions.jpg')
            h1 Call-to-Actions that drive growth.
                h3 TURN YOUR VISITORS INTO CUSTOMERS
                p What call-to-actions are fundamental to your business growth? We made it ridiculously simple to define buttons that align with your business goals - and let you grow, grow, grow. Want people to call you, start a real-time chat or book a session? Choose from 10 different call-to-actions, plus automatic features that deeply engage your visitors.
                strong It's time to let the Internet help you grow.
                //strong A website made to let you grow.

    #design.detail
        section
            img.background(src='#{site.url}images/tour/design.png', data-srcset='#{site.url}images/tour/design.png')
            h1 A site that designs itself.
            h3 OTO, YOUR AI WEB DESIGNER
            p Let's face it, you're not a website designer. Do-It-Yourself website builders make you to spend hours (upon hours) designing your site. <strong>Forget DIY, your site should Just-Design-Itself</strong>. Here's what Oto, your AI Designer does:
            ul
                li Auto-magic design and layout of your site
                li Updates itself as you add content or post on your social media
                li Auto-Import your content from Facebook, Instagram, YouTube, Twitter and more
                li 100s of colors and fonts, 1000s of free gorgeous stock photos and videos
            strong Focus on your business, and get a website that designs itself.
            br
            br
            a#get-started-create.get_started_btn.btn.btn_outline.btn_large(href='#{site.create_url}') Get Started with Otonomic

    section.signup.bottom
        div
            h1 Get an Auto-Magic website that works for your business. Start for <strong>Free</strong>.
            a#cta-create.btn.ga_track_signup(href='#{site.create_url}') Create a new site
        //
          <small>You can easily upgrade to our <a href="pricing.php">paid plans</a>, which offer more features and
          controls.</a></small>
