@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_bd-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_bd-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_bd-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_bd-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_lt-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_lt-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_lt-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_lt-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_rg-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_rg-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_rg-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_bdit-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_bdit-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_bdit-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_bdit-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_ltit-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_ltit-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_ltit-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_ltit-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'aller';
    src: url('../fonts/Aller-WebFont/aller_it-webfont.eot');
    src: url('../fonts/Aller-WebFont/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Aller-WebFont/aller_it-webfont.svg') format('svg'),
    url('../fonts/Aller-WebFont/aller_it-webfont.woff') format('woff'),
    url('../fonts/Aller-WebFont/aller_it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}