extends ../../layouts/basic

block variables
    - var page = { title: 'Terms of Service | Otonomic', body_class: '', header_nav_class: '' }

block content
    h1 Otonomic Terms of Service
    //
      <p>
      You can view all of our policy documents, including security and disclosure practices, at <a href="policies">Policies</a>.
      </p>
    .tab_set.on_neutral_grey
        a.selected(href='#') Otonomic TOS
        //
          <a href="terms-of-service/government" >Government TOS Addendum</a>
          <a href="terms-of-service/api" >API TOS</a>
          <i class="tab_caret ts_icon ts_icon_caret_down"></i>
          <i class="tab_caret ts_icon ts_icon_caret_up"></i>
    .tab_pane.selected
        style(type='text/css').
          /*
          .col_right ol li:before,
          #page_contents ol li:before {
          display: inline-block;
          margin-right: 0.75rem;
          font-weight: bold;
          text-align: right;
          content: counters(item,".") ".";
          counter-increment: item;
          }
          .col_right ol ol li:before,
          #page_contents ol ol li:before {
          font-weight: bold;
          margin-left: -1rem;
          margin-right: 0.5rem;
          }
          */
        .col.span_5_of_6
            p
                strong Effective: December 27, 2015
            h3 1. ACCEPTANCE OF TERMS
            | Welcome to Otonomic's website creation service (the "Service"). Your use of the Service is subject to these Terms of Service ("Terms"). We reserve the right to update and change these Terms from time to time without notice to you. These Terms will also be applicable to your use of the Service on a trial basis. By using the Service, you signify your acceptance of these Terms. If you do not agree to these Terms, do not use the Service.
            h3 2. DESCRIPTION OF SERVICE
            | Our web-based Service allows users who register for an account (each an "Account Holder") to create and update an online web site. Once registered, each Account Holder receives his or her own Web Site and may post "Content" (defined in Section 7). Any new features on the Service, including the release of new Otonomic tools and resources, shall be subject to these Terms. To use the Service, you must have access to the Internet, either directly or through devices that access web-based content, and you must pay any fees associated with Internet access. In addition, you must provide all equipment necessary to make such connection to the Internet, including a web-enabled computer. The Service may include certain communications from us, such as service announcements, administrative messages, and the Otonomic Newsletter. These communications are considered part of Otonomic membership. You may not access the Service by any means other than through the Service interfaces we provide you.
            h3 3. REGISTRATION
            | To register as an Account Holder, you must provide us with a valid email address and other information ("Registration Data").You will choose a password and account designation for your web sites during the registration process and you will obtain a Otonomic ID. You are responsible for maintaining the confidentiality of the password and account, and for all activities that occur under your account. In consideration of use of the Service, you agree to maintain and update true, accurate, current and complete Registration Data. If you provide any information that is untrue, inaccurate, not current or incomplete, or if Otonomic has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we may suspend or terminate your account and refuse any and all current or future use of the Service or any portion thereof. Individuals under the age of 13 are prohibited from creating or using accounts through
            a(href='http://otonomic.com', target='blank') Otonomic.com
            | .
            h3 4. CANCELLATION AND TERMINATION
            | If you cancel the Service, your cancellation will take effect immediately. After cancellation, you may no longer have access to your web site and we may delete all information on your web site. We accept no liability for such deleted information or content.
            | For as long as we continue to offer the Services, we will provide and seek to update, improve and expand the Service. As a result, we allow you to access the Service as it may exist and be available on any given day and have no other obligations, except as expressly stated in this Agreement. We may modify, replace, refuse access to, suspend or discontinue the Service, partially or entirely, or change and modify prices for all or part of the Services for you or for all our users in our sole discretion. All of these changes shall be effective upon their posting on our site or by direct communication to you unless otherwise noted. We further reserve the right to withhold, remove and or discard any Content available as part of your account, with or without notice if deemed by us to be contrary to this Agreement. For avoidance of doubt, we have no obligation to store, maintain or provide you a copy of any content that you or others provide when using the Service.
            h3 5. OTONOMIC PRIVACY POLICY
            | How we collect, protect and use your Registration Data and certain other information about you are contained in our
            a(href='#{site.url}/privacy', target='blank') Privacy Policy
            | , which is part of these Terms.
            h3 6. WEBSITE ACCOUNT AND SECURITY
            | You are responsible for maintaining the security of your account and web site, for all activities that occur or actions taken under the account or in connection with the web site. You agree to immediately notify us in writing of any unauthorized uses of the account or any other breaches of security. We will not be liable for any loss or damage from your failure to comply with this security obligation. You acknowledge and agree that under no circumstances will we be liable, in any way, for any or your acts or omissions or those of any third party, including damages of any kind incurred as a result of such acts or omissions.
            h3 7. YOUR RIGHTS IN YOUR CONTENT
            | Otonomic does not claim ownership of your Content, but you give us your permission to host and/or to display your Content on the Service. This permission exists only for as long as you continue to use the Service or remain an Account Holder.
            h3 8. CONTENT AND CONDUCT RULES AND OBLIGATIONS
            | All information, data, text, software, music, sound, photographs, graphics, video, messages, goods, products, services or other materials you post on a web site via the Service ("Content") are the sole responsibility of the person from which such Content originated. You are responsible for all Content that you upload, post, transmit or otherwise make available via the Service. We do not control the Content you post via the Service.
            | By using the Service, you may be exposed to content that is offensive, indecent or objectionable. Under no circumstances will we be liable for your Content or the content of any third party, including, but not limited to, for any errors or omissions in your Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted, transmitted or otherwise made available via the Service. You acknowledge that we do not pre-screen Content, but that we shall have the right (but not the obligation) to refuse, move or delete any Content that is available via the Service. We shall also have the right to remove any Content that violates these Terms or is otherwise objectionable in our sole discretion. You must evaluate, and bear all risks associated with, the use of any Content. You may not rely on any Content created by us. You acknowledge and agree that we may preserve Content and may also disclose Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms; (c) respond to claims that any Content violates the rights of third-parties; or (d) protect our rights, property, or personal safety and those of our users and the public.
            | The technical processing and transmission of the Service, including Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
            | You agree that you will not:
            ol(type='a')
                li
                    | upload, post, transmit, display or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy (up to, but not excluding any address, email, phone number, or any other contact information without the written consent of the owner of such information), hateful, or racially, ethnically or otherwise objectionable;
                li harm minors in any way;
                li
                    | impersonate any person or entity, including, but not limited to, a Otonomic official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;
                li
                    | forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service;
                li
                    | upload, post or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
                li
                    | upload, post or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright, rights of privacy or publicity, or other proprietary rights of any party;
                li
                    | upload, post, or transmit unsolicited commercial email or "spam". This includes unethical marketing, advertising, or any other practice that is in any way connected with "spam", such as
                    ol(type='i')
                        li
                            | sending mass email to recipients who haven't requested email from you or with a fake return address,
                        li promoting a site with inappropriate links, titles, descriptions, or
                        li
                            | promoting your site by posting multiple submissions in public forums that are identical;
                li
                    | upload, post or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
                li
                    | interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;
                li
                    | intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law;
                li "stalk" or otherwise harass another;
                li
                    | promote or provide instructional information about illegal activities, promote physical harm or injury against any group or individual, or promote any act of cruelty to animals. This may include, without limitation, providing instructions on how to assemble bombs, grenades and other weapons or incendiary devices;
                li
                    | offer for sale or sell any item, good or service that (i) violates any applicable federal, state, or local law or regulation, (ii) you do not have full power and authority under all relevant laws and regulations to offer and sell, including all necessary licenses and authorizations, or (iii) we determine, in our sole discretion, is inappropriate for sale through the Service;
                li use the Service as a forwarding service to another web site;
                li
                    | solicit a third party s passwords or personal identifying information for unlawful or phishing purposes;
                li
                    | exceed the scope of the Service that you have signed up for; for example, by accessing and using the tools that you do not have a right to use, or deleting, adding to, or otherwise changing other peoples comments or content; (q) upload, post or otherwise transmit any Content that is intended to take advantage of a user. Such content may include, but is not limited to, "get rich quick", "get paid to surf", pyramid/MLM, or other dubious schemes.
                li
                    | include more than three ad units per page, or any advertising that greatly reduces the usability of the site.
                li
                    | upload files for the sole purpose of having them hosted by us and for use outside of a web site created using the Service.
                li
                    | create a web site that provides an injurious user experience with custom programming. Examples include, but are not limited to, extreme flashing banners and excessive animated movement.
                li
                    | upload, post or otherwise transmit any Content that is adult in nature, such as any nudity in a sexual context, any Content revealing exposed genitalia, or any Content with adult themes
            | We retain the right to terminate any account or user who has violated any of the above prohibitions.
            h3 9. FEES/PAYMENT
            | Some of the features on the Service require payment of fees. If you elect to sign up for these features, you shall pay all applicable fees, as described on the Service in connection with such features selected by you. We reserve the right to change our prices and at any time. You authorize us to make any reasonably necessary inquiries to validate your account and financial information.
            | All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment thereof. You agree to pay for any taxes that might be applicable to your use of the Service and payments you make to us.
            b
                | Minors are not allowed to purchase Premium/Upgraded Services. Accordingly, by purchasing such services the user declares and represents that he/she is more than 18 years of age and that he/she has full legal capacity to complete such contractual action without need for any additional approvals or consents.
            h3 10. MONEY BACK GUARANTEE
            | Otonomic Pro Accounts include a 30-day money back guarantee. If you are dissatisfied with the pro account service for any reason, you can receive a full refund if you cancel your pro account within 30 days of activation. Please direct refund requests to
            a(href='mailto:support@otonomic.com') support@otonomic.com
            | with the subject line: Refund Request.
            | If you elect to purchase your own domain name, this purchase is non-refundable and not subject to this money back guarantee.
            | Downgrading your account may cause the loss of content, features, or capacity of your account. We do not accept any liability for such loss.
            h3 11. ADDITIONAL SOFTWARE
            | If you elect to download or access any additional software or third party content made available by us through the Service, you must agree to additional terms and conditions before you use such software or third party content. If you do not agree to the third party s terms of service or license agreement, do not download the software or content.
            | Your use of any third party software or content obtained through the Service does not transfer to you any rights, title or interest in or to the third party software or such content beyond the terms contained in the third party provider's terms of service or license.
            h3 12. INTERNATIONAL USE
            | Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside.
            h3 13. LINKS
            | The Service may provide, or third parties may provide, links to other web sites or resources. Because we have no control over such sites and resources, we are not responsible for the availability of such external sites or resources, and we do not endorse and are not responsible or liable for any content, advertising, products, or other materials on or available from such sites or resources. We are not liable for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.
            h3 14. THEMES
            | If you choose, you may contribute website themes ("Custom Themes") to the Service for use by other users. You hereby grant and agree to grant us an exclusive, perpetual, sublicensable, worldwide, irrevocable, royalty-free right and license to use, copy, modify, and create derivative works of any Custom Themes contributed by You to the Service, including the HTML code and media assets therefor.
            h3 15. Third Party Content
            | Linked Third Party Content: Otonomic enables you to link to images, animations, videos, audio, fonts, and other content hosted on third party websites (the Linked Content. As a registered user, your creation is saved by Otonomic, but this is separate from the Linked Content, and the existence of your creation in Otonomic does not affect in any manner the ability to view or use Linked Content. If the Linked Content is no longer available or accessible to a user, then those portions of your creation that reference the Linked Content will not work.Otonomic may provide its users the ability to embed images, animations, videos, audio, fonts, and other content owned or provided by third parties into Otonomic created content. In such case, the use of such third party content shall be subject to the compliance with the provisions of these Terms of Use and in addition, the terms of use / end user license agreement of the third party owning or providing the used content.
            | Third Party Content: Otonomic may provide on the Website (including in the editor and/or in templates offered to the Users) certain content such as pictures, fonts, graphical items which are subject to proprietary rights of third parties ("Third Party Content"). You acknowledge and agree that Otonomic shall have the right, at any time, at is sole and exclusive discretion to: (i) remove from the Otonomic Website and/or disable access to such Third Party Content; or (ii) demand that you immediately remove such Third Party Content from any website or other web platform created and/or published by you on the Otonomic Website ("Your Otonomic Content"). If you do not obey to such instructions, and you do not remove the Third Party Content from Your Otonomic Content within no later than 24 hours from the time on which Otonomic provided you the relevant notice, OTONOMIC SHALL HAVE THE RIGHT TO DISABLE THE ACCESS TO YOUR OTONOMIC CONTENT AND/OR DELETE IT AT ITS SOLE AND EXCLUSIVE DISCRETION, WITH NO LIABILITY TO OTONOMIC, AND YOU SHALL NOT BE ENTITLED TO ANY REIMBURSEMENT OF ANY AMOUNT PAID BY YOU TO OTONOMIC. To remove any doubt it is hereby made clear that the provisions of this section above shall apply to any content provided to Users on the Website and which Otonomic requires its removal for any reason.
            h3 16. INDEMNITY
            | You agree to indemnify and hold Otonomic, and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your Content, use of or connection to the Service, violation of these Terms, or violation of any rights of another.
            h3 17. RESALE OF SERVICE
            | You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service without our express written permission.
            h3 18. GENERAL PRACTICES REGARDING USE AND STORAGE
            | We may establish general practices and limits concerning use of the Service and may modify such practices and limits from time to time with or without notice to you.
            h3 19. OUR PROPRIETARY RIGHTS
            | You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that content contained in sponsor advertisements or in information presented to you through the Service or advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by us or our advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service, in whole or in part.
            | We do not want to receive confidential or proprietary information from you through the Service or by email. Unless otherwise agreed in writing by an authorized Otonomic representative, any material, information or idea you transmit to us by any means may be disseminated or used by us or our affiliates without compensation or liability to you for any purpose whatsoever, including, but not limited to, developing, manufacturing and marketing products. However, this provision does not apply to Content (as defined herein), or to personal information that is subject to our Privacy Policy.
            h3 20. DISCLAIMER OF WARRANTIES
            | YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
            ol(type='a')
                li
                    | YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
                li
                    | WE NOT RESPONSIBLE FOR ANY DAMAGE, LOSS OF DATA, CUSTOMER INFORMATION OR VENDOR DATA, REVENUE, OR OTHER HARM TO BUSINESS ARISING OUT OF DELAYS, MISDELIVERY OR NONDELIVERY OF INFORMATION, RESTRICTION OR LOSS OF ACCESS, BUGS OR OTHER ERRORS, UNAUTHORIZED USE DUE TO YOUR SHARING OF ACCESS TO THE SERVICE, OR OTHER INTERACTION WITH THE SERVICE. YOU ARE RESPONSIBLE FOR MAINTAINING AND BACKING-UP YOUR DATA AND INFORMATION THAT MAY RESIDE ON THE SERVICE. OTONOMIC DOES NOT WARRANT THAT (i) THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE SERVICE WILL BE CORRECTED.
                li
                    | ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.
            h3 21. LIMITATION OF LIABILITY
            | WE WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF OTONOMIC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE. OUR AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICE SHALL NOT EXCEED THE AMOUNTS PAID BY YOU TO FOR THE PAST THREE MONTHS OF THE SERVICE IN QUESTION.
            h3 22. EXCLUSIONS AND LIMITATIONS
            | SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTIONS 20 AND 21 MAY NOT APPLY TO YOU.
            h3 23. GENERAL
            | We may provide notices to you via either email or regular mail. The Service may also provide notices of changes to these Terms or other matters by displaying notices or links to notices to you generally on the Service. These Terms and the relationship between you and Otonomic shall be governed by the laws of the State of Israel without regard to its conflict of law provisions. You and Otonomic agree to submit to the personal and exclusive jurisdiction of the courts located within Tel Aviv, Israel. The failure of Otonomic to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. These Terms constitute the entire agreement between you and us and govern your use of the Service, superseding any prior agreements (including, but not limited to, any prior versions of these Terms). You also may be subject to additional terms and conditions that may apply when you use affiliate or other services, third-party content or third-party software. If any provision of these Terms or incorporated documents are found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or these Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in these Terms are for convenience only and have no legal or contractual effect. You acknowledge and agree that you are each waiving the right to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, more than one person's claims may not be consolidated under any circumstances, in any form of any class or representative proceeding or otherwise.
            h3 24. VIOLATIONS
            | Please visit our Abuse page to report any violations of these Terms.
            | For the purpose of these Terms of Use, a "Sub-website" of Otonomic shall be considered as any website which is part of the Otonomic service offering and which refers to these Terms of Use as the terms governing the use of such websites.
            | PLEASE READ THIS AGREEMENT CAREFULLY AND SAVE IT. IF YOU DO NOT AGREE WITH IT, YOU SHOULD LEAVE THE OTONOMIC WEBSITE AND DISCONTINUE USE OF THE OTONOMIC SERVICES IMMEDIATELY. IF YOU WISH TO BECOME A MEMBER AND MAKE USE OF THE OTONOMIC SERVICES, YOU MUST READ THIS AGREEMENT AND INDICATE YOUR ACCEPTANCE DURING THE REGISTRATION PROCESS.In order to participate in certain Otonomic Services, you may be required to agree to additional terms and conditions. Unless otherwise provided by the additional terms and conditions applicable to the Otonomic.com Services in which you choose to participate, those additional terms are hereby incorporated into this Agreement as an integral part hereof.
            h3 25. OWNERSHIP OF CONTENT
            | Otonomic does not have the ability to determine the actual owner of content created and/or uploaded to the Website. Accordingly:(i) in respect to content (such as websites, webpages and widgets) created and/or uploaded to the Website by a free User (and which Otonomic has not been paid for), the owner of such content shall be considered as the Otonomic User listed as the owner of the Otonomic account under which the content has been created or uploaded to the Website;(ii) in respect to websites created on Otonomic's Website and which have an external URL (i.e. a domain name imported or purchased as part of a "Premium Upgrade"), Otonomic shall consider the owner of such website as the person or entity registered as the owner of the domain according to the WHOIS database as provided on the (www.whois.net) website. To remove any doubt, the identity of the person or entity that has paid Otonomic for the Charged Services shall not be considered by Otonomic as creating any ownership or other rights in or in relation to such website;Otonomic shall not provide any information and/or details regarding any content created or uploaded to the Website other than to the owners of such content as determined above.
            h3 26. Intellectual Property Rights
            | The Content on the Otonomic Website (as defined above), except all User Submissions (as defined below), is subject to copyright and other intellectual property rights under local and international laws conventions. To the best of its knowledge, Otonomic uses only Content which is allowed and permitted for use by the owner/s of the copyrights and other intellectual property rights therein. Content on the Website is provided to you AS IS only and it may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners (if such consent is required) (outside of a Otonomic document). Otonomic reserves all rights not expressly granted in and to the Website and the Content. You agree to not engage in the use, copying, or distribution of any of the Content other than expressly permitted herein, including any use, copying, or distribution of User Submissions of third parties obtained through the Website for any commercial purposes. You agree not to circumvent, disable or otherwise interfere with security related features of the Otonomic Website or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Otonomic Website or any of the Content therein.
            | G. You understand that when using the Otonomic Website, you will be exposed to User Submissions from a variety of sources, and that Otonomic is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User Submissions. You further understand and acknowledge that you may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Otonomic with respect thereto (if any), and agree to indemnify and hold Otonomic, its Owners/Operators, affiliates, harmless to the fullest extent allowed by law regarding all matters related to your use of the site.
            h3 27. General
            | You agree that:
            ol(type='a')
                li the Otonomic Website shall be deemed solely based in Israel; and
                li
                    | the Otonomic Website shall be deemed a passive website that does not give rise to personal jurisdiction over Otonomic, either specific or general, in jurisdictions other than Israel. These Terms of Service shall be governed by the internal substantive laws of the State of Israel, without respect to its conflict of laws principles. Any claim or dispute between you and Otonomic that arises in whole or in part from the Otonomic Website shall be decided exclusively by a court of competent jurisdiction located in Tel Aviv, Israel. The application of the United Nations Convention of Contracts for the International Sale of Goods is expressly excluded. These Terms of Use, together with the Privacy Policy and any other legal notices published by Otonomic on the Website, shall constitute the entire agreement between you and Otonomic concerning the Otonomic Website. If any provision of these Terms of Use is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full force and effect. No waiver of any term of these Terms of Use shall be deemed a further or continuing waiver of such term or any other term, and Otonomic's failure to assert any right or provision under these Terms of Use shall not constitute a waiver of such right or provision. YOU AND OTONOMIC AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE OTONOMIC WEBSITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION OCCURS. OTHERWISE, SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED.By registering to the Otonomic Website and providing your email address, you expressly agree to receive promotional content from Otonomic, by mail or email, from time to time. If you provide Otonomic with your phone number (at any stage of use of the Services), Otonomic shall be entitled to call you or send you promotional SMS notices from time to time.  If you wish not to receive such promotional content / notices, you may notify Otonomic at any time.
            h3 28. BETA Test Warning
            | Please note that the Website is currently in its BETA version and undergoing BETA testing. You understand and agree that the Services may still contain software bugs, suffer disruptions and not operate as intended or designated. Your use of the Services at this stage signifies your understanding of and agreement to participate in the Service BETA testing.
        .clear_both
