<div id="otofb-selectpage">
    <h2>
        Select a page to create website
    </h2>
    {{fb-pages}}
        <div data-id="{{page-id}}" class="fb-page-select clearfix">
            <div class="pull-left">
                <img width="80" height="80" src="{{page-image}}?width=80&height=80" />
            </div>
            <div class="pull-left fb-page-details">
                <div>{{page-name}}</div>
            </div>
        </div>
    {{/fb-pages}}
</div>