.loading-box {
    display: none;
    opacity: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

.masking{
    background: url("../images/loading/backscreen.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.loading-page{
    margin: 50px auto 0;
    text-align: center;
}

.loading-content{
    padding: 60px 0;
}

.loading-page .loading-content p{
    color: #ffffff;
    font-size: 47px;
    line-height: 47px;
    margin: 10px 0px;
}

.loading-page .loading-content span{
    font-size: 35px;;
}

.loading-page .loading-content span{
    color: #ffffff;
    font-size: 12px;
}

.loading-image{
    background:#000000;
    opacity: 1;
    width: 450px;
    height: 220px;
    margin: 15px auto;
}

@media (max-width: 767px){
    /* Loading page */

    .loading-page .loading-content p {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0px;
    }
    .loading-page .loading-content span {
        font-size: 14px;
    }
    .loading-content {
        padding: 0 15px;
    }
    .loading-image {
        width: 100%;
        height: initial;
    }
    .loading-image img{
        width: 100%;
    }
}

#sit_del_msg{
            color: #fff;
            position: absolute;
            left: 40%;
            top: 45%;
            background-color: #f54500;
            padding: 20px;
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #fff;
        }

