/*@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);*/
@import url(../fonts/opensanshebrew/stylesheet.css);
body {
    font-family: 'open_sans_hebrewregular', arial,  sans-serif;
    /*font-family: 'Open Sans Hebrew', serif;*/
}

h1, h2, h3, h4, h5 {
  font-family: inherit;
  font-weight: normal;
}
body.rtl .section-home h2, .section-home h2 {
  font-family: inherit;
}
.section-social .footer-links .footer-link {
    border-right: 0;
}

.mobile-placeholder2 {
    background-image: none;
}

body.rtl {
    text-align: right;
    direction: rtl;
}
body.rtl .media-body.pull-left {
    float: right;
    text-align: right;
    padding-right: 10px;
}
body.rtl .media-body.pull-right {
    float: left;
    text-align: left;
}
body.rtl .section-home .bg-image img {
    left:550px;
}
body.rtl .icon_clear.close-search .glyphicon.glyphicon-remove {
    float:left;
}
body.rtl .section-media .media-item {
    border-right: 1px solid #ccc;
    border-left: 0;
}
body.rtl .section-home h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.15em;
}
.p2s_fanpages span.icon_clear {
    left: 0;
    right: initial;
    border-left: 2px solid #666161;
    border-right: 0;
}
.t_box, .search_progress {
    text-align: right;
}

.p2s_fanpages .media {
    float: right;
    margin: 0;
    width: 95%;
    text-align: right;
    /*margin-left: 17px !important;*/
}

.p2s_fanpages .search_results{
    overflow: hidden !important;
    overflow-y: scroll !important;
}



div#luckyext__watcher_poll_box {
    direction: ltr;
}