
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Changa+One|Dosis:300,400,500,600,700|Exo+2:200,800,900);
/*@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:200,800,900);*/
/* Type */
body{ font-family: 'Dosis', sans-serif;}
h1,h2,h3,h4,h5 { 
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
	/*font-family: 'Changa One', cursive, Arial, serif; font-weight: 400; */
}

/* Defaults*/
body{
	padding-top: 70px;
	background-color: #222;
}
b, strong {
font-weight: 800;
}
p{line-height: 23px;}
/* Custom button
-------------------------------------------------- */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: none;
  background-color: #f54500;
  border-radius: 0;
  font-weight: 500;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #f54500 0%, #f54500 100%);
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ttc:hover {
  background-position: 0 -15px;
}
.btn-ttc:focus {
  color: white;
}

.btn-facebook-connect {
	color: #146aa7;
	line-height: 2.33;
	font-weight: normal;
	background-color: white;

}
.btn-facebook-connect img {
	margin-right: 10px;
	width: 28px;
}
/* NavBar */
.navbar{
	border-radius: 0;
	border-width: 0;
    min-height: 70px;
   /* overflow: hidden;*/
}
.navbar-toggle {
	border: 0px solid transparent;
	display: block;
	margin-right: 0;
	padding: 14px 19px 8px 19px;
}
.navbar-toggle .icon-bar {
	height: 6px;
	width: 30px;

}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-brand {
	float: none;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}
.navbar-brand img{
	margin-top: -65px;
	width: 126px;
}
.navbar-header {
	float: none;
	display: block;
}
.navbar .center-logo-holder{
	position: absolute;
	overflow: hidden;
	height: 70px;
	top: 0;
	margin: 0 auto;
	width: 175px;
	left: 50%;
	margin-left: -87px;
}
.navbar .center-logo{
	width: 148px;
	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -74px;
	text-align: center;
}
.navbar .center-logo .logo-img{
	margin-left: 11px;
    margin-bottom: 6px;
}
.navbar .facebook-input-holder{
	width: 550px;
	position: absolute;
	top: -50px;
	right: 50%;
	margin-right: -275px;
}
.navbar .facebook-input-holder .btn-ttc{
	box-shadow: 2px 2px 0px rgba(0,0,0,0.25);
	width: 150px;
	height: 37px;
	margin-left: 5px;
	font-size: 16px;
}
.navbar .facebook-input-holder #main_search_box2.form-control{
	width: 390px;
	height: 37px;
	border:0;
	border-radius: 0;
	font-size: 16px;
}
/* ## Warpper ## */
#wrapper #sidebar-wrapper {
  top: 0;
  right: -250px;
  width: 250px;
  border-left: 2px solid #000;
  background: #3b3b3b;
  opacity: 0;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1031;
}

#wrapper #page-content-wrapper {
  position: absolute;	
  width: 100%;
  right: 0;
}

#wrapper #sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 248px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#wrapper #sidebar-wrapper .sidebar-nav li{
	border-bottom:1px solid #595657;
}
#wrapper #sidebar-wrapper .sidebar-nav li a{
	display: block;
	height: 70px;
	color: white;
	font-size: 22px;
	line-height: 70px;
}
#wrapper #sidebar-wrapper .sidebar-nav li a:hover,
#wrapper #sidebar-wrapper .sidebar-nav li a:focus,
#wrapper #sidebar-wrapper .sidebar-nav li a:active{
	text-decoration: none;
}
#wrapper #sidebar-wrapper .sidebar-nav li a .sidebar-icon{
	display: inline;
	text-align: center;
	margin: 5%;
}
#wrapper #sidebar-wrapper .sidebar-nav li a .sidebar-icon img{
	width: 10%;
	margin: 0 auto;
}
#wrapper #sidebar-wrapper .sidebar-nav li a .sidebar-icon.about img{
	width: 12%;
	margin-right: -2%;
}
#wrapper #sidebar-wrapper .sidebar-nav .sidebar-login{
	background-color: #231f20;
}
#wrapper #sidebar-wrapper .sidebar-nav .sidebar-login .glyphicon{
	width: 25px;
}
/* ## Sections ## */

/* Home */
.section-home{
	background-color: #29abe2;
	overflow: hidden;
}
.section-home h1{
	margin-top: 42px;
	margin-bottom: 10px;
	color: white;
	font-size: 42px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.section-home h2{
	font-family: 'Dosis', sans-serif;
	max-width: 470px;
	margin: 0 auto;
	color: white;
	font-size: 23px;
	font-weight: 300;
	line-height: 29px;
	margin-bottom: 34px;
}
.section-home .btn-ttc{
	box-shadow: 2px 2px 0px #3f5059;
	width: 180px;
	height: 50px;
	margin-left: 10px;
	font-size: 18px;
}
.section-home .form-inline #main_search_box.form-control
{
	width: 460px;
	height: 50px;
	border:0;
	box-shadow: inset 2px 2px 0px rgba(87,110,122,1);
	border-radius: 0;
	font-size: 18px;
}
.section-home .bg-image{
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.section-home .bg-image img{
	position: relative;
	top: 0;
	margin-left: 50%;
	left: -1250px;
}

.creation-option {
    margin-top:20px;
    margin-bottom:20px;
    font-size:1.5em;
    color:#fff;
}
.creation-option a{
    color: #F5CD00;
    font-weight: bold;
}

/* ## Likes ## */
.section-likes{
	height: 100px;
	padding-top: 0px;
	padding-bottom: 20px;
	background-color: #231f20;
}
.section-likes h3{
	color: #fff;
}
.section-likes .btn-social {
    width: inherit;
    height: inherit;
    border: 0;
    color: #fff;
    background-color: #3b3b3b;
    box-shadow: 1px 1px 1px 0 #0d0d0d;
    font-size: 16px;
    line-height: 1.5em;
    padding: 10px 30px;
}
.section-likes .btn-social img{
    margin-top: -5px;
}

.section-likes .likes-div{
	margin: 0 auto;
}
.section-likes .like-div{
	min-width: 90px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.section-likes .fb {
	padding-right: 28px;
}
.section-likes .btn-group{
	width: 60%; 
	margin: 20px auto 0 auto;
}
.section-likes .btn-group .dropdown-menu{
	min-width: 100%;
	background-color: #3b3b3b;
	border:0;
	border-radius: 0;
	padding: 0px 0;
	margin-bottom: -50px;
}
.section-likes .btn-group .dropdown-menu li{
	border-bottom: 1px solid #595657;
	padding: 15px 0;
	text-align: left;
	padding-left: 20%;
}


/* ## Features ## */
section.features .row{
	background-color: #f2f0f1;
}
.section-features{
	margin: 0 auto;
}
.section-features .title h2{
	font-size: 41px;
}
.section-features h3{
	font-family: 'Dosis', sans-serif;
}
.section-features > div{
	text-align: center;
	height: 395px;
	padding-right: 40px;
	padding-left: 40px;
}
.section-features .feature{
	overflow: hidden;
	background-color: #f2f0f1;
}
.section-features .feature:hover{
	background-color: #fff;
}
.section-features .title{
	display: table;
    height:395px; /* height of parent */
    overflow: hidden;
	text-align: left;
	color: white;
	background-color: #ffc430;
	/*padding: 120px 50px 120px 50px;*/
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.section-features .title .title-inner{
	display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.section-features .feature-icon{
	margin-top: 50px;
	margin-bottom: 150px;
	width: 218px;
	transition: all 0.4s ease 0s;
}
.section-features h3{
	padding-bottom: 10px;
	font-family: 'Exo 2' sans-serif;
	font-weight: 800;
	text-align: left;
}
.section-features p{
	opacity: 0;
	font-size: 18px;
	text-align: left;
	transition: all 0.5s ease 0s;
}
.section-features .feature-icon.active{
	margin-top: 30px;
	margin-bottom: 20px;
	width: 160px;
}
.section-features .feature h3.active{
	padding-bottom: 15px;
	margin: 0 0 0 0px;
	font-weight: 600;
}
.section-features .feature p.active{
	opacity: 1;
}

/* ## Reviews ## */

.section-reviews{
	background-color: #29abe2;
	padding-bottom: 150px;
}
.section-reviews-inner{}
.section-reviews h2{
	margin-top: 42px;
	margin-bottom: 80px;
	color: white;
	font-size: 42px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.section-reviews h3{
	color: black;
	font-size: 23px;
	letter-spacing: 0.007em;
	margin-bottom: 2px;
}
.section-reviews h4{
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.section-reviews p{
	color: white;
	font-size: 18px;
}

/* ## Flippin ## */
.ch-item {
	width: 290px;
	height: 494px;
	border-radius: 0;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0;
	background-position: center center;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	overflow: hidden;
	text-align: center;
}

.ch-info .ch-info-back {
	padding-left: 10px;
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: transparent;
	opacity: 0;
}
/* Diabled hover Effect*/
/*.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}


.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}*/
.ch-item .ch-text{
	position: absolute;
	top: 243px;
	margin: 0 40px;
}

.ch-item .ch-text h3{ text-align: left;}
.ch-item .ch-text h4{ 
	text-align: left;
	margin: 8px 0 10px;
	opacity: 1; /*make visible  deafult = 0*/
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.ch-item .ch-text p{
	opacity: 1; /*make visible  deafult = 0*/
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.ch-item .ch-text > h4 > a{
	color:#000;
	padding: 0;
	text-decoration: none;
}
.ch-item .ch-text > h4 > a:hover{
	color:#fff;
	padding: 5px;
	text-decoration: none;
	background-color: #0f6b99;
}
.ch-item:hover .ch-text > h4{
	opacity: 1;
}
/*.ch-item:hover .ch-text > h4 > a{
	color: black;
	padding: 5px;
}*/
/*.ch-item:hover .ch-text > h4 > a:hover{
	color: black;
	text-decoration: none;
	background-color: #ffc430;
}*/
.ch-item:hover .ch-text > p{
	opacity: 1;
}
/* ## Section Media ## */
.media-links .row{
	background-color: #fff;
}
.section-media {
	margin-top: 20px;
	padding-bottom: 60px;
	text-align: center;
}
.section-media .media-item{
	display: inline-block;
	border-right: 1px solid #cccccc;
}
.section-media .media-item:last-child{
	border: 0;
}
.section-media .media-item img{
	margin: 0 10px;
}
/* ## Section About ## */
.section-about{
	background-color: #acbf00;
	overflow: hidden;
}
.section-about-inner{}
.section-about .drop-screen{
	height: 80px;
	width: 560px;
	position: absolute;
	margin-top: 0px;
	left: 50%;
	margin-left: -280px;
	background-color: white;
	border-right: 2px solid #758200;
	border-bottom: 2px solid #758200;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.section-about .drop-screen.active{
	height: 620px;
}
.section-about .drop-screen-inner{
	padding: 10px 60px 33px 60px;
	overflow: hidden;
	height: 100%;
}
.section-about .drop-screen .drop-screen-inner img{
	margin-left: 36px;
}
.section-about .drop-screen h2{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 42px;
	text-align:center;
}
.section-about .drop-screen h3{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
}
.section-about .drop-screen p{
	line-height: 23px;
	font-size: 18px;
	margin-top: 13px;
}
.section-about .bottom-bar{
	background-color: #5a5a5a;
	height: 19px;
	border-top: 1px solid #cbcbcb;
}
.section-about .bottom-bar-side-left{
	position: absolute;
	margin-left: -4px;
	background-color: #3b3b3b;
	border-radius: 50%;
	height: 18px;
	width: 9px;
}
.section-about .bottom-bar-side-right{
	margin-right: -6px;
	background-color: #5a5a5a;
	border-radius: 50%;
	height: 18px;
	width: 9px;
}
.section-about .bottom-bar-handle{
	text-align: center;
	margin-top: 18px;
	cursor: pointer;
	z-index: 1;
}
.section-about .bg-text{
	margin-top: 160px;
	padding: 15px;
	width: 560px;
	color: white;
}
.section-about .bg-text h3{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.section-about .bg-text p{
	margin: 20px 0;
	font-size: 18px;
}
.section-about .bg-about{
	position: relative;
	height: 260px;
	margin-top: 50px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.section-about .bg-about.active{
	margin-top: 280px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.section-about .bg-about .team-default{
	position: absolute;
	margin-top: 215px;
	margin-left: 50%;
	left: -470px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.section-about .bg-about .team-default.active{
	margin-top:26px;
}
.section-about .bg-about .team-active{
	position: absolute;
	margin-top: 230px;
	margin-left: 50%;
	left: -540px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.section-about .bg-about .team-active.active{
	margin-top: 1px;
}
.section-about .bg-about .computers{
	position: absolute;
	bottom: 0;
	margin-left: 50%;
	left: -1250px;
}
/* ## Section Social ## */
.section-social{
	background-color: #231f20;
}
.section-social h3{
	color: white;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
    font-weight: normal;
}
.section-social .social-links{
	width: 642px;
}
.section-social .social-links .social-link-holder{
	display: inline-block;
	width: 158px;
	height: 118px;
	overflow: hidden;
}
.section-social .social-links .social-link-holder.google-plus{background-color: #f54500;}
.section-social .social-links .social-link-holder.facebook{background-color: #3b5998;}
.section-social .social-links .social-link-holder.twitter{background-color: #00aced;}
.section-social .social-links .social-link-holder.email{background-color: #0774af;}

.section-social .social-links .social-link-holder {
    width:60px;
    height:60px;
}
.social-link-holder {
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.social-links .img-responsive {
    max-width: 100%;
    height: auto;
}

.social-link-holder img {
    transition: .5s;
}
.social-link-holder img:hover {
    transform: scale(1.1) rotate(360deg);
}


.section-social .footer-links{
	max-width: 600px;
	margin-top: 32px;
	margin-bottom: 40px;
}
.section-social .footer-links .footer-link{
	width: 30%;
	text-align: center;
	display: inline-block;
	padding: 0 35px;
	overflow: hidden;
	border-right: 1px solid #4d494a;
}
.section-social .footer-links .footer-link:last-child{
	border:none;
}
.section-social .footer-links .footer-link a{
	font-weight: 300;
	font-size: 16px;
	color: #b2a8a8;
	letter-spacing: -0.005em;
}
.section-social .footer-links .footer-link a:hover{
	text-decoration: none;
}
.section-social .powered-by{
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
.section-social .powered-by img{
	height: 36px;
	margin-top: -22px;
}
/* Mobile Specific
------------------------------------------------------------------ */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}
.carousel-indicators {
	position: static;
	bottom: initial;
	left: initial;
}
.carousel-indicators li ,
.carousel-indicators li.active{
	margin: 0;
	height: auto;
	border: 0;
	border-radius: 0;
}
.carousel-caption{
	padding-bottom: 15px;
}
/* Features */
section.features .features-mobile{
	background-color: #ffc430;
}
.features-mobile h2{
	color: #fff;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.features-mobile .carousel-tabs{
	width: 100%;
	height: auto;
	list-style: none;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	border-top: 1px solid #fff;
	text-align: left;
}
.features-mobile .carousel-tabs li{
	width: 20%;
	display: inline-block;
	border-right: 1px solid #fff;
	margin-right: -4px;
	margin-bottom: -5px;
	box-sizing: content-box;
}
.features-mobile .carousel-tabs li:last-child{
	border-right:0;
}
.features-mobile .carousel-tabs li.active{
	background-color: white;
}
.features-mobile .carousel-inner{
	background-color: white;
}
.features-mobile .carousel-inner .item{
	padding-top: 20px;
	min-height: 400px;
}
.features-mobile .carousel-inner .item img{
	margin: 0 auto;
	width: 50%;
}
.features-mobile .carousel-inner .carousel-caption{
	position: relative;
	padding-right: 12%;
	padding-left: 12%;
	right: 0;
	left: 0;
	text-align: left;
	color: #000;
	text-shadow:none;
}
.features-mobile .carousel-inner .carousel-caption p{
	color: #736c6c;
	font-size: 17px;
}

.features-mobile li .carousel-features-ico-1{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-features-icon-1.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li.active .carousel-features-ico-1{
	 background: 0% 100% url('../images/mobile-features-icon-1.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li .carousel-features-ico-2{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-features-icon-2.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li.active .carousel-features-ico-2{
	 background: 0% 100% url('../images/mobile-features-icon-2.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li .carousel-features-ico-3{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-features-icon-3.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li.active .carousel-features-ico-3{
	 background: 0% 100% url('../images/mobile-features-icon-3.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li .carousel-features-ico-4{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-features-icon-4.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li.active .carousel-features-ico-4{
	 background: 0% 100% url('../images/mobile-features-icon-4.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li .carousel-features-ico-5{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-features-icon-5.png') no-repeat;
	 background-size: 100% auto;
}
.features-mobile li.active .carousel-features-ico-5{
	 background: 0% 100% url('../images/mobile-features-icon-5.png') no-repeat;
	 background-size: 100% auto;
}

/* reviews */
.reviews-mobile{
	background-color: #29abe3;
}
.reviews-mobile h2{
	color: #fff;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.reviews-mobile .carousel-tabs{
	width: 100%;
	height: auto;
	list-style: none;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	border-top: 1px solid #fff;
	text-align: left;
}
.reviews-mobile .carousel-tabs li{
	width: 25%;
	display: inline-block;
	border-right: 1px solid #fff;
	margin-right: -4px;
	margin-bottom: -5px;
	box-sizing: content-box;
}
.reviews-mobile .carousel-tabs li:last-child{
	border-right:0;
}
.reviews-mobile .carousel-tabs li.active{
	background-color: white;
}
.reviews-mobile .carousel-inner{
	background-color: white;
}
.reviews-mobile .carousel-inner .item{
	padding-top: 20px;
	min-height: 400px;
}
.reviews-mobile .carousel-inner .item img{
	margin: 0 auto;
	width: 60%;
}
.reviews-mobile .carousel-inner .carousel-caption{
	position: relative;
	padding-right: 12%;
	padding-left: 12%;
	right: 0;
	left: 0;
	text-align: left;
	color: #000;
	text-shadow:none;
}
.reviews-mobile .carousel-inner .carousel-caption p{
	color: #736c6c;
	font-size: 17px;
}

.reviews-mobile li .carousel-reviews-ico-1{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-reviews-icon-1.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li.active .carousel-reviews-ico-1{
	 background:  0% 100% url('../images/mobile-reviews-icon-1.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li .carousel-reviews-ico-2{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-reviews-icon-2.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li.active .carousel-reviews-ico-2{
	 background: 0% 100% url('../images/mobile-reviews-icon-2.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li .carousel-reviews-ico-3{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-reviews-icon-3.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li.active .carousel-reviews-ico-3{
	 background: 0% 100% url('../images/mobile-reviews-icon-3.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li .carousel-reviews-ico-4{
	 padding:50%;
	 background: 0px 0px url('../images/mobile-reviews-icon-4.png') no-repeat;
	 background-size: 100% auto;
}
.reviews-mobile li.active .carousel-reviews-ico-4{
	 background: 0% 100% url('../images/mobile-reviews-icon-4.png') no-repeat;
	 background-size: 100% auto;
}
/* about */
.about-mobile{
	background-color: white;
}
.about-mobile h2{
	color: #fff;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
.about-mobile .carousel-tabs{
	width: 100%;
	height: auto;
	list-style: none;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	text-align: left;
}
.about-mobile .carousel-tabs li{
	width: 50%;
	display: inline-block;
	border-right: 1px solid #fff;
	margin-right: -4px;
	margin-bottom: -5px;
	box-sizing: content-box;
}
.about-mobile .carousel-tabs li:last-child{
	border-right:0;
	background-color: white;
}
.about-mobile .carousel-tabs li.active{
	background-color: #29abe3;
}
.about-mobile .carousel-inner{
	background-color: #acbf00;
}
.about-mobile .carousel-inner .item{
	padding-top: 20px;
	min-height: 625px;
}
.about-mobile .carousel-inner .item img{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.about-mobile .carousel-inner .carousel-caption{
	position: relative;
	padding-right: 12%;
	padding-left: 12%;
	right: 0;
	left: 0;
	text-align: left;
	color: #000;
	text-shadow:none;
}
.about-mobile .carousel-inner .carousel-caption p{
	color: white;
	font-size: 17px;
}

.about-mobile li .carousel-about-ico-1{
	 padding:20%;
	 background: 50px -10px url('../images/mobile-about-icon-1.png') no-repeat;
	 background-size: 50% auto;
}
.about-mobile li.active .carousel-about-ico-1{
	 background:50px -100px url('../images/mobile-about-icon-1.png') no-repeat;
	 background-size: 50% auto;

}
.about-mobile li .carousel-about-ico-2{
	 padding:20%;
	 background: 50px -10px url('../images/mobile-about-icon-2.png') no-repeat;
	 background-size: 50% auto;
}
.about-mobile li.active .carousel-about-ico-2{
	 background:50px -100px url('../images/mobile-about-icon-2.png') no-repeat;
	 background-size: 50% auto;
}

/* mobile Media items*/
.mobile-media-item-holder{
	position: relative;
	min-height: 1px;
	/*border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;*/
	width: 33.333333%;
	float: left;
	padding: 4% 2%;
	background: #f2f0f1 right top url('../images/red-tri.png') no-repeat;
	background-size: 15% auto;
}
.mobile-media-item-holder:hover{
	background-color: #fff;
}
.mobile-media-item-holder:last-child{
	margin-bottom: 0px;
	border-right:0;
}
.mobile-media-item-holder.bottom{
	/*border-bottom: 1px solid #cccccc;*/
}
.mobile-media-item{
}
.mobile-media-item-holder.bottom:last-child .mobile-media-item {
	/*margin-bottom: -1px;*/
}


.navbar-header a.language-english {
    display: block;
    float: left;
    margin: 11px 0 11px 11px;
    width: 48px;
    height: 48px;
    text-indent: 9999px;
    font-size: 0;
    background: url(../images/en-flag.png) no-repeat center;
    background-size: 100% 100%;
}


/* Gray scale class
-------------------------------------------------------------------*/
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all 1s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale.disabled {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

/*img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
*/
/*custom CSS */
.portfolios-inner
{
	background:#ffffff;
	 padding: 20px 0 40px;
}
.port-heading {
    text-align: center;
	color:#333333;
	margin-bottom:30px;
}
.port-inner
{
	text-align:center;
}
.port-inner img {
	max-width:270px;
	height:auto;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform:  scale(1) ;
	-o-transform:  scale(1) ;
	-ms-transform:  scale(1) ;
}
.port-inner:hover img {
	transform: scale(1.2);
	-webkit-transform:scale(1.2) ;
	-moz-transform: scale(1.2) ;
	-o-transform: scale(1.2) ;
	-ms-transform: scale(1.2) ;
}
.port-inner p {
    margin-top: 20px;
	font-size:16px;
}
.port-inner:hover p
{
	font-weight:bold;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.port-inner img
	{
		max-width:200px;
	}
	.port-inner:hover img {
	transform: scale(1.1);
	-webkit-transform:scale(1.1) ;
	-moz-transform: scale(1.1) ;
	-o-transform: scale(1.1) ;
	-ms-transform: scale(1.1) ;
}
}
@media (max-width:480px) {
	.section-home h1 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.section-home h2 {
		margin-bottom: 10px;
	}
	.port-inner img
	{
		max-width: 232px;
	}
}
@media (max-width:767px) {
	.port-inner
	{
		margin-bottom:30px;
	}
	.carousel-caption p{
		font-size: 19px!important;
	}
	.navbar .facebook-input-holder {
		width: 100%;
		position: absolute;
		top: -50px;
		right: 0;
		left: 0;
		text-align: center;
	}
	.navbar .facebook-input-holder .btn-ttc {
		width: 100%;
		height: 50px;
		margin-top: -5px;
		margin-left: 0;
		padding: 4px;
		font-size: 16px;
		float: right;
	}
	.navbar .facebook-input-holder #main_search_box2.form-control {
		width: 100%;
		height: 50px;
		margin-top: -5px;
		font-size: 16px;
	}
	.mobile-header-placeholder{
		background-size: 95% 95%;
		background: #fff center center url('../images/mobile-header-ph.png') no-repeat;
	}
	.mobile-placeholder2{
		background-size: 100%!important;
		background: #fff left center url('../images/mobile-header-ph-2.png') no-repeat;
	}
	.form-inline .form-group.header-search-input input::-webkit-input-placeholder {		
		color: transparent;
	}
	.form-inline .form-group.header-search-input input::-moz-placeholder { 
		color: transparent;
	}
	.form-inline .form-group input#main_search_box::-webkit-input-placeholder {		
		color: transparent;
	}
	.form-inline .form-group input#main_search_box::-moz-placeholder { 
		color: transparent;
	}
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-group.header-search-input {
		width: 55%;
	}
		.form-inline .form-group.header-search-button {
		width: 35%;
	}
	.navbar .center-logo .logo-img {
		margin-top: 4px;
		margin-bottom: 5px;
/*		width: 120px;*/
	}
  .section-home h1,
  .section-social h2,
  .section-reviews h2{
  	font-size: 24px;
  }
	.section-home p{
		font-size: 23px;
		line-height: 23px;
	}
  .section-social .social-links,
  .section-social .footer-links {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.section-social .footer-links .footer-link {
			padding: 0;
			width: 32%;
			text-align: center;
			vertical-align: middle;
	}
	.section-social .footer-links .footer-link a {
			font-size:14px;
			line-height: 1.1em;
	}
    .section-social h3{
        font-size: 1.2em;
    }



    .form-group-mobile{
		width: 100%;
	}
	.section-home .form-inline #main_search_box.form-control {
		width: 100%;
	}
	.section-home .form-inline .form-group-mobile .btn.btn-ttc{
		width: 60%;
		margin-left: 0;
		margin-top: 15px;
	}
	.section-home .bg-image {
		position: relative;
		width: 100%;
		margin-top: 20px;
	}
	.section-home .bg-image img {
		width: 1200px;
		position: relative;
		top: 0;
		margin-left: 70%;
		left: -600px;
	}
	.section-about .bg-text {
		width: 100%;
	}
	.section-about .bg-about {
		height: 100px;
		margin-top: 0;
	}
	.section-about .bg-about .team-default {
		width: 90%;
		left: -45%;
		top: 5px;
	}
	.section-about .bg-about .computers {
		margin-left: 0;
		left: -70%;
		width: 240%;
		top: 50px;
	}
	.media-links .row {
		background-color: #f2f0f1;
	}


    .mobile-media-item-holder {
        background: none;
        border: 1px solid #ccc;
    }


    body.rtl .section-home .bg-image img {
        margin-right: 50%;
        right: -800px;
    }
    .section-social .footer-links .footer-link a {
        font-size: 13px;
    }
    .section-likes .btn-group {
        width: 90%;
    }
	.row.creation-option {
	  color: white;
	  margin-top: 20px;
	  margin-bottom: 0;
	  font-size: 16px;
	}

}

@media (min-width: 768px) and (max-width: 829px) {
  .holder {
    width: 100%;
  }
  .navbar .facebook-input-holder{
	right: 50%;
	margin-right: -310px;
  }
  .navbar-toggle {
	margin-right: 5px;
  }
  .navbar>.container-fluid .navbar-brand {
	 margin-left: 0; 
  }
  .ch-item {
	width: 100%;
	margin: 0 auto;
  }
  .ch-info .ch-info-back {
	padding-left: 0px;
  }
  .ch-info .ch-info-front,
  .ch-info .ch-info-back{
  	text-align: center;
  }
  .ch-info .ch-info-front img,
  .ch-info .ch-info-back img{
  	max-width: 100%;
  }
  .section-features .feature,
  .section-features .title{}
  .section-features .title{
  	padding: 0;
  	display: table;
  }
  .section-features .title .title-inner{
  	display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 50px;
  }
  .section-about .bg-about {
	margin-top: 40px;
  }
  .section-about .bg-about .team-default{
  	left: -350px;
	width: 705px;
  }
  .section-about .bg-about .team-default.active{
  	margin-top: 85px;
  }
  .section-about .bg-about .team-active{
  	left: -406px;
	width: 803px;
  }
  .section-about .bg-about .team-active.active{
  	margin-top: 70px;
  }
  .section-about .bg-about .computers {
	left: -925px;
	width: 1850px;
  }
}
@media (min-width: 830px) and (max-width: 1279px) {
  .holder {
    width: 100%;
  }
  .navbar .facebook-input-holder{
	right: 50%;
	margin-right: -310px;
  }
  .navbar-toggle {
	margin-right: 5px;
  }
  .navbar>.container-fluid .navbar-brand {
	 margin-left: 0; 
  }
  .ch-item {
	width: 100%;
	margin: 0 auto;
  }
  .ch-info .ch-info-back {
	padding-left: 0px;
  }
  .ch-info .ch-info-front,
  .ch-info .ch-info-back{
  	text-align: center;
  }
  .ch-info .ch-info-front img,
  .ch-info .ch-info-back img{
  	max-width: 100%;
  }
  .section-features .feature,
  .section-features .title{
  	height: 435px;
  }
  .section-features .title{
  	padding: 0;
  	display: table;
    height: 435px;
  }
  .section-features .title .title-inner{
  	display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 50px;
  }
  .section-about .bg-about {
	margin-top: 0;
  }
  .section-about .bg-about .team-default{
  	left: -350px;
	width: 705px;
  }
  .section-about .bg-about .team-default.active{
  	margin-top: 85px;
  }
  .section-about .bg-about .team-active{
  	left: -406px;
	width: 803px;
  }
  .section-about .bg-about .team-active.active{
  	margin-top: 70px;
  }
  .section-about .bg-about .computers {
	left: -925px;
	width: 1850px;
  }
}
@media (min-width: 1280px) {
  .holder{
    width: 1280px;
    margin-left: auto;
	margin-right: auto;
  }
  .navbar>.container-fluid .navbar-brand {
	 margin-left: 0; 
  }
}

.main_search_box::-ms-clear {
    display: none;
}

/* Offset name anchor tags due to sticky header */
a[name] {
    top: -80px;
    position: relative;
    display: block;
    visibility: hidden;
}
