﻿<div class="item">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img class="media-image" src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/c0.9.50.50/p50x50/10689755_555100474623091_1319482613182964061_n.jpg?oh=f66d2ce513ebbe09c9ec42193e675ef0&oe=54D4881E" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">Michael lefebvre</h4>
                                        <p class="text-ellipsis">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested Lorem Ipsum is simply dummy text of the printing and typesetting The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                    </div>
                                </div>
                                <!-- Actions -->
                                <div id="actions-container-2" data-actions-container-id="2" class="js-actions-container actions-container">
                                    <!-- homepage indication-->
                                    <div class="js-homepage-indicator homepage-indicator hidden"><span class="glyphicons ok_2"></span>Newly added</div>
                                    <!-- Hidden bar indication-->
                                    <div class="js-hidden-indicator hidden-indicator small-indicator"><span class="glyphicons eye_close"></span>Hidden</div>
                                    <!-- Primary actions -->
                                    <div id="primary-btn-group-2" data-btn-group-id="2" class="btn-group js-primary-btn-group">
                                        <button type="button" class="btn action-btn js-show-btn primary-action-blue" data-toggle="tooltip" title="Show" data-analytics-action="Hide Product"><span class="glyphicons eye_open"></span></button>
                                        <button type="button" class="btn action-btn js-hide-btn primary-action-blue hidden" data-toggle="tooltip" title="Hide" data-analytics-action="Show Product"><span class="glyphicons eye_close"></span></button>
                                        <button type="button" class="btn action-btn js-edit-btn" data-analytics-action="Edit Product"><span class="glyphicons edit"></span></button>
                                        <button type="button" class="btn action-btn js-home-hide-btn hidden" data-toggle="tooltip" title="Hide from homepage" data-analytics-action="Hide from homepage"><span class="glyphicons bin"></span></button>
                                        <button type="button" class="btn action-btn js-home-show-btn" data-toggle="tooltip" title="Show on homepage" data-analytics-action="Show on homepage"><span class="glyphicons home"></span></button>
                                    </div>
                                </div>
                            </div>