﻿<div class="otonomic-core-style">
    <!-- Modal -->
    <div class="modal inner-editing fade" id="addEditModal" tabindex="-1" role="dialog"
        aria-labelledby="editingModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#editingModal" class="back btn btn-link btn-sm pull-left btn-sm"><span class="glyphicons left_arrow"></span></button>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <button type="button" class="help btn btn-oto-green btn-sm pull-right">?</button>
                    <h4 class="modal-title" id="myModalLabel" data-bind="text:editWindowtitle"></h4>
                </div>
                <div class="modal-body" style="height: 400px; overflow-y: scroll">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-oto-blue btn-sm"><span class="glyphicons eye_close"></span>Hide from testimonials</button>
                            <button type="button" class="btn btn-oto-gray-light btn-sm"><span class="glyphicons home"></span>Add to Homepage</button>
                        </div>
                        <div class="col-xs-12" style="margin-top: 15px;">
                            <div class="form-group">
                                <label for="reviewName">Customer name</label>
                                <input type="text" class="form-control" id="name" name="reviewer_name" data-bind="value:selectedTestimonial.name"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Customer photo</label><br />
                                <a href="#" class="image-selector open-mediagal-popup"
                                    id="add_reviewer_image"
                                    data-input="#reviewer_image_src"
                                    data-thumb="#img_reviewer_image"
                                    data-attachmentid="#reviewer_image">
                                    <div class="centered-image-wrapper">
                                        <div class="centered">
                                            <img src="/wp-content/mu-plugins/otonomic-first-session/assets/images/ph-thumb.png" alt="Reviewer picture" id="img_reviewer_image">
                                        </div>
                                    </div>
                                    <div class="bottom-strip"><span class="glyphicons plus"></span>Edit</div>
                                </a>
                            </div>
                            <div class="form-group">
                                <label for="review">Recommendation</label>
                                <textarea id="review" name="reviewer_review" class="form-control" data-bind="value:selectedTestimonial.review"
                                    rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Rating</label>
                                <p>
                                    <span class="rating" style="direction: rtl;">
                                        <span class="glyphicons star" data-rank="5"></span>
                                        <span class="glyphicons star" data-rank="4"></span>
                                        <span class="glyphicons star" data-rank="3"></span>
                                        <span class="glyphicons star" data-rank="2"></span>
                                        <span class="glyphicons star" data-rank="1"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-toggle="modal"  data-target="#editingModal" data-dismiss="modal"><span class="glyphicons remove_2"></span>Cancel</button>
                    <button type="button" class="btn btn-oto-green"  data-toggle="modal"  data-target="#editingModal" data-dismiss="modal"  data-bind="click: save"><span class="glyphicons ok_2"></span>Save</button>
                </div>
            </div>
        </div>

    </div>
</div>