@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "../fonts/Aller-WebFont/aller_webfont";


// Colors 
$main-color: #ff3b58;

body {
    font-family: 'Aller', Helvetica, Arial, sans-serif;
    background: #fcf8f5 url(../images/smartphone-bg-pattern.png);
}

header {
    height: 70px;
    background-color: #000;

    .logo-img {
        display: inline-block;
        margin: 12.5px 20px;
    }
    .header-text {
        display: inline-block;
        padding: 22.5px 0 0 10px;
        color: white;
        vertical-align: middle;
    }
    .fb-like {
        margin: 23.5px 15px;
    }
}

.pink-text {
    color: $main-color;
}

.main-content {
    background: #fcf8f5 url('../images/bg.jpg') right center no-repeat;

    .heading-text {
        margin-top: 50px;
        font-size: 42px;
        color: $main-color;
    }
    .text2 {
        margin-top: 30px;
        color: #202020;
        font-size: 22px;
        font-weight: bold;
    }
    .text3 {
        font-size: 18px;
    }
    ul {
        padding-left: 25px;
        color: #3d3531;
        font-size: 18px;
        line-height: 36px;
        list-style-type: none;
        li {
            &.active {
                color: $main-color;
            }
            .step {
                margin-right: 15px;
                margin-left: -25px;            
            }
        }
    }

    .form-control {
        min-width: 320px;
        border-radius: 0px;
        border: 2px solid #424141;
        height: 50px;
        @include box-shadow(inset 1px 1px 3px rgba(0,0,0,.3));
    }

    .btn {
        height: 50px;
        color: white;
        background-color: #ff3d5a;
        border-radius: 0px;
        @include box-shadow(1px 1px 3px rgba(0,0,0,.3));
    }

    .p2s_fanpages .search_results {
        width: 462px;
        margin: 5px 0 0 0;
        border: 2px solid #000;
    }

    .p2s_fanpages span.close-search {
        position: absolute;
        left: 285px;
    }
}

.websites-counter {
    padding: 8px 0;
    color: white;
    height: 50px;
    background-color: $main-color;
    font-weight: lighter;

    b {
        font-size: 20px;
    }
}




.testimonials {
    padding: 25px 0 10px 0;
    background-color: #26211f;
    &:after {
        position: relative;
        top: 23px;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 15px;
        background-image: url('../images/chupchick.png'); 
    }
    .media {
        margin-bottom: 15px;
    }
    .media-left, .media>.pull-left {
        padding-right: 20px;
        &:before {
            display: block;
            content: "\201C";
            font-size: 60px;
            position: absolute;
            left: 70px;
            top: -16px;
            color: #ff3b58;
        }
    }
    h4 {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: #3d3531;
        text-transform: uppercase;
    }
    p {
        padding-top: 10px;
        color: white;
        font-size: 15px;
        line-height: 24px;
    }
    img {
        //width: 70px;
        //height: 70px;
        //border-radius: 100%;
        //border: 2px solid #fff;
    }
    .glyphicon {
        color: #675c58;
        font-size: 18px;
        &.active {
            color: $main-color;
        }
    }
}
/* ## Section Media ## */
.media-links h3{
    margin: 0;
    color: white;
}
.section-media {
    margin-top: 0;
    padding-bottom: 0;
    text-align: center;
}
.section-media .media-item{
    display: inline-block;
    //border-right: 1px solid #cccccc;
}
.section-media .media-item:last-child{
    border: 0;
}
.section-media .media-item img{
    margin: 0 10px;
}

/* mobile Media items*/
.mobile-media-item-holder{
    position: relative;
    min-height: 1px;
    /*border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;*/
    width: 33.333333%;
    float: left;
    padding: 4% 2%;
    /* background:  right top url('../images/red-tri.png') no-repeat; */
    /* background-size: 15% auto; */
}
.mobile-media-item-holder:hover{
    background-color: #fff;
}
.mobile-media-item-holder:last-child{
    margin-bottom: 0px;
    border-right:0;
}
.mobile-media-item-holder.bottom{
    /*border-bottom: 1px solid #cccccc;*/
}

footer {
    position: relative;
    height: 70px;
    padding-top: 30px;
    color: #1f1a18;
    font-size: 14px;
    text-align: center;

    a {
        padding: 0 10px;
        color: #1f1a18;
        &:first-child {
            margin-left: -19px;
        }
        &:last-child {
            margin-right: 25px;
        }
        &:hover {
            color: #1f1a18;
        }
    }
}
/* =========================================================================
   =      Symantic No-Skew Single Slant CSS3 "Razorblade Rectangles"       =
   ========================================================================= */
/**
*
* Free for all developers to use and pass along - share the <3!
* Hard coded by Daniel McClintock
* http://about.me/McClintock
*
**/
$content-height: 600px;
$coontet-bg-color: #fcf8f5;
/* build the rectangles */
.rr-left,
.rr-right {
    position: relative;
    height: $content-height;
    background: $coontet-bg-color;
}
.rr-left {
    float: left;
    z-index: 8;
    width: 45%;
}
.rr-right {
    float: right;
    z-index: 9;
    width: 44%;
}

/* slanted edges using pseudo-elements */
.rr-left:after,
.rr-right:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}
.rr-left:after {
    right: -100px;
    border-left: 100px solid $coontet-bg-color; /* razorblade color */
    border-bottom: $content-height solid transparent; /* page background color */
}
.rr-right:before {
    left: -100px;
    border-right: 100px solid $coontet-bg-color; /* razorblade color */
    border-top: $content-height solid rgba(0, 0, 0, 0); /* transparent */
}

/* hover styles */
//.rr-left:hover,
//.rr-right:hover { background: #34495e; }
//.rr-left:hover:after { border-left-color: #34495e; }
//.rr-right:hover:before { border-right-color: #34495e; }

/* text positioning & styles */
.rr-text {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    font-family: Arial;
    color: #FFFFFF;
}

.rr-text h3 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.rr-text p {
    font-size: 13px;
}
// Share buttons 
//////////////////////////////////////////////////
.social-shares-container {
    margin-bottom: 1px;
}
.tweet,
.fb-share {
    display: inline-block;
    padding: 14px 22px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: white;
    }
}
.tweet img,
.fb-share img {
    height: 29px;
    vertical-align: middle;
}
.tweet {
    background-color: #57adef;
}
.fb-share {
    margin-right: 10px;
    background-color: #3c599a;
}
// Social buttons
//////////////////////////////////////////////////
.social-channels {
    position: absolute;
    top: -10px;
    right: 20px;
}
.social-btn {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0 5px 5px 0!important;
  line-height: 35px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.3);
}
.social-btn:hover{
}
.social-btn:active,
.social-btn.active{
  box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.2);
}
.social-btn img {
    height: 20px;
    margin-left: -2px;
}
.facebook-btn{
  background-color: #3c599b;
}
.twitter-btn{
  background-color: #55acee;
}
.googleplus-btn{
  background-color: #d73d32;
}
.linkedin-btn{
  background-color: #1884bb;
}


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .main-content {
            background-image: url('../images/bg2.jpg');
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .main-content {
            background-image: url('../images/bg.jpg');
        }
    }

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        // Header
        header{ 
            text-align: center;

            .fb-like {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        // Main Content
        .main-content {
            background-image: none;

            .heading-text {
                margin-top: 22px;
                text-align: center;
            }
            ul {
                line-height: 22px;
                li {
                    margin-bottom: 10px;
                }
            }
            .rr-left {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                &:after {
                    right: initial;
                    border: 0;
                }
            }
            .form-control {
                display: inline-block;
                font-size: 15px;
                min-width: initial;
                width: calc(100% - 55px);
            }
            .btn {
                width: 50px;
                color: transparent;
                font-family: 'Glyphicons Halflings';
                /* &:before {
                    content: "\e080";
                    color: white;
                    margin-left: 5px;
                } */
            }
            .btn-facebook-connect {
                font-family: 'Aller', Helvetica, Arial, sans-serif;
                color: #fff;
                width: auto;
                height: auto;
                line-height: 2.33;
                font-weight: normal;
                background-color: #146aa7;
                border-radius: 6px;
            }
            .btn-facebook-connect img {
                margin-top: -10px;
            }
            .p2s_fanpages{
                .search_results {
                    width: 100%;
                }
                .media {
                    min-height: 40px;
                }
                .media-heading {
                    font-size: 18px;
                }
                .media-address {
                    margin: 0;
                }
                .fanpage img.media-object {
                    height: 40px;
                    width: 40px;
                }
                .close-search {
                    display: none!important;
                }
            }
        }

        // Counter 
        .websites-counter {
            text-align: center;
        }
        // Footer
        footer {
            .social-channels {
                position: initial;
                margin-top: 15px;
            }
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        // Main Content 
        .main-content {
            .form-control {
                font-size: 14px;
                text-align: center;
            }
        }
        .media-links h3{
            margin: 0 0 10px 0;
            color: white;
        }
        .websites-counter {
            height: 70px; 
        }
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
