extends ../../layouts/basic

block variables
    - var page = { title: 'Pricing - Otonomic', body_class: 'full_bleed', header_nav_class: '' }
    - site.url = '../'

block head_end_scripts
    link(href='#{site.url}css/pricing.css', rel='stylesheet', type='text/css')

block content
    section#top.intro
        .col.margin_auto.float_none.align_center.bottom_padding.no_right_padding
            h1.large.align_center Pricing Guide
            h2.align_center
                | Get an Auto-Magic website that works for you and your business.
                br
                | Start for <strong>Free</strong>.

    include ../../views/pricing/pricing-table

    section.new_signup.clear_blue_bg.clearfix.top
        .section_content
            p
                | Get an Auto-Magic website that works for you and your business. Start for <strong>Free</strong>.
            a.btn.btn_border.btn_large.small_top_margin(href='#{site.create_url}')
                | Create a new site

    include ../../views/pricing/testimonials

    //include ../views/pricing/logos

    include ../../views/pricing/features

    //include ../../views/pricing/faq


    br
    br
    section.back_to_the_top
        a.btn.btn_large(href='#top')
            i.ts_icon.ts_icon_arrow_large_up
            | Back to the top
    section.new_signup.neutral_white_bg.clearfix.bottom
        .section_content
            p
                | Get an Auto-Magic website that works for you and your business. Start for <strong>Free</strong>.
            a.btn.btn_large.small_top_margin(href='#{site.create_url}')
                | Create a new site
    section.ready_to_try_otonomic.bottom
        .section_content
            p
                | More questions? Let us help.
                br
                //XXX Insert intercom persistent link here:
                a(href='#{site.contact_us}')
                    | Contact us
                    i.ts_icon.ts_icon_arrow_large_right

    //include ../../views/pricing/plan-modal

    block body_end_scripts
        script.
            (function($,window,undefined) {
                    var params = $.deparam(location.search.replace('?',''));

                    if(params.p2) {
                        $('.plan2 .plan_price__dollars').text(params.p2);
                    }
                    if(params.p2c) {
                        $('.plan2 .plan_price__cents').text(params.p2c);
                    }

                    if(params.p3) {
                        $('.plan3 .plan_price__dollars').text(params.p3);
                    }
                    if(params.p3c) {
                        $('.plan3 .plan_price__cents').text(params.p3c);
                    }

            })(jQuery, window);
