
body { font: 10pt sans-serif; }

/* visibility rules */

/* all sections are off by default */
.sidebar > div { display:none; }

body.main .sidebar #main {display:block;}
body.template .sidebar #template {display:block;}
body.background .sidebar #background {display:block;}
body.color .sidebar #color {display:block;}
body.fonts .sidebar #fonts {display:block;}



.mini-submenu {
	display: none;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	padding: 9px;
	/*position: relative;*/
	
	width: 42px;
}
.mini-submenu:hover {
	cursor: pointer;
}
.mini-submenu .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
	margin-top: 3px;
}
.mini-submenu .icon-bar {
	background-color: #000;
}
#slide-submenu {
	background: rgba(0, 0, 0, 0.45);
	display: inline-block;
	padding: 0 8px;
	border-radius: 4px;
	cursor: pointer;
}


div#edit_sidebar {
    position: absolute;
    z-index: 5;
    background: #EEE;
    padding: 0px;
    border: 1px solid #CCC;
    height: 100%;
    margin: 0;
}
.editor_panel {
    float: left;
    /* margin-right: 20px; */
    border-right: 1px solid #DDD;
    height: 100%;
    padding: 0px 15px 10px;
}