footer(class='#{page.footer_class}')
    section
        .grid
            .col.span_1_of_5
                img(src='#{site.url}images/bird_gray.png')
                small
                    | With
                    i.ts_icon.ts_icon_heart
                    | by Otonomic
            .col.span_1_of_5.nav_col
                ul
                    //
                      li><a href="#{site.url}jobs/">Jobs</a></li>
                      <li><a href="#{site.url}coming-soon/">Coming soon</a></li>
                      <li><a href="#{site.url}getting-started/">Get Started</a></li
            .col.span_1_of_5.nav_col
                ul
                    li
                        a(href='#{site.url}policies') Policies
                    li
                        a(href='#{site.url}terms-of-service') Terms of Service
            .col.span_1_of_5.nav_col
                ul
                    // <li><a href="#">Blog</a></li>
                    li
                        a(href='#{site.url}privacy-policy') Privacy
                    li
                        a(href='https://otonomic.zendesk.com/hc/en-us') Support
            .col.span_1_of_5.nav_col
                ul
                    li
                        a(href='https://mixpanel.com/f/partner', rel='nofollow')
                            img(src='//cdn.mxpnl.com/site_media/images/partner/badge_blue.png', alt='Mobile Analytics')
.gradient
