style.
  @media screen and (max-width: 480px) {
  nav .logo{
  background-size: 100px auto !important;
  width: 100px !important;
  height: 17px;
  }
  }
  nav .logo{
  background-size: 174px 60px;
  width: 174px;
  }
  nav.mobile_menu .logo{
  opacity:1;
  }
nav.top(class='#{nav_class} #{page.header_nav_class}')
    a.logo(href='#{site.url}')
    ul
        li
            a(href='#{site.url}product') Product
        li
            a(href='#{site.url}pricing') Pricing
        li
            a(href='http://otonomic.zendesk.com', target="_blank") Support

        // li><a  href="#{site.url}pricing/">Pricing</a></li
        // li><a  href="#{site.url}coming-soon/">Coming soon</a></li
        // <li><a  href="#">Blog</a></li>
        // li class="sign_in"><a href="#">Sign in</a></li
        li
            a#nav-signin.ga_track_signin(href='#{site.login_url}') Sign in
        li.create_team
            a#nav-create.btn_sticky.ga_track_signup(href='#{site.create_url}') Create a new site
        li.mobile_menu_btn
            a.btn_sticky(href='#') Menu
