nav.mobile_menu.loading(aria-hidden='true')
    a.logo(href='#{site.url}')
    a.close(href='#', aria-label='close')
        i.ts_icon.ts_icon_times
    ul
        li
            a(href='#{site.url}')
                | Home
        li
            a(href='#{site.url}product')
                | Product
        li
            a(href='#{site.pricing_url}')
                | Pricing
        li
            a(href='http://otonomic.zendesk.com', target="_blank")
                | Support
        li
            a(href='#{site.login_url}')
                | Sign in
        //
          li><a  href="pricing.php">Pricing</a></li>
          <li><a  href="coming-soon.php">Coming soon</a></li
        // <li><a  href="#">Blog</a></li>
        // li><a href="#">Sign in</a></li
    a#nav-create.ga_track_signup(href='#{site.create_url}')
        | Create a new site
