@font-face {
    font-family: 'CooperBlack';
    src:  url('../fonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CooperBlack.woff') format('woff'),
    url('../fonts/CooperBlack.ttf')  format('truetype'),
    url('../fonts/CooperBlack.svg#CooperBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}


body
{
background: #03b0ee;
background:url(../image/cloud-bg.png), -moz-linear-gradient(top, #03b0ee 0%, #ffffff 100%);
background:url(../image/cloud-bg.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03b0ee), color-stop(100%,#ffffff));
background:url(../image/cloud-bg.png), -webkit-linear-gradient(top, #03b0ee 0%,#ffffff 100%); 
background:url(../image/cloud-bg.png), -o-linear-gradient(top, #03b0ee 0%,#ffffff 100%);
background:url(../image/cloud-bg.png), -ms-linear-gradient(top, #03b0ee 0%,#ffffff 100%);
background:url(../image/cloud-bg.png), linear-gradient(to bottom, #03b0ee 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b0ee', endColorstr='#ffffff',GradientType=0 );
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
	color:#000000;
background-size:100%;
background-repeat:no-repeat;
}
h1, h2, h3, h4
{
	font-weight:700;
}
img
{
	max-width:100%;
	height:auto;
}
.wrapper
{
	max-width:640px;
	margin:0 auto;
}
header
{
	background:#231f20;
	padding:5px 0 25px;
}

.special-offer
{
    background: #d34002;
    background: -moz-linear-gradient(45deg, #d34002 0%, #a02d00 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d34002), color-stop(100%,#a02d00));
    background: -webkit-linear-gradient(45deg, #d34002 0%,#a02d00 100%);
    background: -o-linear-gradient(45deg, #d34002 0%,#a02d00 100%);
    background: -ms-linear-gradient(45deg, #d34002 0%,#a02d00 100%);
    background: linear-gradient(45deg, #d34002 0%,#a02d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d34002', endColorstr='#a02d00',GradientType=1 );
    border-radius: 100%;
    height: 190px;
    margin: 30px auto;
    padding: 8px;
    width: 190px;
    box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -21px;
    left: calc(50% - 355px);
    text-align: center;
}
.offer-inner {
    border: 8px solid #ffffff;
    border-radius: 100%;
    height: 264px;
    padding: 50px 20px 0;
    width: 264px;
}
.offer-inner h2
{
    font-family: 'CooperBlack';
    font-weight:normal;
    color: #fff;
}
.offer-inner p
{
    color:#ffffff;
    font-size:20px;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
}

.offer-inner {
    border: 4px solid #ffffff;
    border-radius: 100%;
    height: 174px;
    padding: 0px 10px 0;
    width: 174px;
}



body.rtl .offer-inner p,
body.rtl .offer-inner h2 {
    font-family: inherit;
}



.content-section
{
padding:15px 0;
}
.content-section h2
{
	margin-top:0;
	text-transform:uppercase;
	color:#ffffff;
	font-size: 32px;
}
.banner
{
	background:url(../image/banner.png) no-repeat center;
	min-height:74px;
	padding-top: 7px;
}
.banner h1
{
	margin:0;
	color:#ffffff;
	font-size:42px;
	text-transform:uppercase;
}
.text-content {
    margin: 10px 0;
	font-size:18px;
}
.text-content h4
{
	margin:0 0 5px;
	line-height:10px;
}
.text-content h4 img
{
	position:relative;
	top:-11px;
}
.feature-sec
{
	padding:15px 0 0;
}
.feature-box {
    height: 160px;
    position: relative;
	margin-bottom:20px;
}
.feature-box h4 {
    background: #ffffff;
    bottom: 0;
    padding: 8px 0;
    position: absolute;
    text-transform: uppercase;
    width: 88%;
	text-align:center;
	margin:0;
}
footer
{
padding:15px 0;
}
.footer-content ul {
    padding-left: 15px;
	font-size:18px;
}
.footer-form
{ 
	min-height:375px; 
	background:url(../image/foot-2.png) no-repeat;
	background-size:100%;
	margin-bottom:20px;
	padding-top:15px;
	text-align:center;
	position: relative;
}
.footer-form .left-icon
{
    left: 57px;
    position: absolute;
    top: 3px;
}
.footer-form .right-icon
{
    right: 53px;
    position: absolute;
    top: 3px;
}
.footer-form .form-head
{ 
	font-family: 'Roboto Condensed', sans-serif; 
	font-size:30px; 
	color:#000; 
	font-weight:bold;
	text-align:center;
	margin-bottom: 8px;
	margin-top: 5px;
}
.footer-form form
{ 
background-color:#f16122; 
margin:0 auto;
max-width:412px;
padding:5px 44px 20px;
}
.footer-form form input
{ 
border-radius:0px; 
width:100%; 
height:38px; 
font-family: 'Roboto Condensed', sans-serif; 
font-size:12px; 
color:#000; 
border:none;
-webkit-box-shadow: inset 8px 8px 2px -6px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 8px 8px 2px -6px rgba(0, 0, 0, 0.4) inset;
box-shadow: 8px 8px 2px -6px rgba(0, 0, 0, 0.4) inset;
}
.footer-form form input[type="submit"]
{ 
 background:#4c4748;
    border-bottom-left-radius: 2px;
	-webkit-box-shadow: 3px 3px 0 2px #231f20);
-moz-box-shadow: 3px 3px 0 2px #231f20;
    box-shadow: 3px 3px 0 2px #231f20;
    color: #ffffff;
    height: 46px;
	font-size:24px;
    width: 120px;
}
.footer-form form input[type="submit"]:hover
{
	box-shadow:none;
}
.otonomic-line h3
{
	color:#f16122;
	margin:0;
	background:#231f20;
    padding: 7px;
}
.otonomic-line h3 a
{
	color:#f16122;
}
.otonomic-line h4 a
{
	color:#000000;
}
.footer-logo {
    margin-top: 20px;
}


.scroll-img
{
	background-size:100%!important;
	background-position:0 0;
	-webkit-transition-property:background-position; 
	-moz-transition-property:background-position; 
	-o-transition-property:background-position; 
	transition-property:background-position; 
	width:100%;
	height:240px;
	margin-bottom:25px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
.scroll-img1
{
	background:url(../image/sample-collie_mockup.jpg) no-repeat;
		-webkit-transition-duration:10s; 
	-moz-transition-duration:10s; 
	-o-transition-duration:10s; 
	transition-duration:10s;
}
.scroll-img2
{
	background:url(../image/sample-accountant.jpg) no-repeat;
		-webkit-transition-duration:5s; 
	-moz-transition-duration:5s; 
	-o-transition-duration:5s; 
	transition-duration:5s;
}
.scroll-img3
{
	background:url(../image/sample-real-estate.jpg) no-repeat;
			-webkit-transition-duration:5s; 
	-moz-transition-duration:5s; 
	-o-transition-duration:5s; 
	transition-duration:5s;
}
.scroll-img4
{
	background:url(../image/sample-lawfirm.jpg) no-repeat;
			-webkit-transition-duration:3s; 
	-moz-transition-duration:3s; 
	-o-transition-duration:3s; 
	transition-duration:3s;
}
.scroll-img:hover
{
	background-position:0 100%;
}



@media only screen and (max-width: 480px)
{
		body
	{
		background: #03b0ee;
        background:url(../image/mobile-bg.png), -moz-linear-gradient(top, #03b0ee 0%, #ffffff 100%);
        background:url(../image/mobile-bg.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03b0ee), color-stop(100%,#ffffff));
        background:url(../image/mobile-bg.png), -webkit-linear-gradient(top, #03b0ee 0%,#ffffff 100%);
        background:url(../image/mobile-bg.png), -o-linear-gradient(top, #03b0ee 0%,#ffffff 100%);
        background:url(../image/mobile-bg.png), -ms-linear-gradient(top, #03b0ee 0%,#ffffff 100%);
        background:url(../image/mobile-bg.png), linear-gradient(to bottom, #03b0ee 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03b0ee', endColorstr='#ffffff',GradientType=0 );
        background-size:100%;
        background-repeat:no-repeat;
	}
	.wrapper
	{
		padding:0 10px;
	}
	.footer-form .right-icon, .footer-form .left-icon
	{
		display:none;
	}
	.text-content h4
	{
		line-height:1;
	}
	.feature-box
	{
		width:100%;
		text-align:center;
	}
    .row.feature-sec .feature-box img {
        margin-left: 10%;
    }

	.content-section h2
	{
		font-size:22px;
	}
	.banner
	{
		background-size:100%;
		padding-top:17px;
	}
	.banner h1
	{
		font-size:26px;
	}
	.footer-form form
	{
		padding:5px 20px 20px;
	}
}

@media only screen and (max-width: 768px)
{
    .special-offer {
        margin: 10px auto 0px;
        position: inherit;
    }
}



body.rtl .footer-form form input
{
    font-family: inherit;
    font-size:16px;
}
