extends ../../layouts/empty

block variables
    - var page = { title: 'New user form | Otonomic', body_class: '', header_nav_class: '' }

block content
    // Change the width and height values to suit you best
    .typeform-widget(data-url='https://otonomic.typeform.com/to/FkiIM8', data-text='Israeli Clients', style='width:100%;height:500px;')
    script.
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
