<div id="otofb-selectpage">
    <p>
        Welcome {{fb-name}} {{fb-email}} {{fb-id}}
    </p>
    <p>
        Select a page to create website
    </p>
    {{fb-pages}}
        <div data-id="{{page-id}}"><img width="50" src="{{page-image}}" />
            <div>{{page-name}}</div>
        </div>
    {{/fb-pages}}
</div>