- var site = { url: '../', login_url: 'http://business.otonomic.com/edit/#/public/login', pricing_url: 'https://business.otonomic.com/edit/#/public/modals___select-plan-modal?mode=blank', create_url: 'http://business.otonomic.com/edit/#/ob/start', contact_us: 'mailto:support@otonomic.com' }

block variables
- var load_core_css =   typeof(page.load_core_css)!='undefined' ? page.load_core_css    : false
- var sticky_nav =      typeof(page.sticky_nav)!='undefined'    ? page.sticky_nav       : false
- var footer =          typeof(page.footer)!='undefined'        ? page.footer           : false

doctype html
html(lang='en')
    head
        include ../views/integrations/segment

        meta(http-equiv='content-type', content='text/html;charset=utf-8')
        meta(name='referrer', content='no-referrer')
        meta(name='superfish', content='nofish')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(charset='utf-8')
        title #{page.title}
        meta(name='author', content='Otonomic')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        // output_css "core"
        if(load_core_css)
            link(href='#{site.url}css/rollup-plastic.css', rel='stylesheet', type='text/css')

        if(sticky_nav)
            link(href='#{site.url}css/sticky_nav.css', rel='stylesheet', type='text/css')

        if(footer)
            link(href='#{site.url}css/footer.css', rel='stylesheet', type='text/css')

        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Crete+Round:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Open+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Crete+Round:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext')
        link#favicon(rel='shortcut icon', href='#{site.url}images/favicon.png', type='image/png')

        block head_end_scripts

    body(class='#{page.body_class}')
        script.
          var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
          if (w > 1440) document.querySelector('body').classList.add('widescreen');

        #page
            #page_contents
                block content

        script(type='text/javascript', src='#{site.url}js/jquery.min.js')
        script(type='text/javascript', src='#{site.url}js/sticky_nav.js', crossorigin='anonymous')
        script(type='text/javascript', src='#{site.url}js/common.js')
        script(type='text/javascript', src='http://business.otonomic.com/edit/js/ot_analytics.js')
        script(type='text/javascript', src='#{site.url}js/lp.js')

        block body_end_scripts
