- var site = { url: './', login_url: 'http://business.otonomic.com/edit/#/public/login', pricing_url: 'https://business.otonomic.com/edit/#/public/modals___select-plan-modal?mode=blank', create_url: 'http://business.otonomic.com/edit/#/ob/start', contact_us: 'mailto:support@otonomic.com' }
block variables

doctype html
html(lang='en')
    head
        include ../views/integrations/segment

        meta(http-equiv='content-type', content='text/html;charset=utf-8')
        meta(name='referrer', content='no-referrer')
        meta(name='superfish', content='nofish')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='utf-8')
        title #{page.title}
        meta(name='author', content='Otonomic')
        // output_css "core"
        link(href='#{site.url}css/rollup-landing.css', rel='stylesheet', type='text/css')
        // output_css "before_file_pages"
        // output_css "file_pages"
        // output_css "regular"
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Crete+Round:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Open+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Crete+Round:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext')
        link#favicon(rel='shortcut icon', href='#{site.url}images/favicon.png', type='image/png')
        //
          <link rel="icon" href="../otonomic.global.ssl.fastly.net/0180/img/icons/app-256.png" sizes="256x256" type="image/png" />
          <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../otonomic.global.ssl.fastly.net/66f9/img/icons/ios-152.png" />
          <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../otonomic.global.ssl.fastly.net/66f9/img/icons/ios-144.png" />
          <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../otonomic.global.ssl.fastly.net/66f9/img/icons/ios-120.png" />
          <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../otonomic.global.ssl.fastly.net/66f9/img/icons/ios-114.png" />
          <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../otonomic.global.ssl.fastly.net/0180/img/icons/ios-72.png" />
          <link rel="apple-touch-icon-precomposed" href="../otonomic.global.ssl.fastly.net/66f9/img/icons/ios-57.png" />
        //
          <meta name="msapplication-TileColor" content="#FFFFFF" />
          <meta name="msapplication-TileImage" content="https://otonomic.global.ssl.fastly.net/66f9/img/icons/app-144.png" />
        //if lt IE 9
          script(src='https://otonomic.global.ssl.fastly.net/ef0d/js/libs/html5shiv.js')
        style.
          .signup_c.marsandbeyond{
          background-image:url("#{site.url}images/painter-small.jpg");
          }

        block head_end_scripts

    body.story.marsandbeyond
        block body_start_scripts
        include ../views/header
        include ../views/mobile_menu

        block menu

        block content

        include ../views/footer

        script(type='text/javascript', src='#{site.url}js/jquery.min.js')
        script(type='text/javascript', src='#{site.url}js/typed.min.js')
        script(type='text/javascript', src='#{site.url}js/sticky_nav.js', crossorigin='anonymous')
        script(type='text/javascript', src='#{site.url}js/bowser.js', crossorigin='anonymous')
        script(type='text/javascript', src='#{site.url}js/main.js')
        script(type='text/javascript', src='http://business.otonomic.com/edit/js/ot_analytics.js')
        script(type='text/javascript', src='#{site.url}js/lp.js')

    block body_end_scripts
