mixin paypal_button(options)
    - options.plan_id = options.plan_id || 'R6UQAQDFTWH6W'
    - options.text = options.text || 'Upgrade'
    - options.currency = options.currency || 'USD'

    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value=options.plan_id)

        if(options.options)
            table
                tr
                    td
                        input(type='hidden', name='on0', value='')
                tr
                    td
                        select(name='os0')
                            each val, key in options.options
                                option(value=key) #{val}

        input(type='hidden', name='currency_code', value=options.currency)
        img.plan__image(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        button.btn.detail_button(type='submit', name='submit')
            | #{options.text}

mixin paypal_unsubscribe(options)
    a(href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=NDSFABZ5429EJ")
        img(src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif", border="0")