html {
  height: 100%;
}
body {
  height: 100%;
  background-color: white;
  color: #676767;
  /* font-family: 'aller', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /* font-family: 'aller', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h1{
  font-size: 62px;
}

h1.title{
    margin: 0 0 32px;
}

h2{
    color: #68686f;
    font-weight: 600;
    font-size: 24px;
}

a{
    color: #fff;
    font-weight: 600;
}
/*a:hover{
  color: #0980b2;
}*/

a.btn img{
  margin-top: -2px!important;
}
select {
  font-family: arial, sans-serif;
}
textarea {
  resize: none;
}
/* keyframes */
@-webkit-keyframes fade-opacity-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-opacity-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* BG image
----------------------------------*/
.bg-image{
  position: fixed;
  top: 0;
  right: 0;
  left: 635px;
  bottom: 0;
  overflow: hidden;

  width: calc(100% - 640px);
  background-size: cover;
  background-position-x: 0;
  float: right;
  right: 0;
}

.bg-image img{
  height: 100%;
  min-width: 100%;
}
img.logo {
  margin-bottom: 20px;
}

/* STAGE
----------------------------------*/
.content-panel{
  position: absolute;
  width: 635px;
  padding: 18px 20px 0 20px;
  min-height: 100%;
  background-color: #ffffff;
}
.content-panel h1.title{
/*  margin-top: 50px;
  margin-bottom: 45px;*/
  font-size: 48px;
  line-height: 42px;
  font-weight: 300;
  color: #434040;
}
/*.content-panel h2{
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: normal;
}*/
.content-panel h3{
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
.content-panel p{
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.content-panel .btn-p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: lighter;
}
.content-panel .stage-img {
  margin: 0 0 40px 0;
}

.content-panel .text-type-1{
  color: #f54500;
  font-weight: bold;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: auto;
}

/* glyphicons*/
.wp-lp p span.glyphicon-thumbs-up,
.wp-lp p span.glyphicon-ok {
  color: #325942;
  font-size: 50px;
}
/* Button Loader
-------------------------------------------------- */
.btn-loader{
  margin-right: 15px;
}
/* Custom button
-------------------------------------------------- */
.btn {
  font-size: 16px;
  font-weight: normal;
}
.btn .glyphicon:before {
  font-size: 16px;
}
/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #64b285;
  box-shadow: 2px 2px 0px #325942;
  border-radius: 2px;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #64b285 100%);
}
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    line-height: 33px;
    padding: 8px 25px;
    color: white;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0;
    border-radius: 3px;
    border: 0;
    font-weight: 700;
}
.btn.focus, .btn:focus, .btn:hover {
    color: white;
}


/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ttc:hover {
  background-color: #6aba8c;
  background-position: 0 -15px;
}

.btn-ttc.disabled{
  color: #f54500;
  background-color: #a62f00;
  opacity: 1;
  box-shadow: none;
}
.btn-ttc-clear {
  line-height: 33px;
  padding: 12px 20px;
  background: transparent;
  color: #333;
  box-shadow: none;
}
.btn-ttc-clear:hover,
.btn-ttc-clear:active{
  box-shadow: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /*background-color: #dddde0;*/
    background: #9e9ea6;
}


::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #999;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #999;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #999;
}
h3#oto-web-url {
  font-weight: normal;
  text-transform: lowercase;
}

/* typeahead
-----------------------------------*/
#cat-selector .twitter-typeahead {
  width:100%;
}
#cat-selector .tt-dropdown-menu {
  position: static!important;
  max-height: 200px;
  overflow-y: auto;
}
.typeahead,
.tt-query,
.tt-hint {
  /*width: 390px;
  height: 30px;
  font-size: 16px;
  padding: 8px 12px;
  line-height: 30px;
  outline: none;*/

}

.tt-query {
  -webkit-box-shadow: inset 1px 1px 0px rgba(217,214,215,1);
  -mozbox-shadow: inset 1px 1px 0px rgba(217,214,215,1);
  box-shadow: inset 1px 1px 0px rgba(217,214,215,1);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  /*width: 390px;*/
  margin-top: 0px;
  padding: 0 0 0 1px;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 0px rgba(217,214,215,1);
  -mozbox-shadow: inset 1px 1px 0px rgba(217,214,215,1);
  box-shadow: inset 1px 1px 0px rgba(217,214,215,1);
}

.tt-suggestion {
  padding: 6px 20px;
  font-size: 16px;
  line-height: 40px;
  color: #524843;
}

.tt-suggestion.tt-cursor {
  cursor: pointer;
  color: #524843;
  font-size: 16px;
  background-color: #faf3c9;

}

.tt-suggestion p {
  font-size: 16px;
  margin: 0;
}


label {
    font-weight: 100;
}
.opening-hours input {
    width: 30%;
    display: inline-block;
}
.form-group.opening-hours label {
    width: 150px;
}

.content-panel {
    text-align: left;
}

div.search-results-container {
    background: white;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 0;
    max-height: 200px;
    overflow-y: auto;
    display:none;
    text-align:left;
}

.search-results-container .media.selectable {
    cursor: pointer;
}
.search-results-container .media.selectable:hover {
    background-color: #FAF4F1;
}
.search-results-container .clear{
    position: absolute;
    right: 20px;
    top: 7px;
}
.selected-image {
    margin:10px 0;
}
.remove-selected-image {
    display: block;
    position: absolute;
    top: -5px;
    right: 5px;
    background: url(../images/close.png) center center no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
}

.oto-anima {
    max-width: 100%;
    margin-top:25px;
}
.fb_iframe_widget {
    display: block;
}

#cboxLoadedContent iframe {
    background: transparent;
    border: 3px solid #dadada;
}

#social_media_instagram::-ms-clear, #social_media_youtube::-ms-clear,#social_media_twitter::-ms-clear{
    display: none;
}
.carousel {
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}
.carousel-indicators {
    bottom: 12%;
    left: 1px;
    margin-left: -12%;
    width: 60%;
}
.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: 10%;
    color: red;
    left: 8%;
    top: auto;
    width: 15%;
    background:none!important;
}
.carousel-control.right {
    left: 13%;
    right: auto;
}
.carousel-indicators li {
    border: 1px solid red;
}
.carousel-indicators .active {
    background-color:red;
}
.carousel-inner
{
    overflow:visible!important;
}
.edit-custom {
    float: right;
}
.form-group > label {
    /*margin-bottom: 12px;*/
    margin-bottom: 0px;
}

label.marbtm8{
    margin: 0 0 8px;
}

.custom-border {
    border-bottom: 2px solid #cccccc;
    color: #878787;
    font-size: 18px;
}
.submit-button input[type="submit"]
{
    background: #2ab27b;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    width:100%;
    margin:20px auto 0 auto;
    padding: 13px 16px;
}
.checkbox > label {
    margin: 30px 30px;
}
.tip {
    font-size:15px;
    color:#9e9e9e;
}
.fb-page-select {
    /*margin-bottom: 10px;*/
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}
.fb-page-select:hover {
    background-color: rgba(104, 175, 219, 0.25);
}
.fb-page-select.selected {
    background-color: rgba(104, 175, 219, 1);
}
.fb-page-select .fb-page-details {
    width: calc(100% - 85px);
    margin-left: 5px;
    color: #676767;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}
.fb-page-select.selected .fb-page-details {
    color: #fff;
}
.mid-row {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.4em;
}
.bottom-row {
    margin-left: 50px;
    margin-right: 50px;
}
.form-control {
    padding: 15px 10px;
    height: inherit;
    margin-bottom: 10px;
    font-size: 1em;
}
#confirm .form-group {
    margin: 0 0 32px;
}
.wrapper-oto-fb-login {
    margin-bottom: 10px;
}
.notice {
    display: none;
    color: red;
    font-weight: bold;
}
.notice-orange {
    color: #ffa940;
}
.overlimit:focus  {
    border-color: #ffa940;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,64,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,64,.6);
}
.required {
    color: red;
}
.bottom-row .action-buttons {
    text-align: center;
}
.bottom-row .action-buttons .btn {
    font-size: 20px;
}

.oto-fb-login img {
    max-width: 100%;
}




.align-rows {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.align-rows .top-row {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.align-rows .mid-row {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.align-rows .bottom-row {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    padding-bottom: 35px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

.user-concern {
    color:#ffffff;
    padding: 20px 20%;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
}
.user-concern a {
    color:#ffffff;
    font-weight: 600;
    text-decoration: none;
}
.action-links {
    color:#fff;
    padding: 15px 10px 10px;
    text-align: right;
    font-weight: 800;
}
.action-links a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 34px;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 800;
    opacity: 0.8;
}
.action-links a:hover {
    opacity: 1;
}
.nav-buttons {
    text-align: center;
    margin-top: 20px;
}
.nav-buttons ul,
.nav-buttons ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-buttons ul li {
    display:inline-block;
}
.nav-buttons ul li span {
    display:block;
    background: #b4b5b9;
    width: 8px;
    height: 8px;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
}
.nav-buttons ul li.active span {
    background: #323134;
}
.confirm-field,
.confirm-field[disabled]{
    border: none;
    border-bottom: 3px solid #b2b3b7;
    background: #fff;
    border-radius:0;

    box-shadow:none;
    -webkit-box-shadow:none;

    padding: 10px 0px 5px;
}
.confirm-field:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
}
.edit-link-wrapper {
    position: relative;
}
.edit-link-wrapper .edit-link {
    position: absolute;

    top: 16px;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: right;
    color: #676767;
    text-decoration: none;
}
#gather {
    /*padding: 20px;*/
}
#gather .content-panel,
#bother-stuck .content-panel,
#bother-no-page .content-panel,
#bother-unpub .content-panel,
#bother-blocked .content-panel,
#build  .content-panel{
    width: 100%;
}
.text-center p, .text-center h2, .text-center h4, .text-center h5, .text-center h6{
    text-align: center;
}
#scrolling-text {
    position: relative;
    height: 270px;
    overflow: hidden;
    margin: 40px 0;
}
#scrolling-text-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/splash-shadow.png) center center repeat;
}
#defaultSplash-phrases {
    height: 100%;
}
.splash-text {
    padding: 10px 0;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 70px;
    color: #434040;
}
.splash-text::before {
    content: ' ';
    display: inline-block;
    width: 52px;
    height: 40px;
    margin-right: 20px;
    background: url(../images/icon-tick.png) center center no-repeat;
}
.no-icon.splash-text::before {
    display: none;
}
.per-text {
    font-size: 48px;
    font-weight: 900;
    color: #434040;
    line-height: 52px;
}

#bother-stuck h2.error-head{
    text-align: center;
    padding:20px;
}

p.error-contact{
    text-align: center;
}

p.error-contact a, a.blue{
    color: #337ab7;
    text-decoration: none;
}

.button-blue{
    background-color: #3AA3E3;
    border-radius: 0px;
    padding:13px 90px;
}
.website-otonomic-url {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid #b2b3b7;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 321px) {
    h2.website-url{
        font-size: 15px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h2.website-url{
        font-size: 22px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 933px){
  #choose-template .pull-right,#choose-template .pull-left{
    float: none !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



@media only screen and (max-width : 768px){
  div#stage-apps button .glyphicons {
    display: none;
  }
}



/*==========  Non-Mobile First Method  ==========*/
/*
  @media only screen and (max-width : 1600px) {
  }
*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .logo {
    display: block;
    margin: 10px auto 0;
  }
}

.theme-option-container {height:390px;}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .container-fluid {
    height: 100%;
  }
  .logo {
    display: block;
    margin: 20px auto 0;
  }
  h1.title {
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
  }
  .content-panel {
    padding: 0 20px;
    width: 100%;
    /*text-align: center;*/
  }
  .content-panel h1.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 32px;
  }
  .content-panel h3 {
    margin-top: 20px;
    line-height: 24px;
  }

  .content-panel p,
  .content-panel .btn-p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .content-panel .stage-img {
    display: block;
    margin: 10px auto;
    max-width: 70%;
  }

  .tt-suggestion {
    font-size: 13px;
  }
    .mid-row {
        margin-left: 0;
        margin-right: 0;
        line-height: 1.4em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-panel h1.title {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 28px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .content-panel .logo {
    height: 28px;
  }

  .content-panel h1.title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 24px;
  }
}




