<div ng-controller="DataController">

	<div class="modal fade" id="appModal" role="dialog" style="top: 20%;">
		<div class="modal-dialog" style="width: 1400px;">
		
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add</h4>
				</div>
				<div class="modal-body" style="padding: 20px;">
				
					<div class="row">
						
						<!-- NEW FORM -->
						<div class="col-md-3 text-center">

							<form id="form_data">
								<div class="form-group">

									<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name">
									<textarea row="10" col="10" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.description"></textarea>
									<textarea row="10" col="10" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content"></textarea>
									
								</div>

								<button type="submit" class="btn btn-primary btn-lg" ng-click="createData()">Add</button>
							</form>
						</div>
						
						<!-- TEMPLATES -->
						<div class="col-md-2 text-center">
							<div class="row">
								<div class="col-xs-6 col-sm-3 col-md-3 well rowCell" style="width: auto;margin: 5px;" ng-repeat="template in templates">
									<label>{{ template.name }}</label></br>
									<input type="submit" ng-click="loadTemplate(template._id)" class="btn btn-primary btn-sm" value="preview">
								</div>
							</div>
						</div>
						
						<!-- PREVIEW -->
						<div class="col-md-3 text-center">
							<div ng-bind="preview" style="width:300px;height:300px;border: 1px solid;padding-top:40%;" ></div>
						</div>
						
						<!-- TEMPLATE FORM -->
						<div class="col-md-3 text-center">
							<form>
								<div id="template_form"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#appModal">Add New</button>
			<div class="gridStyle" ng-grid="gridOptions"></div>

		</div>
	</div>
	
</div>