<div ng-controller="TemplateController">

	<div class="modal fade" id="templateModal" role="dialog" style="top: 20%;">
		<div class="modal-dialog" >
		
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Add</h4>
				</div>
				<div class="modal-body" >
				
					<div class="row">
						
						<!-- NEW FORM -->
						<div class="col-md-8 text-center">

							<form id="form_data">
								<div class="form-group">

									<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name">
									<textarea row="10" col="10" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.description"></textarea>
									<textarea row="10" col="10" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content"></textarea>
									
								</div>

								<button type="submit" class="btn btn-primary btn-lg" ng-click="createTemplate()">Add</button>
							</form>
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#templateModal">Add New Template</button>
			<div class="gridStyle" ng-grid="gridOptions"></div>

		</div>
	</div>
	
</div>

