@charset "utf-8";

/*----*****---- << Shortcodes >> ----*****----*/

	.dt-sc-hr { background:url(../images/border.png) repeat-x; background-size:17px 20px; height:20px; width:100%; clear:both; display:block; float:left; margin:40px 0px; position:relative; z-index:1; }
	.dt-sc-hr-medium { background:url(../images/border.png) repeat-x; background-size:23px 28px; height:28px; width:100%; clear:both; display:block; float:left; margin:40px 0px; position:relative; z-index:1; }
	.dt-sc-hr-large { background:url(../images/border.png) repeat-x; background-size:29px 35px; height:35px; width:100%; clear:both; display:block; float:left; margin:40px 0px; position:relative; z-index:1; }	
	
	.dt-sc-hr-border { background:url(../images/splitter2.png) repeat-x; height:1px; width:100%; clear:both; display:block; float:left; margin:30px 0px 40px; position:relative; z-index:1; }
	
	.dt-sc-hr-invisible { float:left; width:100%; margin:20px 0px; display:block; clear:both; }
	.dt-sc-hr-invisible-small { float:left; width:100%; margin:10px 0px; display:block; clear:both; }
	.dt-sc-hr-invisible-medium { float:left; width:100%; margin:40px 0px; display:block; clear:both; }
	.dt-sc-hr-invisible-large { float:left; width:100%; margin:55px 0px; display:block; clear:both; }
	
	.dt-sc-hr.top { width:96%; }
	.dt-sc-hr.top { background-position:right center; text-align:right; }
	.dt-sc-hr.top a { color:rgba(0, 0, 0, 0.5); background:transparent; font-size:11px; line-height:16px; padding-left:5px; position:absolute; right:-4%; top:-4px; }
	.dt-sc-hr.top a:hover { color:#181818; }
	.dt-sc-hr.top a span { margin-right:2px; margin-top:8px; }
	
	.dt-sc-clear { float:none; clear:both; margin:0px; padding:0px; }
	
	/*----*****---- << Columns >> ----*****----*/
	
	.column { margin:0px 0px 0px 2%; float:left; min-height:1px; position:relative; }
	.column.first { margin-left:0px; }	
	
	.dt-sc-full-width, .dt-sc-one-column { width:100%; }
	.column.dt-sc-full-width, .column.dt-sc-one-column { margin-left:0px; }
	
	.dt-sc-one-half { width:49%; }
	
	.dt-sc-one-third { width:32%; }
	.dt-sc-two-third { width:66%; }
	
	.dt-sc-one-fourth { width:23.5%; }
	.dt-sc-three-fourth { width:74.5%; }	
	
	.dt-sc-one-fifth { width:18.4%; }
	.dt-sc-two-fifth { width:38.8%; }
	.dt-sc-three-fifth { width:59.2%; }
	.dt-sc-four-fifth { width:79.6%; }
	
	.dt-sc-one-sixth { width:15%; }
	.dt-sc-two-sixth { width:32%; }
	.dt-sc-three-sixth { width:49%; }
	.dt-sc-four-sixth { width:66%; }
	.dt-sc-five-sixth { width:83%; }				
	
	.column img { max-width:100%; height:auto; }
	
	.dt-sc-one-half iframe, .dt-sc-one-third iframe, .dt-sc-one-fourth iframe, .dt-sc-three-fourth iframe, .dt-sc-two-third iframe, iframe { max-width:100%; }
	embed, iframe, object, video { max-width:100%; }
	
	.column.no-space { margin-left:0px; margin-right:0px; }
	.column.no-space.dt-sc-one-fourth { width:25%; } 	
	.column.no-space.dt-sc-one-third { width:33.3%; }	
	.column.no-space.dt-sc-one-half { width:50%; }
	.column.no-space.dt-sc-one-fifth { width:20%; }
	.column.no-space.dt-sc-one-sixth { width:16.6%; }
	
	.column.no-space.dt-sc-three-fourth { width:75%; }
	.column.no-space.dt-sc-two-third { width:66.6%; }		
	.column.no-space.dt-sc-four-fifth { width:80%; }
	.column.no-space.dt-sc-three-fifth { width:60%; }
	.column.no-space.dt-sc-two-fifth { width:40%; }		
	.column.no-space.dt-sc-two-sixth { width:33.2%; }
	.column.no-space.dt-sc-three-sixth { width:49.8%; }
	.column.no-space.dt-sc-four-sixth { width:66.4%; }
	.column.no-space.dt-sc-five-sixth { width:83%; }
	
	/*----*****---- << Buttons >> ----*****----*/
	
	.dt-sc-button { font-size:16px; padding:8px 15px; background:url(../images/btn-bg.png) left top repeat-x; line-height:normal; display:inline-block; margin:10px 0px 0px; cursor:pointer; outline:none; position:relative; z-index:1; border:1px solid; border-radius:30px; color:#ffffff; position:relative; text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5); box-shadow:inset 1px 1px 0px rgba(255, 255, 255, 0.2); }
	.dt-sc-button:before { content:""; position:absolute; left:0px; top:0px; background:url(../images/textured-pattern-light.png) right center repeat; width:100%; height:100%; border-radius:30px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); }
	.dt-sc-button:hover { color:#ffffff; }
	
	.dt-sc-button.with-icon { margin-right:5px; }
	.dt-sc-button.with-icon span { float:left; line-height:21px; position:relative; top:1px; }
	.dt-sc-button.with-icon i { border:1px solid #292420; background-color:#49423c; text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5); box-shadow:inset -1px 1px 0px rgba(255, 255, 255, 0.2); border-radius:0 30px 30px 0; float:left; margin:-1px -5px -1px 15px; line-height:17px; }
	.dt-sc-button.with-icon:before { box-shadow:none; }
	
	.dt-sc-button.small.with-icon { padding:0px 0px 0px 20px; }
	.dt-sc-button.small.with-icon span { padding:12px 0px; }
	.dt-sc-button.small.with-icon i { padding:15px 20px; font-size:16px; }
	
	.dt-sc-button.medium.with-icon { padding:0px 0px 0px 25px; }
	.dt-sc-button.medium.with-icon span { padding:17px 0px; }
	.dt-sc-button.medium.with-icon i { padding:20px 25px; font-size:18px; }
	
	.dt-sc-button.large.with-icon { padding:0px 0px 0px 30px; }
	.dt-sc-button.large.with-icon span { padding:20px 0px; }
	.dt-sc-button.large.with-icon i { padding:23px 30px; margin-left:20px; font-size:20px; border-radius:0 40px 40px 0; }
	
	.dt-sc-button.xlarge.with-icon { padding:0px 0px 0px 35px; }
	.dt-sc-button.xlarge.with-icon span { padding:27px 0px; }
	.dt-sc-button.xlarge.with-icon i { padding:30px 35px; margin-left:25px; font-size:22px; border-radius:0 50px 50px 0; }
	
	.dt-sc-button.white:hover, .dt-sc-button.white:active { color:#808080; }
	
	.dt-sc-button.filled { color:#ffffff; }
	.dt-sc-button.filled:hover:after { background:#ffffff; }
	
	.dt-sc-button.large.filled { font-size:18px; padding:21px 30px; }
	.dt-sc-button.xlarge.filled { font-size:20px; padding:25px 40px; }
	
	.dt-sc-button.small { font-size:14px; padding:11px 20px; }
	.dt-sc-button.medium { font-size:16px; padding:14px 30px; }
	.dt-sc-button.large { font-size:18px; padding:18px 37px; border-radius:40px; }
	.dt-sc-button.large:before { border-radius:40px; }
	.dt-sc-button.xlarge { font-size:20px; padding:25px 50px; border-radius:50px; }
	.dt-sc-button.xlarge:before { border-radius:50px; }
	
	.dt-sc-button.chocolate { border-color:#ba6b27; background-color:#d77d31; }
	.dt-sc-button.chocolate:hover { background-color:#ba6b27; }
	.dt-sc-button.with-icon.chocolate i { border-color:#292420; background-color:#49423c; }
	
	.dt-sc-button.green { border-color:#5ab021; background-color:#6dc82b; }	
	.dt-sc-button.green:hover { background-color:#5ab021; }
	.dt-sc-button.with-icon.green i { border-color:#242920; background-color:#424a3d; }
	
	.dt-sc-button.blue { border-color:#40a1b3; background-color:#4db8c9; }
	.dt-sc-button.blue:hover { background-color:#40a1b3; }
	.dt-sc-button.with-icon.blue i { border-color:#202829; background-color:#3d484a; }
	
	.dt-sc-button.orange { border-color:#db8f0b; background-color:#f39d12; }
	.dt-sc-button.orange:hover { border-color:#db8f0b; }
	.dt-sc-button.with-icon.orange i { border-color:#292520; background-color:#4a453d; }
	
	.dt-sc-button.pink { border-color:#cf6da3; background-color:#e67fb9; }
	.dt-sc-button.pink:hover { background-color:#cf6da3; }
	.dt-sc-button.with-icon.pink i { border-color:#292025; background-color:#4a3d44; }
	
	.dt-sc-button.red { border-color:#d14532; background-color:#e74d3c;}
	.dt-sc-button.red:hover { background-color:#d14532; }
	.dt-sc-button.with-icon.red i { border-color:#292120; background-color:#4a3e3d; }
	
	.dt-sc-button.purple { border-color:#884a9e; background-color:#9c59b6; }
	.dt-sc-button.purple:hover { background-color:#884a9e; }
	.dt-sc-button.with-icon.purple i { border-color:#262029; background-color:#463d4a; }
	
	.dt-sc-button.ocean { border-color:#14a68b; background-color:#1abc9c; }
	.dt-sc-button.ocean:hover { background-color:#14a68b; }
	.dt-sc-button.with-icon.ocean i { border-color:#202927; background-color:#3d4a47; }
	
	.dt-sc-button.black { border-color:#000000; background-color:#181818; }
	.dt-sc-button.black:hover { background-color:#000000; }
	.dt-sc-button.with-icon.black i { border-color:#292020; background-color:#4a3d3d; }
	
	.dt-sc-button.slateblue { border-color:#7661e8; background-color:#836fff; }
	.dt-sc-button.slateblue:hover { background-color:#7661e8; }
	.dt-sc-button.with-icon.slateblue i { border-color:#212029; background-color:#3e3d4a; }
	
	.dt-sc-button.skyblue { border-color:#00aae8; background-color:#00bfff; }
	.dt-sc-button.skyblue:hover { background-color:#00aae8; }
	.dt-sc-button.with-icon.skyblue i { border-color:#202729; background-color:#3d474a; }
	
	.dt-sc-button.coral { border-color:#e87243; background-color:#ff7f50; }
	.dt-sc-button.coral:hover { background-color:#e87243; }
	.dt-sc-button.with-icon.coral i { border-color:#292220; background-color:#4a403d; }
	
	.dt-sc-button.khaki { border-color:#9e9a47; background-color:#b6af55; }
	.dt-sc-button.khaki:hover { background-color:#9e9a47; }
	.dt-sc-button.with-icon.khaki i { border-color:#292820; background-color:#4a493d; }
	
	.dt-sc-button.cyan { border-color:#00b2b5; background-color:#00cdcd; }
	.dt-sc-button.cyan:hover { background-color:#00b2b5; }
	.dt-sc-button.with-icon.cyan i { border-color:#202929; background-color:#3d4a4a; }
	
	.dt-sc-button.grey { border-color:#616161; background-color:#8e8e8e }
	.dt-sc-button.grey:hover { background-color:#616161; }
	.dt-sc-button.with-icon.grey i { border-color:#232323; background-color:#454545; }
	
	.dt-sc-button.gold { border-color:#c99914; background-color:#e0a81c; }
	.dt-sc-button.gold:hover { background-color:#c99914; }
	.dt-sc-button.with-icon.gold i { border-color:#292620; background-color:#4a463d; }
	
	.dt-sc-button.raspberry { border-color:#8c305c; background-color:#a23b6f; }
	.dt-sc-button.raspberry:hover { background-color:#8c305c; }
	.dt-sc-button.with-icon.raspberry i { border-color:#292024; background-color:#4a3d43; }
	
	.dt-sc-button.electricblue { border-color:#415361; background-color:#536878; }
	.dt-sc-button.electricblue:hover { background-color:#415361; }
	.dt-sc-button.with-icon.electricblue i { border-color:#202529; background-color:#3d444a; }
	
	.dt-sc-button.eggplant { border-color:#4a2f3d; background-color:#614051; }
	.dt-sc-button.eggplant:hover { background-color:#4a2f3d; }
	.dt-sc-button.with-icon.eggplant i { border-color:#292024; background-color:#4a3d44; }
	
	.dt-sc-button.ferngreen { border-color:#3d6133; background-color:#4f7942; }
	.dt-sc-button.ferngreen:hover { background-color:#3d6133; }
	.dt-sc-button.with-icon.ferngreen i { border-color:#222920; background-color:#404a3d; }
	
	.dt-sc-button.palebrown { border-color:#826546; background-color:#987654; }	
	.dt-sc-button.palebrown:hover { background-color:#826546; }
	.dt-sc-button.with-icon.palebrown i { border-color:#292420; background-color:#4a433d; }
	
	.dt-sc-button.white { border-color:#ffffff; background-color:#ffffff; color:#37251b; text-shadow:none; }	
	.dt-sc-button.white:hover { background-color:#ffffff; }
	.dt-sc-button.with-icon.white i { border-color:#292420; background-color:#49423c; color:#ffffff; }
	
	.dt-sc-button.green:hover, .dt-sc-button.orange:hover, .dt-sc-button.blue:hover, .dt-sc-button.pink:hover, .dt-sc-button.red:hover, .dt-sc-button.purple:hover, .dt-sc-button.ocean:hover, .dt-sc-button.black:hover, .dt-sc-button.slateblue:hover, .dt-sc-button.skyblue:hover, .dt-sc-button.coral:hover, .dt-sc-button.khaki:hover, .dt-sc-button.cyan:hover, .dt-sc-button.grey:hover, .dt-sc-button.gold:hover, .dt-sc-button.chocolate:hover, .dt-sc-button.raspberry:hover, .dt-sc-button.electricblue:hover, .dt-sc-button.eggplant:hover, .dt-sc-button.ferngreen:hover, .dt-sc-button.palebrown:hover { color:#ffffff; }	
	
	input.dt-sc-button, input[type="submit"], input[type="button"] { overflow: visible; /* remove padding from left/right */ width:auto !important; }


	
	/*----*****---- << Icon Box >> ----*****----*/			
	.dt-sc-ico-content { width:100%; margin:0px; padding:0px; clear:both; display:block; text-align:center; }
	
	.dt-sc-ico-content.type1 { background:#fcfcf7 url(../images/textured-pattern.png) repeat; position:relative; margin:43px 0px 0px; padding:0px 0px 20px; }
	.dt-sc-ico-content.type1:before, .dt-sc-ico-content.type1:after { content:""; position:absolute; background:url(../images/textured-border.png) repeat-x; height:6px; width:100%; left:0px; }
	.dt-sc-ico-content.type1:before { top:-6px; background:url(../images/textured-border-top.png) repeat-x; }
	.dt-sc-ico-content.type1:after { bottom:-6px; }
	.dt-sc-ico-content.type1 h2 { font-weight:300; text-transform:none; margin-bottom:15px; letter-spacing:0px; letter-spacing:0px; }
	.dt-sc-ico-content.type1 h2 a:hover { color:#37251b !important; }
	
	.dt-sc-ico-content.type1 .image { margin-bottom:20px; line-height:0; position:relative; overflow:hidden; min-height:100px; }
	.dt-sc-ico-content.type1 .image:before, .dt-sc-ico-content.type1 .image:after { content:""; position:absolute; left:0px; width:100%; border-top:1px dashed #d2c4b9; }
	.dt-sc-ico-content.type1 .image:before { top:5px; z-index:1; }
	.dt-sc-ico-content.type1 .image:after { bottom:5px; }
	
	.dt-sc-ico-content.type1 p { width:80%; padding:0px 10%; }
	.dt-sc-ico-content.type1 .icon { text-align:center; display:inline-block; vertical-align:middle; background-image:url(../images/textured-pattern-light.png); background-repeat:repeat; background-position:left center; width:86px; height:86px; text-align:center; border-radius:86px; line-height:0; position:relative; top:-43px; margin-bottom:-33px; position:relative; }
	.dt-sc-ico-content.type1 span  { width:100%; }
	.dt-sc-ico-content.type1 span.fa { line-height:83px; font-size:30px; color:#ffffff; }
	.dt-sc-ico-content.type1 span img { position:absolute; left:0px; top:0px; right:0px; bottom:0px; margin:auto; }
	
	.dt-sc-ico-content.type1.chocolate .icon { background-color:#d77d31; } 
	.dt-sc-ico-content.type1.chocolate h2 a, .dt-sc-ico-content.type1.chocolate h2 { color:#d77d31; }
	
	.dt-sc-ico-content.type1.blue .icon { background-color:#4db8c9; } 
	.dt-sc-ico-content.type1.blue h2 a, .dt-sc-ico-content.type1.blue h2 { color:#4db8c9; }
	
	.dt-sc-ico-content.type1.green .icon { background-color:#6dc82b; } 
	.dt-sc-ico-content.type1.green h2 a, .dt-sc-ico-content.type1.green h2 { color:#6dc82b; }
	
	.dt-sc-ico-content.type1.orange .icon { background-color:#f39d12; }
	.dt-sc-ico-content.type1.orange h2 a, .dt-sc-ico-content.type1.orange h2 { color:#f39d12; }
	
	.dt-sc-ico-content.type1.pink .icon { background-color:#e67fb9; }
	.dt-sc-ico-content.type1.pink h2 a, .dt-sc-ico-content.type1.pink h2 { color:#e67fb9; }
	
	.dt-sc-ico-content.type1.red .icon { background-color:#e74d3c; }
	.dt-sc-ico-content.type1.red h2 a, .dt-sc-ico-content.type1.red h2 { color:#e74d3c; }
	
	.dt-sc-ico-content.type1.purple .icon { background-color:#9c59b6; }
	.dt-sc-ico-content.type1.purple h2 a, .dt-sc-ico-content.type1.purple h2 { color:#9c59b6; }
	
	.dt-sc-ico-content.type1.ocean .icon { background-color:#1abc9c; }	
	.dt-sc-ico-content.type1.ocean h2 a, .dt-sc-ico-content.type1.ocean h2 { color:#1abc9c; }	
	
	.dt-sc-ico-content.type1.slateblue .icon { background-color:#836fff; }
	.dt-sc-ico-content.type1.slateblue h2 a, .dt-sc-ico-content.type1.slateblue h2 { color:#836fff; }
	
	.dt-sc-ico-content.type1.skyblue .icon { background-color:#00bfff; }
	.dt-sc-ico-content.type1.skyblue h2 a, .dt-sc-ico-content.type1.skyblue h2 { color:#00bfff; }
	
	.dt-sc-ico-content.type1.coral .icon { background-color:#ff7f50; }
	.dt-sc-ico-content.type1.coral h2 a, .dt-sc-ico-content.type1.coral h2 { color:#ff7f50; }
	
	.dt-sc-ico-content.type1.khaki .icon { background-color:#b6af55; }
	.dt-sc-ico-content.type1.khaki h2 a, .dt-sc-ico-content.type1.khaki h2 { color:#b6af55; }
	
	.dt-sc-ico-content.type1.cyan .icon { background-color:#00cdcd; }
	.dt-sc-ico-content.type1.cyan h2 a, .dt-sc-ico-content.type1.cyan h2 { color:#00cdcd; }
	
	.dt-sc-ico-content.type1.grey .icon { background-color:#8e8e8e; }
	.dt-sc-ico-content.type1.grey h2 a, .dt-sc-ico-content.type1.grey h2 { color:#8e8e8e; }
		
	.dt-sc-ico-content.type1.gold .icon { background-color:#e0a81c; }
	.dt-sc-ico-content.type1.gold h2 a, .dt-sc-ico-content.type1.gold h2 { color:#e0a81c; }
	
	.dt-sc-ico-content.type1.raspberry .icon { background-color:#a23b6f; }
	.dt-sc-ico-content.type1.raspberry h2 a, .dt-sc-ico-content.type1.raspberry h2 { color:#a23b6f; }
	
	.dt-sc-ico-content.type1.electricblue .icon { background-color:#536878; }
	.dt-sc-ico-content.type1.electricblue h2 a, .dt-sc-ico-content.type1.electricblue h2 { color:#536878; }
	
	.dt-sc-ico-content.type1.eggplant .icon { background-color:#614051; }
	.dt-sc-ico-content.type1.eggplant h2 a, .dt-sc-ico-content.type1.eggplant h2 { color:#614051; }
	
	.dt-sc-ico-content.type1.ferngreen .icon { background-color:#4f7942; }
	.dt-sc-ico-content.type1.ferngreen h2 a, .dt-sc-ico-content.type1.ferngreen h2 { color:#4f7942; }
	
	.dt-sc-ico-content.type1.palebrown .icon { background-color:#987654; }
	.dt-sc-ico-content.type1.palebrown h2 a, .dt-sc-ico-content.type1.palebrown h2 { color:#987654; }
	
	.dt-sc-ico-content.type2 { padding:0px 0px 0px 110px; position:relative; width:auto; display:block; float:none; text-align:left; min-height:90px; }
	.dt-sc-ico-content.type2 .icon { position:absolute; left:0px; top:0px; background:#e2d9cd; width:90px; height:90px; color:#37251b; border-radius:90px; text-align:center; }
	.dt-sc-ico-content.type2 .icon span { line-height:90px; text-align:center; font-size:34px; position:relative; }
	.dt-sc-ico-content.type2 .icon:before { content:""; background-image:url(../images/bordered-circle.png); background-repeat:no-repeat; background-size:80px 80px; width:80px; height:80px; position:absolute; left:0px; right:0px; margin:auto; top:6px; z-index:1; }
	.dt-sc-ico-content.type2 .image { display:none; }
	.dt-sc-ico-content.type2 h2 { font-size:16px; text-transform:none; letter-spacing:0px; margin-bottom:15px; font-weight:normal; }
	.dt-sc-ico-content.type2 p { font-size:13px; }
	
	.dt-sc-ico-content.type3 .icon { position:relative; width:90px; height:90px; color:#ffffff; border-radius:90px; text-align:center; margin:auto; }
	.dt-sc-ico-content.type3 .icon span { line-height:90px; text-align:center; font-size:34px; position:relative; }
	.dt-sc-ico-content.type3 .icon:before { content:""; background-image:url(../images/bordered-circle.png); background-repeat:no-repeat; background-size:80px 80px; width:80px; height:80px; position:absolute; left:0px; right:0px; margin:auto; top:6px; z-index:1; }
	.dt-sc-ico-content.type3 .image { display:none; }
	.dt-sc-ico-content.type3 h2 { font-size:22px; font-weight:300; letter-spacing:0px; margin:30px 0px 15px; text-transform:none; }
	
	.dt-sc-ico-content.type3.green .icon, .dt-sc-ico-content.type3.green .icon:after { background:#6dc82b; }
	.dt-sc-ico-content.type3.chocolate .icon, .dt-sc-ico-content.type3.chocolate .icon:after { background:#d77d31; } 
	.dt-sc-ico-content.type3.blue .icon, .dt-sc-ico-content.type3.blue .icon:after { background:#4db8c9; } 
	.dt-sc-ico-content.type3.orange .icon, .dt-sc-ico-content.type3.orange .icon:after { background:#f39d12; }
	.dt-sc-ico-content.type3.pink .icon, .dt-sc-ico-content.type3.pink .icon:after { background:#e67fb9; }
	.dt-sc-ico-content.type3.red .icon, .dt-sc-ico-content.type3.red .icon:after { background:#e74d3c; }
	.dt-sc-ico-content.type3.purple .icon, .dt-sc-ico-content.type3.purple .icon:after { background:#9c59b6; }
	.dt-sc-ico-content.type3.ocean .icon, .dt-sc-ico-content.type3.ocean .icon:after { background:#1abc9c; }	
	.dt-sc-ico-content.type3.slateblue .icon, .dt-sc-ico-content.type3.slateblue .icon:after { background:#836fff; }
	.dt-sc-ico-content.type3.skyblue .icon, .dt-sc-ico-content.type3.skyblue .icon:after { background:#00bfff; }
	.dt-sc-ico-content.type3.coral .icon, .dt-sc-ico-content.type3.coral .icon:after { background:#ff7f50; }
	.dt-sc-ico-content.type3.khaki .icon, .dt-sc-ico-content.type3.khaki .icon:after { background:#b6af55; }
	.dt-sc-ico-content.type3.cyan .icon, .dt-sc-ico-content.type3.cyan .icon:after { background:#00cdcd; }
	.dt-sc-ico-content.type3.grey .icon, .dt-sc-ico-content.type3.grey .icon:after { background:#8e8e8e; }
	.dt-sc-ico-content.type3.gold .icon, .dt-sc-ico-content.type3.gold .icon:after { background:#e0a81c; }
	.dt-sc-ico-content.type3.raspberry .icon, .dt-sc-ico-content.type3.raspberry .icon:after { background:#a23b6f; }
	.dt-sc-ico-content.type3.electricblue .icon, .dt-sc-ico-content.type3.electricblue .icon:after { background:#536878; }
	.dt-sc-ico-content.type3.eggplant .icon, .dt-sc-ico-content.type3.eggplant .icon:after { background:#614051; }
	.dt-sc-ico-content.type3.ferngreen .icon, .dt-sc-ico-content.type3.ferngreen .icon:after { background:#4f7942; }
	.dt-sc-ico-content.type3.palebrown .icon, .dt-sc-ico-content.type3.palebrown .icon:after { background:#987654; }
	
	.dt-sc-ico-content.type2 .icon:after, .dt-sc-ico-content.type3 .icon:after { position:absolute; content:""; height:100%; width:100%; left:0px; top:0px; border-radius:50%; -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); opacity: 0; -webkit-transition: -webkit-transform 0.4s, opacity 0.2s; -moz-transition: -moz-transform 0.4s, opacity 0.2s; transition: transform 0.4s, opacity 0.2s; }
	.dt-sc-ico-content.type2:hover .icon:after, .dt-sc-ico-content.type3:hover .icon:after { opacity:1; -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
	.dt-sc-ico-content.type2:hover .icon, .dt-sc-ico-content.type3:hover .icon { background:none; } 
	.dt-sc-ico-content.type2:hover .icon span, .dt-sc-ico-content.type3:hover .icon span { color:#ffffff; z-index:1; }
	
	/*----*****---- << Popular Procedures >> ----*****----*/	
	.dt-sc-popular-procedures { width:100%; margin:0px; padding:0px; clear:both; display:block; text-align:center; }
	.dt-sc-popular-procedures.with-image { margin:115px 0px 0px; }
	.dt-sc-popular-procedures-wrapper { background:#f2f2e5 url(../images/textured-pattern.png) repeat; padding:0px 0px 40px; margin:0px 0px 30px; width:100%; float:left; position:relative; }
	.dt-sc-popular-procedures-wrapper:before { content:""; position:absolute; background:url(../images/textured-border.png) repeat-x; height:6px; width:100%; left:0px; bottom:-6px; }
	
	.dt-sc-popular-procedures-wrapper .border { position:relative; background:url(../images/closed-border.png) repeat-x; height:53px; display:block; margin:0px 26px 0px 30px; }
	.dt-sc-popular-procedures-wrapper .border:before, .dt-sc-popular-procedures-wrapper .border:after { content:""; position:absolute; height:53px; }
	.dt-sc-popular-procedures-wrapper .border:before { background:url(../images/closed-border-left.png) no-repeat; left:-30px; width:30px; }
	.dt-sc-popular-procedures-wrapper .border:after { background:url(../images/closed-border-right.png) no-repeat; width:26px; right:-26px; }
	
	.dt-sc-popular-procedures h2 { font-weight:300; text-transform:none; margin:20px 0px; padding:0px 5%; letter-spacing:0px; letter-spacing:0px; }
	.dt-sc-popular-procedures p { padding:0px 5%; }
	.dt-sc-popular-procedures .image { width:100%; text-align:center; display:inline-block; margin:-165px 0px 0px; position:relative; z-index:1; }
	.dt-sc-popular-procedures .image img { max-width:230px; border-radius:50%; }
	/*.dt-sc-popular-procedures .image:before { content:""; width:65%; height:90%; border-radius:50%; border:1px dashed #ffffff; left:0px; right:0px; margin:auto; top:3%; z-index:1; position:absolute; border-spacing:2px; }*/
	.dt-sc-popular-procedures .duration, .dt-sc-popular-procedures .price { font-size:20px; font-weight:700; clear:both; display:block; margin-bottom:20px; }
	
	.dt-sc-popular-procedures .image:before { content:""; background-image:url(../images/bordered-circle.png); background-repeat:no-repeat; background-size:216px 216px; width:216px; height:216px; position:absolute; left:0px; right:0px; margin:auto; top:7px; }
	
	ul.dt-sc-fancy-list.procedures li:before { content:"\f0da";  }
	ul.dt-sc-fancy-list.procedures li { padding-left:15px; width:29%; margin:0px 2% 0px 0px; float:left; }
	
	
	.secondary-sidebar .dt-sc-popular-procedures.with-image { margin-top:80px; }
	.secondary-sidebar .dt-sc-popular-procedures .image:before { width:170px; height:170px; background-size:170px 170px; top:5px; }
	.secondary-sidebar .dt-sc-popular-procedures .image { margin-top:-130px; }
	.secondary-sidebar .dt-sc-popular-procedures .image img { max-width:180px; }
	
	/*----*****---- << Callout Boxes >> ----*****----*/
	
	.dt-sc-callout-box { width:100%; margin:0px; padding:25px 3%; width:94%; float:left; }
	.dt-sc-callout-box h4 { text-transform:none; margin-bottom:8px; font-size:18px; font-weight:normal; color:#d77d31; }
	.dt-sc-callout-box h5 { font-size:16px; font-weight:normal; text-transform:none; color:#ac9d8e; margin-bottom:0px; }
	.dt-sc-callout-box .dt-sc-callout-content { width:76%; float:left; margin-right:2%; }
	.dt-sc-callout-box .dt-sc-callout-button { float:left; width:22%; }
	.dt-sc-callout-box .dt-sc-callout-button a { float:right; margin-top:5px; }
	.dt-sc-callout-box img { float:left; margin:0px 20px 0px 0px; }
	
	.dt-sc-callout-box.with-icon h4 { margin-top:20px; }
	.dt-sc-callout-box.with-icon .dt-sc-button { margin-top:25px; }
	
	.dt-sc-callout-box .icon { width:65px; height:65px; float:left; margin:-5px 20px 0px 0px; text-align:center; line-height:70px; font-size:36px; border-radius:65px; }
	.dt-sc-callout-box.with-icon { padding:25px 3% 25px 2%; width:95%; }
	
	.dt-sc-callout-box.type1, .dt-sc-callout-box.type2, .dt-sc-callout-box.type4, .dt-sc-callout-box.type5 { border-left:1px solid; background:#e6e5d9 url(../images/textured-pattern.png) repeat; position:relative; padding:35px 3%; }	
	.dt-sc-callout-box.type1:before, .dt-sc-callout-box.type1:after, .dt-sc-callout-box.type2:before, .dt-sc-callout-box.type2:after { content:""; position:absolute; border-top:1px dashed #d2c4b9; width:100%; left:0px; top:10px; }
	.dt-sc-callout-box.type1:after, .dt-sc-callout-box.type2:after { bottom:10px; top:inherit; }
	
	.dt-sc-callout-box.type2 { border-left:0px; }	
	.dt-sc-callout-box.type3 { border:1px solid; background:url(../images/textured-pattern.png) repeat; position:relative; padding:35px 3%; width:94%; }	
	.dt-sc-callout-box.type4 { border:0px; border-radius:100px; }
	.dt-sc-callout-box.type5 { border:0px; background-color:#fcfcf7; }
	
	.dt-sc-callout-box.type6 { margin:20px 0px; background:#e6e5d9 url(../images/textured-pattern.png) repeat; position:relative; }
	.dt-sc-callout-box.type6 h4 { display:none; }
	.dt-sc-callout-box.type6 h5 { font-size:14px; line-height:28px; }
	.dt-sc-callout-box.type6.with-icon h5 { margin-top:20px; }
	.dt-sc-callout-box.type6 .dt-sc-button { margin-top:9px; }
	.dt-sc-callout-box.type6.with-icon .dt-sc-button { margin-top:30px; }
	.dt-sc-callout-box.type6:before { content:""; position:absolute; border:1px dashed #d2c4b9; border-left:0px; border-right:0px; height:86%; width:100%; left:0px; top:10px; }
	.dt-sc-callout-box.type6:after { content:""; position:absolute; background:url(../images/textured-border.png) repeat-x; height:6px; width:100%; left:0px; bottom:-6px;  }
	.dt-sc-callout-box.type6 h4 { font-size:18px; text-transform:none; font-weight:normal; margin-bottom:-10px; margin-top:10px; }
	
	.dt-sc-callout-box.type7 { margin:20px 0px; padding:0px; width:100%; }
	.dt-sc-callout-box.type7 img { float:left; margin:0px 40px 0px 0px; }
	.dt-sc-callout-box.type7 h5 { font-size:14px; line-height:28px; margin-top:20px; }
	.dt-sc-callout-box.type7 .dt-sc-button { margin-top:70px; }
	.dt-sc-callout-box.type7 h4 { font-size:18px; text-transform:none; font-weight:normal; margin-bottom:-10px; margin-top:30px; }
	
	/*----*****---- << Testimonials >> ----*****----*/
	
	.carousel-arrows { position:absolute; top:-69px; right:0px; }
	.carousel-arrows a { color:#ac9d8e; font-size:40px; }
	.carousel-arrows a.testimonial-prev { margin-right:5px; }
	
	.dt-sc-testimonial-carousel-wrapper { float:left; clear:both; margin:0px; padding:0px; width:100%; position:relative; display:block; }
	.dt-sc-testimonial-carousel li { display:block; float:left; margin:0px 10px; }
	
	.dt-sc-testimonial { margin: 50px;
		padding: 0px 0px 0px 140px;
		float: left;
		display: block;
		position: relative;
		width: 100%; 
	}
	.dt-sc-testimonial .author { position:absolute; left:0px; top:0px; float:left; width:120px; height:120px; border-radius:120px; }
	.dt-sc-testimonial .author img { max-width:120px; border-radius:120px; position:relative; }
	.dt-sc-testimonial .author span { width:100%; height:100%; float:left; position:relative; }
	.dt-sc-testimonial .author span:before {  content:""; background-image:url(../images/bordered-circle.png); background-repeat:no-repeat; background-size:110px 110px; width:110px; height:110px; position:absolute; left:0px; right:0px; margin:auto; top:6px; z-index:1; }
	
	.dt-sc-testimonial blockquote { padding:15px 0px; background:none; margin:0px; float:left; display:block; position:relative; }
	.dt-sc-testimonial blockquote q { background:none; font-size:14px; line-height:28px; color:#ac9d8e; font-weight:normal; border:none; display:block; float:left; padding:0px; margin:0px; text-align:center; }
	.dt-sc-testimonial blockquote q:after, .dt-sc-testimonial blockquote q:before { font-size:40px; display:inline; line-height:7px; font-style:normal; position:relative; top:18px; }
	.dt-sc-testimonial blockquote q:after { margin-left:5px; }
	.dt-sc-testimonial blockquote q:before { margin-right:5px; }
	.dt-sc-testimonial cite { font-size:14px; font-weight:600; font-style:normal; float:right; }
	
	.dt-sc-testimonial-carousel-wrapper.type2 { margin-top:20px; }
	.type2 .dt-sc-testimonial { padding:0px; text-align:center; margin:0px; }
	.type2 .dt-sc-testimonial-carousel li { margin:0px 70px; }
	.type2 .dt-sc-testimonial blockquote { padding:0px; }
	.type2 .dt-sc-testimonial .author { float:none; display:inline; bottom:-75px; left:0px; right:0px; margin:auto; position:inherit; }
	.type2 .dt-sc-testimonial .author { width:150px; height:150px; border-radius:150px; }
	.type2 .dt-sc-testimonial .author span { margin-top:-35px; }
	.type2 .dt-sc-testimonial .author img { max-width:150px; border-radius:150px; }
	.type2 .dt-sc-testimonial .author span:before { background-size:140px 140px; width:140px; height:140px; top:6px; }
	.type2 .dt-sc-testimonial cite { margin-top:40px; }
	
	.dt-sc-testimonial-carousel-wrapper.type2 .carousel-arrows { bottom:93px; top:inherit; right:0px; left:0px; margin:auto; width:220px; }
	.dt-sc-testimonial-carousel-wrapper.type2 .carousel-arrows .testimonial-next { position:absolute; right:0px; top:0px; }
	
	
	/*----*****---- << Partners >> ----*****----*/
	
 	.carousel-arrows a.partner-prev { background-position:left top; }
	.carousel-arrows a.partner-next { background-position:right top; }
	
	.dt-sc-partner-carousel-wrapper { float:left; clear:both; margin:0px; padding:0px; width:100%; position:relative; display:block; }
	.dt-sc-partner-carousel li { display:block; float:left; margin:0px 10px; text-align:center; }

	/*----*****---- << Team >> ----*****----*/
	
	.dt-sc-team { float:left; width:100%; margin:0px 0px 20px; padding:0px 0px 6px; text-align:center; background:#fcfcf7 url(../images/textured-pattern.png) repeat; position:relative; }
	.dt-sc-team:before, .dt-sc-team:after { content:""; position:absolute; width:100%; left:0px; }
	.dt-sc-team:before { background:url(../images/team-header.jpg) center center no-repeat; height:170px; top:0px; border-bottom:1px dashed #d3c6ba; }
	.dt-sc-team:after { background:url(../images/textured-border.png) repeat-x; height:6px; bottom:-6px; }
	
	.dt-sc-team .image { float:left; width:100%; text-align:center; padding:0px 0px 20px; position:relative; z-index:1; line-height:0; }
	.dt-sc-team .image img { max-width:150px; border-radius:100%; }
	.dt-sc-team .image:before { content:""; background-image:url(../images/bordered-circle.png); background-repeat:no-repeat; background-size:140px 140px; width:140px; height:140px; position:absolute; left:0px; right:0px; margin:auto; top:6px; }
	
	.dt-sc-team .team-details { text-align:center; clear:both; float:left; width:100%; position:relative; z-index:1; margin:20px 0px 5px; }
	.dt-sc-team h5 { font-size:20px; font-weight:300; text-transform:uppercase; margin-bottom:5px; color:#37251b; padding:0px 10px; }
	.dt-sc-team h6 { font-size:14px; font-weight:normal; margin-bottom:20px; color:#37251b; text-transform:none; padding:0px 10px; }
	.dt-sc-team p { font-size:13px; padding:0px 15px 20px; margin-bottom:12px; border-bottom:1px dashed #d2c4b9; clear:both; }
	
	.dt-sc-team .dt-sc-social-icons { line-height:0px; }
	.dt-sc-team .dt-sc-social-icons li { margin:0px 10px; }
	
	/*----*****---- << Social Icons >> ----*****----*/
	
	.dt-sc-social-icons { float:left; text-align:center; margin:0px; padding:0px; clear:both; width:100%; }
	.dt-sc-social-icons li { display:inline-block; margin:0px 5px; padding:0px; text-align:center; position:relative; transition:background-color 300ms linear; -webkit-transition:background-color 300ms linear; -moz-transition: background-color 300ms linear; -o-transition:background-color 300ms linear; -ms-transition:background-color 300ms linear; }
	.dt-sc-social-icons li a { height:40px; width:40px; display:block; text-align:center; }
	.dt-sc-social-icons li:last-child { margin-right:0px; }
	
	.dt-sc-social-icons li img {  bottom:0px; left:0px; right:0; top:0; margin:auto; position:absolute; } 
	.dt-sc-social-icons li img:first-child { display:none; }
	.dt-sc-social-icons li:hover img:first-child { display:block; z-index:1;  }
	.dt-sc-social-icons li:hover img:last-child { display:none; }		
	
	.dt-sc-social-icons li.delicious:hover { background:#2648be; }
	.dt-sc-social-icons li.deviantart:hover { background:#54675a; }
	.dt-sc-social-icons li.digg:hover { background:#1a5891; }
	.dt-sc-social-icons li.dribble:hover { background:#f974a4; }
	.dt-sc-social-icons li.facebook:hover { background:#3c5b9b; }
	.dt-sc-social-icons li.flickr:hover { background:#e30377; }
	.dt-sc-social-icons li.google:hover { background:#ba3526; }
	.dt-sc-social-icons li.gtalk:hover { background:#23458f; }
	.dt-sc-social-icons li.lastfm:hover { background:#d12540; }
	.dt-sc-social-icons li.linkedin:hover { background:#0173b2; }
	.dt-sc-social-icons li.mail:hover { background:#edc719; }
	.dt-sc-social-icons li.myspace:hover { background:#4f79c6; }
	.dt-sc-social-icons li.picasa:hover { background:#8a66a3; }
	.dt-sc-social-icons li.pinterest:hover { background:#ca1325; }
	.dt-sc-social-icons li.reddit:hover { background:#ff1a00; }
	.dt-sc-social-icons li.rss:hover { background:#ffb922; }
	.dt-sc-social-icons li.skype:hover { background:#00aaf1; }
	.dt-sc-social-icons li.stumbleupon:hover { background:#eb4924; }
	.dt-sc-social-icons li.technorati:hover { background:#5bb834; }
	.dt-sc-social-icons li.tumblr:hover { background:#2a445f; }
	.dt-sc-social-icons li.twitter:hover { background:#2caae1; }
	.dt-sc-social-icons li.viadeo:hover { background:#f4982b; }
	.dt-sc-social-icons li.vimeo:hover { background:#41b2dc; }
	.dt-sc-social-icons li.yahoo:hover { background:#7c1f70; }
	.dt-sc-social-icons li.youtube:hover { background:#ff3431; }
		
	/*----*****---- << Horizontal Tabs >> ----*****----*/
	
	.dt-sc-tabs-container { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
	.dt-sc-tabs-container.aligncenter ul.dt-sc-tabs-frame { margin-bottom:30px; }
	ul.dt-sc-tabs-frame { float:left; margin:0px 0px 10px; padding:0px; width:100%; }
	ul.dt-sc-tabs-frame > li { float:left; display:inline; margin:0px -1px 0px 0px; padding:0px; }
	ul.dt-sc-tabs-frame > li > a { border-bottom:5px solid transparent; float:left; margin:0px 10px 0px 0px; padding:0px 10px 10px; font-size:16px; text-align:center; font-weight:normal; color:#37251b; }
	ul.dt-sc-tabs-frame > li > a.current { border-color:#37251b; position:relative; z-index:1; }
	ul.dt-sc-tabs-frame > li > a.current > span, ul.dt-sc-tabs-frame > li > a.current:hover { color:#37251b; }

	.dt-sc-tabs-container.aligncenter > ul.dt-sc-tabs-frame { text-align:center; }
	.dt-sc-tabs-container.aligncenter > ul.dt-sc-tabs-frame > li, .dt-sc-tabs-container.aligncenter > ul.dt-sc-tabs-frame > li > a { text-align:center; float:none; display:inline-block; }
	
	.dt-sc-tabs-frame-content { float:left; clear:both; width:100%; margin:-1px 0px 0px; padding:20px 0px; text-align:left; }	
	
	/*----*****---- << Vertical Tabs >> ----*****----*/
	
	.dt-sc-tabs-vertical-container { float:left; width:100%; margin:0px 0px 20px; padding:0px; clear:both; }
	ul.dt-sc-tabs-vertical-frame { float:left; width:32%; margin:0px -1px 0px 0px; padding:0px; }
	ul.dt-sc-tabs-vertical-frame > li { float:left; display:block; margin:0px 0px 5px; padding:0px; width:100%; position:relative; }
	ul.dt-sc-tabs-vertical-frame > li > a { display:block; border-left:3px solid transparent; margin:0px; padding:10px 0px 10px 15px; font-weight:normal; color:#37251b; font-size:16px; text-align:left;  }
	ul.dt-sc-tabs-vertical-frame > li > a.current { border-color:#37251b; background:#e6e5d9 url(../images/textured-pattern.png) left center repeat; }
	ul.dt-sc-tabs-vertical-frame > li > a.current > span { color:#37251b; }
	
	/*ul.dt-sc-tabs-vertical-frame li.current a span { position:absolute; right:-6px; top:0px; bottom:0; margin:auto; background:url(images/vertical-tabs-active.png) no-repeat; width:7px; height:12px;  }*/
	
	.dt-sc-tabs-vertical-frame-content { background:#e6e5d9 url(../images/textured-pattern.png) repeat; float:left; width:57%; margin:0px; padding:20px 5%; position:relative; }		
	.dt-sc-tabs-vertical-frame-content:after { content:""; position:absolute; bottom:-6px; left:0px; width:100%; height:6px; background:url(../images/textured-border.png) repeat-x; }
	.dt-sc-tabs-vertical-frame-content h4 { text-transform:none; }
	
	/*----*****---- << Gift Card Section >> ----*****----*/
	.dt-sc-gift-card-section { float:left; width:100%; margin:0px; padding:0px; display:block; clear:both; }
	.dt-sc-gift-card-section .title { display:inline-block; text-align:center; width:100%; margin:0px 0px 20px; }
	.dt-sc-gift-card-section h6 { border-bottom:5px solid #37251b; padding:0px 10px 10px; font-size:16px; display:inline-block; text-align:center; text-transform:none; font-weight:normal; }
	
	.dt-sc-gift-card { background:#f6f6e9 url(../images/textured-pattern.png) repeat; clear:both; width:100%; display:block; text-align:center; padding:0px 0px 10px; position:relative; cursor:pointer; }
	.dt-sc-gift-card:before { content:""; position:absolute; bottom:-6px; left:0px; background:url(../images/textured-border.png) repeat-x; width:100%; height:6px; }
	.dt-sc-gift-card .price { background:url(../images/gift-card-texture.jpg) repeat; font-size:25px; font-weight:bold; padding:25px 0px; margin:0px; display:inline-block; width:100%; position:relative; }
	.dt-sc-gift-card .price:before, .dt-sc-gift-card .price:after { content:""; position:absolute; width:100%; left:0px; }
	.dt-sc-gift-card .price:before { top:5px; border-top:1px dashed #d2c4b9; }
	.dt-sc-gift-card .price:after { bottom:5px; border-top:1px dashed #d2c4b9; }
	.dt-sc-gift-card .image { position:relative; line-height:0; width:100%; overflow:hidden; }
	.dt-sc-gift-card .image .overlay { position:absolute; top:0px; left:0px; width:100%; height:0px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s;  }
	.dt-sc-gift-card .image .overlay span { position:absolute; line-height:28px; font-size:16px; color:#ffffff; margin:auto; left:0px; top:0px; right:0px; bottom:0px; height:28px; font-size:0px; -webkit-transition:all 0.1s; -moz-transition:all 0.1s; -ms-transition:all 0.1s; -o-transition:all 0.5s; transition:all 0.1s; }
	.dt-sc-gift-card h4 { margin:25px 0px 15px; color:#ac9d8e; text-transform:none; padding:0px 10px; }
	.dt-sc-gift-card p { padding:0px 10px; }
	
	.dt-sc-gift-card:hover .image .overlay, .dt-sc-gift-card.selected .image .overlay { height:100%; }
	.dt-sc-gift-card:hover .image .overlay span, .dt-sc-gift-card.selected .image .overlay span { font-size:14px; }
	.dt-sc-gift-card:hover h4, .dt-sc-gift-card.selected h4 { color:#37251b; }
	
	.dt-sc-gift-card-section form p { display:block; margin-bottom:20px; }
	.dt-sc-gift-card-section form .dt-sc-one-half textarea { height:94px; }
	.dt-sc-gift-card-section form input[type="submit"] { margin:10px 0px 0px; }
	.dt-sc-gift-card-section form .note { font-size:12px; margin:15px 0px 0px; }
	
	/*----*****---- << Offers >> ----*****----*/
	
	.dt-sc-images-carousel-wrapper { float:left; clear:both; margin:0px; padding:0px; width:100%; position:relative; display:block; }
	.dt-sc-images-carousel li { display:block; float:left; margin:0px 10px; padding:0px; }
	.dt-sc-images-carousel li a { line-height:0px; display:block; }
	
	/*----*****---- << Blockquote >> ----*****----*/
	
	blockquote.type2 { border-left:0px; background:#fcfcf7 url(../images/textured-pattern.png) repeat; position:relative; } 
	blockquote.type2:after { content:""; position:absolute; background:url(../images/textured-border.png) repeat-x; height:6px; width:100%; left:0px; bottom:-6px; }
	blockquote.type2 q { border:none; font-size:14px; padding:0px; margin:0px; }
	blockquote.type2 cite { font-style:normal; font-size:16px; line-height:22px; font-weight:300; float:none; text-align:center; margin-top:15px; }
	
	blockquote.type3 { border:none; background:none; text-align:center; padding:0px; }
	blockquote.type3 q { border:none; font-size:18px; font-style:italic; line-height:32px; }
	blockquote.type3:before { background:none; border:none; }
	blockquote.type3 cite { font-size:16px; line-height:22px; font-style:normal; }
	
	blockquote.type4 { background:#fcfcf7 url(../images/textured-pattern.png) repeat; padding:30px 20px; border:none; position:relative; }
	blockquote.type4:before { content:""; position:absolute; border:1px dashed #d2c4b9; border-left:0px; border-right:0px; height:88%; width:100%; left:0px; top:10px; }
	blockquote.type4 q { border:none; font-size:14px; padding:0px; margin:0px; }
	blockquote.type4 cite { font-style:normal; font-size:16px; line-height:22px; font-weight:300; }
	
	
	/*----*****---- << Pullquotes >> ----*****----*/
	.dt-sc-pullquote1, .dt-sc-pullquote2, .dt-sc-pullquote3, .dt-sc-pullquote4, .dt-sc-pullquote5, .dt-sc-pullquote6 { display:inline-block; margin-bottom:20px; margin-right:4%; margin-top:20px; width:40%; }	
	.dt-sc-pullquote1, .dt-sc-pullquote2, .dt-sc-pullquote3, .dt-sc-pullquote4, .dt-sc-pullquote5, .dt-sc-pullquote6 { font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; letter-spacing: -0.5px; line-height:30px; }	
	.dt-sc-pullquote1 { border-left:3px solid #d2c4b9; background:#e6e5d9 url(../images/textured-pattern.png) repeat; letter-spacing:0; line-height:25px; padding:15px; width:36%; }	
	.dt-sc-pullquote2 { background:#e6e5d9 url(../images/textured-pattern.png) repeat; border:1px dashed #d2c4b9; box-shadow:0 0 5px #d2c4b9; padding:19px; }	
	.dt-sc-pullquote3 { background:#e6e5d9 url(../images/textured-pattern.png) repeat; border-bottom:2px dotted #d2c4b9; border-top:2px dotted #d2c4b9; padding:19px; }	
	.dt-sc-pullquote4 { border-bottom:4px double #d2c4b9; border-top:4px double #d2c4b9; margin-top:20px; padding:10px 0px; }	
	.dt-sc-pullquote5 { letter-spacing:0; line-height:25px; padding:5px 5px 5px 15px; width:36%; }	
	.dt-sc-pullquote6 { background:#e6e5d9 url(../images/textured-pattern.png) repeat; letter-spacing:0; line-height:25px; padding:15px; width:36%; }	
	.quotes:before { content:open-quote; display:inline; font-size:150%; font-weight:bold; margin-right:5px; vertical-align:middle; }	
	.quotes:after { content:close-quote; display:inline; font-size:150%; font-weight:bold; margin-left:5px; vertical-align:middle; }	
	.dt-sc-pullquote1.aligncenter, .dt-sc-pullquote2.aligncenter, .dt-sc-pullquote3.aligncenter, .dt-sc-pullquote4.aligncenter, .dt-sc-pullquote5.aligncenter, .dt-sc-pullquote6.aligncenter { display:block; float:none; text-align:center; width:auto; }	
	.dt-sc-pullquote1.alignleft, .dt-sc-pullquote1.aligncenter { margin-left:2px; }	
	.dt-sc-pullquote1.alignright, .dt-sc-pullquote1.aligncenter { margin-right:2px; }		
	
	/*----*****---- << Pricing Table >> ----*****----*/
	
/*----*****---- << Pricing Table >> ----*****----*/
	
	.dt-sc-pricing-table { width:100%; margin:0px 0px 20px; padding:0px; float:left; line-height:1; }
	.dt-sc-pr-tb-col { position:relative; width:100%; margin:0px; padding:0px; text-align:center; -webkit-transition:-webkit-box-shadow 0.2s ease-out; -moz-transition:-moz-box-shadow 0.2s ease-out; 	-o-transition:-o-box-shadow 0.2s ease-out; transition:box-shadow 0.2s ease-out; border:2px solid; border-radius:5px; }
	
	.tb-title h5 { padding:20px; font-weight:bold; font-size:20px; line-height:normal; text-transform:uppercase; margin-bottom:0px; }
	
	.dt-sc-tb-header { float:left; width:100%; }
	.dt-sc-tb-header .dt-sc-tb-thumb { display:inline-block; width:100%; position:relative; float:left; }
	.dt-sc-tb-header .dt-sc-tb-thumb > img { border-radius:3px 3px 0 0; float: left; position: relative; width: 100%; z-index: 9; }
	
	.dt-sc-tb-header .dt-sc-tb-thumb .dt-sc-tb-title { bottom: 0; display: inline-block; left: 0;  opacity: 0.9; position: absolute; width: 100%; padding:15px 0px; z-index:9; }
	.dt-sc-tb-header .dt-sc-tb-thumb .dt-sc-tb-title h3 { font-size:14px; margin-bottom:0; color:#2c2c2c; font-weight:bold; }
	
	
	.dt-sc-tb-header .dt-sc-price { padding:20px 0px; display:inline-block; font-size:46px; font-weight:bold; color:#ffffff; position:relative; width:100%; }
	.dt-sc-tb-header .dt-sc-price span { font-size:18px; font-weight:bold; font-size:63px; color:#ffffff; }
	.dt-sc-tb-header .dt-sc-price sup { position:absolute; top:5px; right:0px; font-size:14px; text-transform:capitalize; }
	.dt-sc-tb-header .dt-sc-price p { display:inline-block; line-height:56px; margin:0px; position:relative; }
	
	.dt-sc-tb-content { list-style-type:none; margin:0px; padding:20px 0 15px; display:inline-block; width:100%; }
	.dt-sc-tb-content li { margin:0 10px; font-size:13px; color:#5A5A5A; border-bottom:1px solid; padding:15px 10px; line-height:1 }
	.dt-sc-tb-content li:before { content: "\f00c"; font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; margin-right:5px; }
	.dt-sc-tb-content li:last-child { border-bottom:none; }
	
	.dt-sc-tb-content .dt-sc-rounded { width:162px; height:132px; margin:0 auto; color:#fff; padding-top:30px; }
	.dt-sc-tb-content .dt-sc-rounded span { font-size:11px; font-weight:bold; text-transform:uppercase; }
	.dt-sc-tb-content .dt-sc-rounded h3 { font-size:20px; text-transform:none; font-weight:normal; color:#fff; margin-bottom:1px; }
	.dt-sc-tb-content .dt-sc-rounded p { margin: auto; width: 130px; font-size:12px; line-height:18px; }
	.dt-sc-rounded hr { margin:auto auto 5px; width:77px; float:none; }
	
	.dt-sc-pr-tb-col .dt-sc-buy-now { padding:20px; margin:0px; background:#ffffff url(../images/textured-pattern-light.png) center center repeat; border-radius:0px 0px 5px 5px; }
	.dt-sc-pr-tb-col .dt-sc-buy-now .dt-sc-button { margin:0px; color:#ffffff; }
	
	.dt-sc-pr-tb-col, .dt-sc-tb-header .price, .tb-title h5, .dt-sc-pr-tb-col .dt-sc-buy-now { -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; }
	
	.dt-sc-pr-tb-col.selected, .dt-sc-pr-tb-col:hover { z-index:10; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); }
	.dt-sc-pr-tb-col:hover { z-index:100; }
	
	.dt-sc-pr-tb-col.orange .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.green .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.blue .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.skyblue .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.chocolate .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.corel .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.pink .dt-sc-tb-header .dt-sc-price span span, .dt-sc-pr-tb-col.red .dt-sc-tb-header .dt-sc-price span span { color:#fff; }
	
	.dt-sc-pr-tb-col .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col .dt-sc-tb-content .dt-sc-rounded { background:url(../images/textured-pattern-light.png) center center repeat; }
			
	.dt-sc-pr-tb-col.blue .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.blue .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.blue .dt-sc-tb-content .dt-sc-rounded { background-color:#6d9ab5; }
	.dt-sc-pr-tb-col.blue .dt-sc-buy-now .dt-sc-button:hover { background:#5586a3; }
	.dt-sc-pr-tb-col.blue .dt-sc-buy-now .dt-sc-button { border-color:#5586a3; }
	.dt-sc-pr-tb-col.blue .dt-sc-tb-content li:before { color:#6d9ab5; }
	.dt-sc-pr-tb-col.blue .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.blue .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.blue .dt-sc-tb-content .dt-sc-rounded span { color:#a4cee7; }
	.dt-sc-pr-tb-col.blue .dt-sc-rounded hr { background:#a4cee7; }
	.dt-sc-pr-tb-col.blue .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.blue .dt-sc-tb-content { background-color:#cbe4f3; }
	.dt-sc-pr-tb-col.blue .dt-sc-tb-content li, .dt-sc-pr-tb-col.blue { border-color:#6d9ab5; }
	
	.dt-sc-pr-tb-col.lightgreen .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.lightgreen .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.lightgreen .dt-sc-tb-content .dt-sc-rounded { background-color:#a5c93a; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-buy-now .dt-sc-button:hover { background:#90b328; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-buy-now .dt-sc-button { border-color:#90b328; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-tb-content li:before { color:#a5c93a; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.lightgreen .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.lightgreen .dt-sc-tb-content .dt-sc-rounded span { color:#f3ffce; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-rounded hr { background:#f3ffce; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.lightgreen .dt-sc-tb-content { background-color:#ccea73; }
	.dt-sc-pr-tb-col.lightgreen .dt-sc-tb-content li, .dt-sc-pr-tb-col.lightgreen { border-color:#b5e034; }
	
	.dt-sc-pr-tb-col.darkpink .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.darkpink .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.darkpink .dt-sc-tb-content .dt-sc-rounded { background-color:#d75b7e; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-buy-now .dt-sc-button:hover { background:#c14165; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-buy-now .dt-sc-button { border-color:#c14165; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-tb-content li:before { color:#d75b7e; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.darkpink .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.darkpink .dt-sc-tb-content .dt-sc-rounded span { color:#fecfdc; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-rounded hr { background:#fecfdc; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.darkpink .dt-sc-tb-content { background-color:#fbabc2; }
	.dt-sc-pr-tb-col.darkpink .dt-sc-tb-content li, .dt-sc-pr-tb-col.darkpink { border-color:#ea7e9c; }
	
	.dt-sc-pr-tb-col.chocolate .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.chocolate .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.chocolate .dt-sc-tb-content .dt-sc-rounded { background-color:#cd661d; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-buy-now .dt-sc-button:hover { background:#b1520f; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-buy-now .dt-sc-button { border-color:#b1520f; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-tb-content li:before { color:#cd661d; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.chocolate .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.chocolate .dt-sc-tb-content .dt-sc-rounded span { color:#ee9f68; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-rounded hr { background:#ee9f68; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.chocolate .dt-sc-tb-content { background-color:#ffd3b4; }
	.dt-sc-pr-tb-col.chocolate .dt-sc-tb-content li, .dt-sc-pr-tb-col.chocolate { border-color:#eba26f; }
	
	.dt-sc-pr-tb-col.slateblue .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.slateblue .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.slateblue .dt-sc-tb-content .dt-sc-rounded { background-color:#836fff; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-buy-now .dt-sc-button:hover { background:#6a55ee; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-buy-now .dt-sc-button { border-color:#6a55ee; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-tb-content li:before { color:#836fff; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.slateblue .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.slateblue .dt-sc-tb-content .dt-sc-rounded span { color:#c2baf3; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-rounded hr { background:#c2baf3; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.slateblue .dt-sc-tb-content { background-color:#e5e1ff; }
	.dt-sc-pr-tb-col.slateblue .dt-sc-tb-content li, .dt-sc-pr-tb-col.slateblue { border-color:#9283f2; }
	
	.dt-sc-pr-tb-col.skyblue .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.skyblue .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.skyblue .dt-sc-tb-content .dt-sc-rounded { background-color:#00bfff; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-buy-now .dt-sc-button:hover { background:#01ade6; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-buy-now .dt-sc-button { border-color:#01ade6; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-tb-content li:before { color:#00bfff; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.skyblue .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.skyblue .dt-sc-tb-content .dt-sc-rounded span { color:#89ddf9; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-rounded hr { background:#89ddf9; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.skyblue .dt-sc-tb-content { background-color:#c3eefc; }
	.dt-sc-pr-tb-col.skyblue .dt-sc-tb-content li, .dt-sc-pr-tb-col.skyblue { border-color:#7ccde8; }
	
	.dt-sc-pr-tb-col.red .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.red .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.red .dt-sc-tb-content .dt-sc-rounded { background-color:#f27c7e; }
	.dt-sc-pr-tb-col.red .dt-sc-buy-now .dt-sc-button:hover { background:#e46365; }
	.dt-sc-pr-tb-col.red .dt-sc-buy-now .dt-sc-button { border-color:#e46365; }
	.dt-sc-pr-tb-col.red .dt-sc-tb-content li:before { color:#e74d3c; }
	.dt-sc-pr-tb-col.red .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.red .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.red .dt-sc-tb-content .dt-sc-rounded span { color:#f59c92; }
	.dt-sc-pr-tb-col.red .dt-sc-rounded hr { background:#f59c92; }
	.dt-sc-pr-tb-col.red .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.red .dt-sc-tb-content { background-color:#ffd4d5; }
	.dt-sc-pr-tb-col.red .dt-sc-tb-content li, .dt-sc-pr-tb-col.red { border-color:#f27c7e; }
	
	.dt-sc-pr-tb-col.raspberry .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.raspberry .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.raspberry .dt-sc-tb-content .dt-sc-rounded { background-color:#a23b6f; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-buy-now .dt-sc-button:hover { background:#912a5e; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-buy-now .dt-sc-button { border-color:#912a5e; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-tb-content li:before { color:#a23b6f; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.raspberry .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.raspberry .dt-sc-tb-content .dt-sc-rounded span { color:#d0679c; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-rounded hr { background:#d0679c; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.raspberry .dt-sc-tb-content { background-color:#f3b5d4; }
	.dt-sc-pr-tb-col.raspberry .dt-sc-tb-content li, .dt-sc-pr-tb-col.raspberry { border-color:#e479af; }
	
	.dt-sc-pr-tb-col.purple .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.purple .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.purple .dt-sc-tb-content .dt-sc-rounded { background-color:#9c59b6; }
	.dt-sc-pr-tb-col.purple .dt-sc-buy-now .dt-sc-button:hover { background:#8945a4; }
	.dt-sc-pr-tb-col.purple .dt-sc-buy-now .dt-sc-button { border-color:#8945a4; }
	.dt-sc-pr-tb-col.purple .dt-sc-tb-content li:before { color:#9c59b6; }
	.dt-sc-pr-tb-col.purple .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.purple .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.purple .dt-sc-tb-content .dt-sc-rounded span { color:#c188d8; }
	.dt-sc-pr-tb-col.purple .dt-sc-rounded hr { background:#c188d8; }
	.dt-sc-pr-tb-col.purple .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.purple .dt-sc-tb-content { background-color:#e3b6f4; }
	.dt-sc-pr-tb-col.purple .dt-sc-tb-content li, .dt-sc-pr-tb-col.purple { border-color:#c27fdc; }
	
	.dt-sc-pr-tb-col.pink .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.pink .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.pink .dt-sc-tb-content .dt-sc-rounded { background-color:#e67fb9; }
	.dt-sc-pr-tb-col.pink .dt-sc-buy-now .dt-sc-button:hover { background:#d665a5; }
	.dt-sc-pr-tb-col.pink .dt-sc-buy-now .dt-sc-button { border-color:#d665a5; }
	.dt-sc-pr-tb-col.pink .dt-sc-tb-content li:before { color:#e67fb9; }
	.dt-sc-pr-tb-col.pink .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.pink .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.pink .dt-sc-tb-content .dt-sc-rounded span { color:#ffcae8; }
	.dt-sc-pr-tb-col.pink .dt-sc-rounded hr { background:#ffcae8; }
	.dt-sc-pr-tb-col.pink .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.pink .dt-sc-tb-content { background-color:#f6c7e1; }
	.dt-sc-pr-tb-col.pink .dt-sc-tb-content li, .dt-sc-pr-tb-col.pink { border-color:#e17bb4; }
	
	.dt-sc-pr-tb-col.palebrown .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.palebrown .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.palebrown .dt-sc-tb-content .dt-sc-rounded { background-color:#987654; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-buy-now .dt-sc-button:hover { background:#876441; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-buy-now .dt-sc-button { border-color:#876441; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-tb-content li:before { color:#987654; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.palebrown .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.palebrown .dt-sc-tb-content .dt-sc-rounded span { color:#cea883; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-rounded hr { background:#cea883; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.palebrown .dt-sc-tb-content { background-color:#efcdac; }
	.dt-sc-pr-tb-col.palebrown .dt-sc-tb-content li, .dt-sc-pr-tb-col.palebrown { border-color:#d2a16f; }
	
	.dt-sc-pr-tb-col.ocean .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.ocean .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.ocean .dt-sc-tb-content .dt-sc-rounded { background-color:#1abc9c; }
	.dt-sc-pr-tb-col.ocean .dt-sc-buy-now .dt-sc-button:hover { background:#10a789; }
	.dt-sc-pr-tb-col.ocean .dt-sc-buy-now .dt-sc-button { border-color:#10a789; }
	.dt-sc-pr-tb-col.ocean .dt-sc-tb-content li:before { color:#1abc9c; }
	.dt-sc-pr-tb-col.ocean .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.ocean .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.ocean .dt-sc-tb-content .dt-sc-rounded span { color:#9cebdb; }
	.dt-sc-pr-tb-col.ocean .dt-sc-rounded hr { background:#9cebdb; }
	.dt-sc-pr-tb-col.ocean .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.ocean .dt-sc-tb-content { background-color:#8fecda; }
	.dt-sc-pr-tb-col.ocean .dt-sc-tb-content li, .dt-sc-pr-tb-col.ocean { border-color:#4eceb5; }
	
	.dt-sc-pr-tb-col.khaki .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.khaki .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.khaki .dt-sc-tb-content .dt-sc-rounded { background-color:#b6af55; }
	.dt-sc-pr-tb-col.khaki .dt-sc-buy-now .dt-sc-button:hover { background:#a7a040; }
	.dt-sc-pr-tb-col.khaki .dt-sc-buy-now .dt-sc-button { border-color:#a7a040; }
	.dt-sc-pr-tb-col.khaki .dt-sc-tb-content li:before { color:#b6af55; }
	.dt-sc-pr-tb-col.khaki .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.khaki .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.khaki .dt-sc-tb-content .dt-sc-rounded span { color:#e3dfab; }
	.dt-sc-pr-tb-col.khaki .dt-sc-rounded hr { background:#e3dfab; }
	.dt-sc-pr-tb-col.khaki .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.khaki .dt-sc-tb-content { background-color:#efeaa5; }
	.dt-sc-pr-tb-col.khaki .dt-sc-tb-content li, .dt-sc-pr-tb-col.khaki { border-color:#bab461; }
	
	.dt-sc-pr-tb-col.grey .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.grey .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.grey .dt-sc-tb-content .dt-sc-rounded { background-color:#8e8e8e; }
	.dt-sc-pr-tb-col.grey .dt-sc-buy-now .dt-sc-button:hover { background:#797878; }
	.dt-sc-pr-tb-col.grey .dt-sc-buy-now .dt-sc-button { border-color:#797878; }
	.dt-sc-pr-tb-col.grey .dt-sc-tb-content li:before { color:#8e8e8e; }
	.dt-sc-pr-tb-col.grey .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.grey .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.grey .dt-sc-tb-content .dt-sc-rounded span { color:#bfbebe; }
	.dt-sc-pr-tb-col.grey .dt-sc-rounded hr { background:#bfbebe; }
	.dt-sc-pr-tb-col.grey .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.grey .dt-sc-tb-content { background-color:#e9e8e8; }
	.dt-sc-pr-tb-col.grey .dt-sc-tb-content li, .dt-sc-pr-tb-col.grey { border-color:#aeadad; }
	
	.dt-sc-pr-tb-col.green .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.green .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.green .dt-sc-tb-content .dt-sc-rounded { background-color:#a5c93a; }
	.dt-sc-pr-tb-col.green .dt-sc-buy-now .dt-sc-button:hover { background:#99bd2d; }
	.dt-sc-pr-tb-col.green .dt-sc-buy-now .dt-sc-button { border-color:#99bd2d; }
	.dt-sc-pr-tb-col.green .dt-sc-tb-content li:before { color:#7aa127; }
	.dt-sc-pr-tb-col.green .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.green .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.green .dt-sc-tb-content .dt-sc-rounded span { color:#cce0a3; }
	.dt-sc-pr-tb-col.green .dt-sc-rounded hr { background:#cce0a3; }
	.dt-sc-pr-tb-col.green .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.green .dt-sc-tb-content { background-color:#e0eeb4; }
	.dt-sc-pr-tb-col.green .dt-sc-tb-content li, .dt-sc-pr-tb-col.green { border-color:#a5c93a; }
	
	.dt-sc-pr-tb-col.gold .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.gold .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.gold .dt-sc-tb-content .dt-sc-rounded { background-color:#ebb749; }
	.dt-sc-pr-tb-col.gold .dt-sc-buy-now .dt-sc-button:hover { background:#dfaa3a; }
	.dt-sc-pr-tb-col.gold .dt-sc-buy-now .dt-sc-button { border-color:#dfaa3a; }
	.dt-sc-pr-tb-col.gold .dt-sc-tb-content li:before { color:#fa9d39; }
	.dt-sc-pr-tb-col.gold .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.gold .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.gold .dt-sc-tb-content .dt-sc-rounded span { color:#ffeed8; }
	.dt-sc-pr-tb-col.gold .dt-sc-rounded hr { background:#ffeed8; }
	.dt-sc-pr-tb-col.gold .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.gold .dt-sc-tb-content { background-color:#ffeead; }
	.dt-sc-pr-tb-col.gold .dt-sc-tb-content li, .dt-sc-pr-tb-col.gold { border-color:#ebb749; }
	
	.dt-sc-pr-tb-col.ferngreen .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.ferngreen .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.ferngreen .dt-sc-tb-content .dt-sc-rounded { background-color:#4f7942; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-buy-now .dt-sc-button:hover { background:#3f6a32; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-buy-now .dt-sc-button { border-color:#3f6a32; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-tb-content li:before { color:#4f7942; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.ferngreen .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.ferngreen .dt-sc-tb-content .dt-sc-rounded span { color:#a1d691; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-rounded hr { background:#a1d691; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.ferngreen .dt-sc-tb-content { background-color:#b1dca4; }
	.dt-sc-pr-tb-col.ferngreen .dt-sc-tb-content li, .dt-sc-pr-tb-col.ferngreen { border-color:#75b262; }
	
	.dt-sc-pr-tb-col.electricblue .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.electricblue .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.electricblue .dt-sc-tb-content .dt-sc-rounded { background-color:#536878; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-buy-now .dt-sc-button:hover { background:#3f5667; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-buy-now .dt-sc-button { border-color:#3f5667; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-tb-content li:before { color:#536878; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.electricblue .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.electricblue .dt-sc-tb-content .dt-sc-rounded span { color:#97b3c8; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-rounded hr { background:#97b3c8; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.electricblue .dt-sc-tb-content { background-color:#accce4; }
	.dt-sc-pr-tb-col.electricblue .dt-sc-tb-content li, .dt-sc-pr-tb-col.electricblue { border-color:#6f9bbd; }
	
	
	.dt-sc-pr-tb-col.eggplant .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.eggplant .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.eggplant .dt-sc-tb-content .dt-sc-rounded { background-color:#614051; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-buy-now .dt-sc-button:hover { background:#523142; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-buy-now .dt-sc-button { border-color:#523142; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-tb-content li:before { color:#614051; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.eggplant .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.eggplant .dt-sc-tb-content .dt-sc-rounded span { color:#b0889d; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-rounded hr { background:#b0889d; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.eggplant .dt-sc-tb-content { background-color:#e4afca; }
	.dt-sc-pr-tb-col.eggplant .dt-sc-tb-content li, .dt-sc-pr-tb-col.eggplant { border-color:#bc6b95; }
	
	.dt-sc-pr-tb-col.cyan .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.cyan .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.cyan .dt-sc-tb-content .dt-sc-rounded { background-color:#00cdcd; }
	.dt-sc-pr-tb-col.cyan .dt-sc-buy-now .dt-sc-button:hover { background:#00b8b8; }
	.dt-sc-pr-tb-col.cyan .dt-sc-buy-now .dt-sc-button { border-color:#00b8b8; }
	.dt-sc-pr-tb-col.cyan .dt-sc-tb-content li:before { color:#00cdcd; }
	.dt-sc-pr-tb-col.cyan .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.cyan .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.cyan .dt-sc-tb-content .dt-sc-rounded span { color:#48e7e7; }
	.dt-sc-pr-tb-col.cyan .dt-sc-rounded hr { background:#48e7e7; }
	.dt-sc-pr-tb-col.cyan .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.cyan .dt-sc-tb-content { background-color:#91eeee; }
	.dt-sc-pr-tb-col.cyan .dt-sc-tb-content li, .dt-sc-pr-tb-col.cyan { border-color:#52bdbd; }
	
	.dt-sc-pr-tb-col.coral .dt-sc-tb-header .dt-sc-price, .dt-sc-pr-tb-col.coral .dt-sc-buy-now .dt-sc-button, .dt-sc-pr-tb-col.coral .dt-sc-tb-content .dt-sc-rounded { background-color:#ff7f50; }
	.dt-sc-pr-tb-col.coral .dt-sc-buy-now .dt-sc-button:hover { background:#e06537; }
	.dt-sc-pr-tb-col.coral .dt-sc-buy-now .dt-sc-button { border-color:#e06537; }
	.dt-sc-pr-tb-col.coral .dt-sc-tb-content li:before { color:#ff7f50; }
	.dt-sc-pr-tb-col.coral .dt-sc-tb-header .dt-sc-price > span, .dt-sc-pr-tb-col.coral .dt-sc-tb-header .dt-sc-price sup, .dt-sc-pr-tb-col.coral .dt-sc-tb-content .dt-sc-rounded span { color:#ffcab7; }
	.dt-sc-pr-tb-col.coral .dt-sc-rounded hr { background:#ffcab7; }
	.dt-sc-pr-tb-col.coral .dt-sc-tb-header .dt-sc-tb-title, .dt-sc-pr-tb-col.coral .dt-sc-tb-content { background-color:#ffd7c8; }
	.dt-sc-pr-tb-col.coral .dt-sc-tb-content li, .dt-sc-pr-tb-col.coral { border-color:#cb8c74; }
	
	.dt-sc-pr-tb-col .dt-sc-rounded { position:relative; border-radius: 50%; }
	
	.dt-sc-pricing-table.no-space .column { margin-right:0px; }
	.dt-sc-pricing-table.no-space .dt-sc-one-fourth { width:25%; } 	
	.dt-sc-pricing-table.no-space .one-third { width:33.3%; }	
	.dt-sc-pricing-table.no-space .dt-sc-one-half { width:50%; }
	.dt-sc-pricing-table.no-space .one-fifth { width:20%; }
	.dt-sc-pricing-table.no-space .dt-sc-one-sixth { width:16.6%; }
	
	.dt-sc-pricing-table.no-space .dt-sc-three-fourth { width:75%; }
	.dt-sc-pricing-table.no-space .two-third { width:66.6%; }
	.dt-sc-pricing-table.no-space .dt-sc-four-fifth { width:80%; }
	.dt-sc-pricing-table.no-space .three-fifth { width:60%; }
	.dt-sc-pricing-table.no-space .dt-sc-two-fifth { width:40%; }
	.dt-sc-pricing-table.no-space .dt-sc-two-sixth { width:33.2%; }
	.dt-sc-pricing-table.no-space .dt-sc-three-sixth { width:49.8%; }
	.dt-sc-pricing-table.no-space .dt-sc-four-sixth { width:66.4%; }
	.dt-sc-pricing-table.no-space .dt-sc-five-sixth { width:83%; }	

	/*----*****---- << Tooltip >> ----*****----*/
	
	.dt-sc-boxed-tooltip { background:#e6e5d9; color:#37251b; display:inline-block; margin:10px 0px 0px; padding:10px 20px; text-align:center; line-height:normal; }
	.dt-sc-boxed-tooltip:hover { background:#37251b; color:#ffffff; }
	
	#tiptip_holder { display:none; position:absolute; top:0; left:0; z-index:99999; }		
	#tiptip_holder.tip_top { padding-bottom:5px; }		 
	#tiptip_holder.tip_bottom { padding-top:5px; }		 
	#tiptip_holder.tip_right { padding-left:5px; }		 
	#tiptip_holder.tip_left { padding-right:5px; }		
	
	.tip_bottom #tiptip_content { box-shadow: inset 0px -1px 0px 0px #d9d9d9; -webkit-box-shadow:inset 0px -1px 0px 0px #d9d9d9; -moz-box-shadow:inset 0px -1px 0px 0px #d9d9d9; }
			
	#tiptip_content { padding:8px 10px; color:#ffffff; font-size:12px; line-height:normal; background:rgba(0, 0, 0, 0.8); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }		
	#tiptip_arrow, #tiptip_arrow_inner { position:absolute; border-color:transparent; border-style:solid; border-width:6px; height:0; width:0; opacity:0.85; }		
	#tiptip_holder.tip_top #tiptip_arrow { border-top-color:#fff; border-top-color:#000000;  }		
	#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color:#fff; border-bottom-color:#000000; }		
	#tiptip_holder.tip_right #tiptip_arrow { border-right-color:#fff; border-right-color:#000000; }		 
	#tiptip_holder.tip_left #tiptip_arrow { border-left-color:#fff; border-left-color:#000000; }		
	#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top:-7px; margin-left:-6px; }		
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top:-5px; margin-left:-6px; }		 
	#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top:-6px; margin-left:-5px;  }		
	#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top:-6px; margin-left:-7px;}	

	/*----*****---- << Toggle & Accordion >> ----*****----*/
	
	.dt-sc-toggle-frame-set { float:left; width:100%; margin:0px; padding:0px; }
	/*.dt-sc-toggle-frame { border:1px solid #dfdfdf; }*/
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion, .dt-sc-toggle-frame h5.dt-sc-toggle { clear:both; margin:0px; background:#e6e5d9 url(../images/textured-pattern.png) repeat; width:100%; }
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle a { font-size:14px; color:#37251B; display:block; padding:0px 15px 0px 60px; }
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion.active a, .dt-sc-toggle-frame h5.dt-sc-toggle.active a { color:#37251B; }	
	.dt-sc-toggle-frame h5.dt-sc-toggle:before, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before { color:#f6f6e9; /*border-right:1px solid #dfdfdf;*/ }
	
	h5.dt-sc-toggle, h5.dt-sc-toggle-accordion { font-size:16px; font-weight:normal; line-height:40px; text-transform:none; color:#37251b; clear:both; position:relative; padding-left:30px; margin-bottom:0px; color:#181818; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; cursor:pointer; }
	h5.dt-sc-toggle:before, h5.dt-sc-toggle-accordion:before { text-align:center; position:absolute; top:0px; left:0px; content:"\f055"; font-family:FontAwesome; font-style:normal; color:#37251b; font-weight:normal; text-decoration:inherit; font-size:16px; }
	h5.dt-sc-toggle.active:before, h5.dt-sc-toggle-accordion.active:before { content:"\f056"; }
	
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before, .dt-sc-toggle-frame h5.dt-sc-toggle:before { width:40px; top:2px; }
	
	.dt-sc-toggle-frame h5.dt-sc-toggle a, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion a { padding:11px 15px 10px 20px; border-left:40px solid #49423C; line-height:normal; }	
	.dt-sc-toggle-frame h5.dt-sc-toggle, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion { padding:0px; }
	
	.dt-sc-toggle-content { clear:both; padding:10px 0px 20px 30px; line-height:28px; display:none; }
	
	.dt-sc-toggle-frame { margin-bottom:10px; }
	.dt-sc-toggle-frame .dt-sc-toggle-content {  background:#e6e5d9 center center url(../images/textured-pattern.png) repeat; position:relative; margin:0px; width:100%; padding:0px; }
	.dt-sc-toggle-frame .dt-sc-toggle-content .block { padding:10px 10px 25px 20px; margin:0px 0px 0px 38px; border-left:1px dashed #d2c4b9; /*border-left:40px solid #d5d5d5;*/ }
	h5.dt-sc-toggle.active, h5.dt-sc-toggle-accordion.active { border-bottom:0px; }
		
	.faq h5.dt-sc-toggle-accordion { padding:0px 0px 0px 42px; margin-bottom:13px; line-height:35px; }	
	.faq h5.dt-sc-toggle-accordion:before { font-family:'Lato', sans-serif; content:'?'; background:#181818; width:27px; height:27px; text-align:center; line-height:27px; color:#ffffff; border:3px solid #d9d9d9; border-radius:27px; }
	.faq h5.dt-sc-toggle-accordion.active:before { content:'?'; }
	.faq .dt-sc-toggle-content { padding:0px 0px 10px; margin-left:42px; }
	
	/*----*****---- << Lists >> ----*****----*/
	
	ul.dt-sc-fancy-list { list-style-type:none; list-style-position:outside; }
	ul.dt-sc-fancy-list li { display:block; position:relative; padding-left:20px; line-height:normal; }
	ul.dt-sc-fancy-list li ul { padding-left:0px; }
	
	ul.dt-sc-fancy-list.arrow li { padding-left:15px; }
	ul.dt-sc-fancy-list li:before { font-family:FontAwesome; font-style:normal; color:#ac9d8e; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:1px; left:0px; }
	ul.dt-sc-fancy-list li a { color:#ac9d8e; }
	
	ul.dt-sc-fancy-list.type2 li { padding-left:0px; }
	ul.dt-sc-fancy-list.type2 li i { margin-right:10px; }
	ul.dt-sc-fancy-list.type2.alignright li { text-align:right; }
	ul.dt-sc-fancy-list.type2.alignright li i { float:right; margin-left:10px; margin-right:0px; }
	
	ul.dt-sc-fancy-list.arrow li:before { content:"\f105";  }
	ul.dt-sc-fancy-list.rounded-arrow li:before { content:"\f0a9";  }
	ul.dt-sc-fancy-list.double-arrow li:before { content:"\f101";  }	
	ul.dt-sc-fancy-list.heart li:before { content:"\f004"; font-size:12px; }
	ul.dt-sc-fancy-list.trash li:before { content:"\f014";  }
	ul.dt-sc-fancy-list.star li:before { content:"\f005";  }
	ul.dt-sc-fancy-list.tick li:before { content:"\f00c";  }
	ul.dt-sc-fancy-list.rounded-tick li:before { content:"\f058";  }
	ul.dt-sc-fancy-list.cross li:before { content:"\f00d";  }
	ul.dt-sc-fancy-list.rounded-cross li:before { content:"\f057";  }
	ul.dt-sc-fancy-list.rounded-question li:before { content:"\f059";  }
	ul.dt-sc-fancy-list.rounded-info li:before { content:"\f05a";  }
	ul.dt-sc-fancy-list.delete li:before { content:"\f05e";  }
	ul.dt-sc-fancy-list.warning li:before { content:"\f071";  }
	ul.dt-sc-fancy-list.comment li:before { content:"\f075";  }
	ul.dt-sc-fancy-list.edit li:before { content:"\f044";  }
	ul.dt-sc-fancy-list.share li:before { content:"\f064";  }
	ul.dt-sc-fancy-list.plus li:before { content:"\f067";  }
	ul.dt-sc-fancy-list.rounded-plus li:before { content:"\f055";  }
	ul.dt-sc-fancy-list.minus li:before { content:"\f068";  }	
	ul.dt-sc-fancy-list.rounded-minus li:before { content:"\f056";  }	
	ul.dt-sc-fancy-list.asterisk li:before { content:"\f069";  }
	ul.dt-sc-fancy-list.cart li:before { content:"\f07a";  }
	ul.dt-sc-fancy-list.folder li:before { content:"\f07b";  }
	ul.dt-sc-fancy-list.folder-open li:before { content:"\f07c";  }
	ul.dt-sc-fancy-list.desktop li:before { content:"\f108";  }
	ul.dt-sc-fancy-list.tablet li:before { content:"\f10a";  }
	ul.dt-sc-fancy-list.mobile li:before { content:"\f10b";  }
	ul.dt-sc-fancy-list.reply li:before { content:"\f112";  }
	ul.dt-sc-fancy-list.quote li:before { content:"\f10d";  }
	ul.dt-sc-fancy-list.mail li:before { content:"\f0e0";  }
	ul.dt-sc-fancy-list.external-link li:before { content:"\f08e";  }	
	ul.dt-sc-fancy-list.adjust li:before { content:"\f042";  }
	ul.dt-sc-fancy-list.pencil li:before { content:"\f040";  }
	ul.dt-sc-fancy-list.print li:before { content:"\f02f";  }
	ul.dt-sc-fancy-list.tag li:before { content:"\f02b";  }	
	ul.dt-sc-fancy-list.thumbs-up li:before { content:"\f088";  }
	ul.dt-sc-fancy-list.thumbs-down li:before { content:"\f087";  }
	ul.dt-sc-fancy-list.time li:before { content:"\f017";  }
	ul.dt-sc-fancy-list.globe li:before { content:"\f0ac";  }	
	ul.dt-sc-fancy-list.pushpin li:before { content:"\f08d";  }
	ul.dt-sc-fancy-list.map-marker li:before { content:"\f041";  }
	ul.dt-sc-fancy-list.link li:before { content:"\f0c1";  }
	ul.dt-sc-fancy-list.paper-clip li:before { content:"\f0c6";  }	
	ul.dt-sc-fancy-list.download li:before { content:"\f019";  }
	ul.dt-sc-fancy-list.key li:before { content:"\f084";  }
	ul.dt-sc-fancy-list.search li:before { content:"\f002";  }
	ul.dt-sc-fancy-list.rss li:before { content:"\f09e";  }	
	ul.dt-sc-fancy-list.twitter li:before { content:"\f099";  }
	ul.dt-sc-fancy-list.facebook li:before { content:"\f09a";  }
	ul.dt-sc-fancy-list.linkedin li:before { content:"\f0e1";  }
	ul.dt-sc-fancy-list.google-plus li:before { content:"\f0d5";  }
	
	ul.dt-sc-fancy-list.check li:before { content:"\f046";  }
	ul.dt-sc-fancy-list.hand li:before { content:"\f0a4";  }
	ul.dt-sc-fancy-list.cog li:before { content:"\f013";  }
	ul.dt-sc-fancy-list.play li:before { content:"\f01d";  }
	
	ul.dt-sc-fancy-list.green li:before { color:#6dc82b; }
	ul.dt-sc-fancy-list.orange li:before { color:#f39d12; }
	ul.dt-sc-fancy-list.blue li:before { color:#4db8c9; }
	ul.dt-sc-fancy-list.pink li:before { color:#e67fb9; }
	ul.dt-sc-fancy-list.red li:before { color:#e74d3c; }
	ul.dt-sc-fancy-list.purple li:before { color:#9c59b6; }
	ul.dt-sc-fancy-list.ocean li:before { color:#1abc9c; }	
	ul.dt-sc-fancy-list.slateblue li:before { color:#836fff; }
	ul.dt-sc-fancy-list.skyblue li:before { color:#00bfff; }
	ul.dt-sc-fancy-list.coral li:before { color:#ff7f50; }
	ul.dt-sc-fancy-list.khaki li:before { color:#b6af55; }
	ul.dt-sc-fancy-list.cyan li:before { color:#00cdcd; }
	ul.dt-sc-fancy-list.grey li:before { color:#8e8e8e; }	
	ul.dt-sc-fancy-list.gold li:before { color:#e0a81c; }
	ul.dt-sc-fancy-list.chocolate li:before { color:#d77d31; }
	ul.dt-sc-fancy-list.raspberry li:before { color:#a23b6f; }
	ul.dt-sc-fancy-list.electricblue li:before { color:#536878; }
	ul.dt-sc-fancy-list.eggplant li:before { color:#614051; }
	ul.dt-sc-fancy-list.ferngreen li:before { color:#4f7942; }
	ul.dt-sc-fancy-list.palebrown li:before { color:#987654; }
	
	ol.dt-sc-fancy-list li span { color:#ac9d8e; }

	ol.decimal { list-style-type:decimal; }
	ol.decimal-leading-zero { list-style-type:decimal-leading-zero; }
	ol.lower-alpha { list-style-type:lower-alpha; }
	ol.lower-roman { list-style-type:lower-roman; }
	ol.upper-alpha { list-style-type:upper-alpha; }
	ol.upper-roman { list-style-type:upper-roman; }	
	
	ol.dt-sc-fancy-list.green li { color:#6dc82b; }
	ol.dt-sc-fancy-list.orange li { color:#f39d12; }
	ol.dt-sc-fancy-list.blue li { color:#4db8c9; }
	ol.dt-sc-fancy-list.pink li { color:#e67fb9; }
	ol.dt-sc-fancy-list.red li { color:#e74d3c; }
	ol.dt-sc-fancy-list.purple li { color:#9c59b6; }
	ol.dt-sc-fancy-list.ocean li { color:#1abc9c; }	
	ol.dt-sc-fancy-list.slateblue li { color:#836fff; }
	ol.dt-sc-fancy-list.skyblue li { color:#00bfff; }
	ol.dt-sc-fancy-list.coral li { color:#ff7f50; }
	ol.dt-sc-fancy-list.khaki li { color:#b6af55; }
	ol.dt-sc-fancy-list.cyan li { color:#00cdcd; }
	ol.dt-sc-fancy-list.grey li { color:#8e8e8e; }	
	ol.dt-sc-fancy-list.gold li { color:#e0a81c; }
	ol.dt-sc-fancy-list.chocolate li { color:#d77d31; }
	ol.dt-sc-fancy-list.raspberry li { color:#a23b6f; }
	ol.dt-sc-fancy-list.electricblue li { color:#536878; }
	ol.dt-sc-fancy-list.eggplant li { color:#614051; }
	ol.dt-sc-fancy-list.ferngreen li { color:#4f7942; }
	ol.dt-sc-fancy-list.palebrown li { color:#987654; }
	
	/*----*****---- << Titled Boxes >> ----*****----*/
	
	.dt-sc-titled-box { margin-bottom:20px; width:100%; clear:both; }
	.dt-sc-titled-box h6.dt-sc-titled-box-title { font-size:16px; font-weight:600; text-transform:uppercase; padding:12px 15px; text-shadow:none; margin:0px; background:#49423c url(../images/textured-pattern-light.png) repeat; } 
	.dt-sc-titled-box h6.dt-sc-titled-box-title span { font-size:16px; margin-right:5px; }
	.dt-sc-titled-box-content { padding:20px; background:#e6e5d9 url(../images/textured-pattern.png) center center repeat; }				
	
	.dt-sc-titled-box h6.dt-sc-titled-box-title { color:#ffffff; }
	
	.dt-sc-titled-box.green h6.dt-sc-titled-box-title { background-color:#6dc82b; }
	.dt-sc-titled-box.blue h6.dt-sc-titled-box-title { background-color:#4db8c9; }
	.dt-sc-titled-box.ocean h6.dt-sc-titled-box-title { background-color:#1abc9c; }
	.dt-sc-titled-box.orange h6.dt-sc-titled-box-title { background-color:#f39d12; }
	.dt-sc-titled-box.pink h6.dt-sc-titled-box-title { background-color:#e67fb9; }
	.dt-sc-titled-box.purple h6.dt-sc-titled-box-title { background-color:#9c59b6; }
	.dt-sc-titled-box.red h6.dt-sc-titled-box-title { background-color:#e74d3c; }	
	.dt-sc-titled-box.slateblue h6.dt-sc-titled-box-title { background-color:#836fff; }
	.dt-sc-titled-box.skyblue h6.dt-sc-titled-box-title { background-color:#00bfff; }
	.dt-sc-titled-box.coral h6.dt-sc-titled-box-title { background-color:#ff7f50; }
	.dt-sc-titled-box.khaki h6.dt-sc-titled-box-title { background-color:#b6af55; }
	.dt-sc-titled-box.cyan h6.dt-sc-titled-box-title { background-color:#00cdcd; }
	.dt-sc-titled-box.grey h6.dt-sc-titled-box-title { background-color:#8e8e8e; }	
	.dt-sc-titled-box.gold h6.dt-sc-titled-box-title { background-color:#e0a81c; }
	.dt-sc-titled-box.chocolate h6.dt-sc-titled-box-title { background-color:#d77d31; }
	.dt-sc-titled-box.raspberry h6.dt-sc-titled-box-title { background-color:#a23b6f; }
	.dt-sc-titled-box.electricblue h6.dt-sc-titled-box-title { background-color:#536878; }
	.dt-sc-titled-box.eggplant h6.dt-sc-titled-box-title { background-color:#614051; }
	.dt-sc-titled-box.ferngreen h6.dt-sc-titled-box-title { background-color:#4f7942; }
	.dt-sc-titled-box.palebrown h6.dt-sc-titled-box-title { background-color:#987654; }
	
	/*----*****---- << Alert Boxes >> ----*****----*/
	
	.dt-sc-error-box, .dt-sc-warning-box, .dt-sc-success-box, .dt-sc-info-box { margin-bottom:20px; padding:15px 15px 15px 45px; clear:both; background:url(../images/textured-pattern.png) center center repeat; border-radius:100px; }
	.dt-sc-error-box a, .dt-sc-warning-box a, .dt-sc-success-box a, .dt-sc-info-box a { text-decoration:underline; }
	
	.dt-sc-error-box { background-color:#ffcccc; border:1px solid #ff9999; color:#d01313; position:relative; }
	.dt-sc-error-box:before, .dt-sc-warning-box:before, .dt-sc-success-box:before, .dt-sc-info-box:before { top:15px; left:18px; font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:20px; position:absolute; }		
	.dt-sc-error-box:before { content:"\f057"; color:#C54228; }
	
	.dt-sc-warning-box { background-color:#fdebae; border:1px solid #e6c555; color:#c79d13; position:relative; }
	.dt-sc-warning-box:before { content:"\f06a"; color:#e2b828; }
	
	.dt-sc-success-box { background-color:#eafac0; border:1px solid #b1cf67; color:#7ba411; position:relative; }
	.dt-sc-success-box:before { content:"\f058"; color:#75b632; }
	
	.dt-sc-info-box { background-color:#bfe4f9; border:1px solid #68a2cf; color:#2081b9; position:relative; }
	.dt-sc-info-box:before { content:"\f05a"; color:#008bc1; }
	
	.dt-sc-error-box a { color:#d01313; }
	.dt-sc-warning-box a { color:#c79d13; }
	.dt-sc-success-box a { color:#7ba411; }
	.dt-sc-info-box a { color:#2081b9; }
	
	/*----*****---- << Progress Bar >> ----*****----*/
	
	.dt-sc-dropcap { font-size:24px; float:left; margin:10px 0px 10px 0px; text-align:center; color:#ffffff; line-height:35px; }
	.dt-sc-dropcap.dt-sc-dropcap-default { font-size:48px; width:58px; }
	.dt-sc-dropcap.dt-sc-dropcap-circle { width:40px; height:40px; line-height:38px; margin:5px 10px 0px 0px; padding:0px; border-radius:30px 30px 30px 30px; behavior:url(PIE.htc); }
	.dt-sc-dropcap.dt-sc-dropcap-bordered-circle { width:38px; height:38px; line-height:36px; margin:5px 10px 0 0; padding:0px; text-align:center; border-radius:30px 30px 30px 30px; behavior:url(PIE.htc); }
	.dt-sc-dropcap.dt-sc-dropcap-square { width:40px; height:40px; line-height:38px; text-align:center; margin:5px 10px 0px 0px; padding:0px; }		
	.dt-sc-dropcap.dt-sc-dropcap-bordered-square { width:38px; height:38px; text-align:center; margin:5px 10px 0px 0px; padding:0px; line-height:36px; }
	
	.dt-sc-dropcap.dt-sc-dropcap-default { color:#49423C;}
	.dt-sc-dropcap.dt-sc-dropcap-circle { background:#49423C; }
	.dt-sc-dropcap.dt-sc-dropcap-bordered-circle { border:1px solid #49423C; color:#49423C; }
	.dt-sc-dropcap.dt-sc-dropcap-square { background:#49423C; }
	.dt-sc-dropcap.dt-sc-dropcap-bordered-square { color:#49423C; border:1px solid #49423C; }	
	
	.dt-sc-dropcap.dt-sc-dropcap-default.green { color:#6dc82b; }
	.dt-sc-dropcap.dt-sc-dropcap-default.orange { color:#f39d12; }
	.dt-sc-dropcap.dt-sc-dropcap-default.blue { color:#4db8c9; }
	.dt-sc-dropcap.dt-sc-dropcap-default.pink { color:#e67fb9; }
	.dt-sc-dropcap.dt-sc-dropcap-default.red { color:#e74d3c; }
	.dt-sc-dropcap.dt-sc-dropcap-default.purple { color:#9c59b6; }
	.dt-sc-dropcap.dt-sc-dropcap-default.ocean { color:#1abc9c; }	
	.dt-sc-dropcap.dt-sc-dropcap-default.slateblue { color:#836fff; }
	.dt-sc-dropcap.dt-sc-dropcap-default.skyblue { color:#00bfff; }
	.dt-sc-dropcap.dt-sc-dropcap-default.coral { color:#ff7f50; }
	.dt-sc-dropcap.dt-sc-dropcap-default.khaki { color:#b6af55; }
	.dt-sc-dropcap.dt-sc-dropcap-default.cyan { color:#00cdcd; }
	.dt-sc-dropcap.dt-sc-dropcap-default.grey { color:#8e8e8e; }	
	.dt-sc-dropcap.dt-sc-dropcap-default.gold { color:#e0a81c; }
	.dt-sc-dropcap.dt-sc-dropcap-default.chocolate { color:#d77d31; }
	.dt-sc-dropcap.dt-sc-dropcap-default.raspberry { color:#a23b6f; }
	.dt-sc-dropcap.dt-sc-dropcap-default.electricblue { color:#536878; }
	.dt-sc-dropcap.dt-sc-dropcap-default.eggplant { color:#614051; }
	.dt-sc-dropcap.dt-sc-dropcap-default.ferngreen { color:#4f7942; }
	.dt-sc-dropcap.dt-sc-dropcap-default.palebrown { color:#987654; }
	
	.dt-sc-dropcap-circle.green, .dt-sc-dropcap-square.green { background:#6dc82b; }
	.dt-sc-dropcap-circle.orange, .dt-sc-dropcap-square.orange { background:#f39d12; }
	.dt-sc-dropcap-circle.blue, .dt-sc-dropcap-square.blue { background:#4db8c9; }
	.dt-sc-dropcap-circle.pink, .dt-sc-dropcap-square.pink { background:#e67fb9; }
	.dt-sc-dropcap-circle.red, .dt-sc-dropcap-square.red { background:#e74d3c; }
	.dt-sc-dropcap-circle.purple, .dt-sc-dropcap-square.purple { background:#9c59b6; }
	.dt-sc-dropcap-circle.ocean, .dt-sc-dropcap-square.ocean { background:#1abc9c; }	
	.dt-sc-dropcap-circle.slateblue, .dt-sc-dropcap-square.slateblue { background:#836fff; }
	.dt-sc-dropcap-circle.skyblue, .dt-sc-dropcap-square.skyblue { background:#00bfff; }
	.dt-sc-dropcap-circle.coral, .dt-sc-dropcap-square.coral { background:#ff7f50; }
	.dt-sc-dropcap-circle.khaki, .dt-sc-dropcap-square.khaki { background:#b6af55; }
	.dt-sc-dropcap-circle.cyan, .dt-sc-dropcap-square.cyan { background:#00cdcd; }
	.dt-sc-dropcap-circle.grey, .dt-sc-dropcap-square.grey { background:#8e8e8e; }	
	.dt-sc-dropcap-circle.gold, .dt-sc-dropcap-square.gold { background:#e0a81c; }
	.dt-sc-dropcap-circle.chocolate, .dt-sc-dropcap-square.chocolate { background:#d77d31; }
	.dt-sc-dropcap-circle.raspberry, .dt-sc-dropcap-square.raspberry { background:#a23b6f; }
	.dt-sc-dropcap-circle.electricblue, .dt-sc-dropcap-square.electricblue { background:#536878; }
	.dt-sc-dropcap-circle.eggplant, .dt-sc-dropcap-square.eggplant { background:#614051; }
	.dt-sc-dropcap-circle.ferngreen, .dt-sc-dropcap-square.ferngreen { background:#4f7942; }
	.dt-sc-dropcap-circle.palebrown, .dt-sc-dropcap-square.palebrown { background:#987654; }
	
	
	.dt-sc-dropcap-bordered-circle.green, .dt-sc-dropcap-bordered-square.green { border-color:#6dc82b; color:#6dc82b; }
	.dt-sc-dropcap-bordered-circle.orange, .dt-sc-dropcap-bordered-square.orange { border-color:#f39d12; color:#f39d12; }
	.dt-sc-dropcap-bordered-circle.blue, .dt-sc-dropcap-bordered-square.blue { border-color:#4db8c9; color:#4db8c9; }
	.dt-sc-dropcap-bordered-circle.pink, .dt-sc-dropcap-bordered-square.pink { border-color:#e67fb9; color:#e67fb9; }
	.dt-sc-dropcap-bordered-circle.red, .dt-sc-dropcap-bordered-square.red { border-color:#e74d3c; color:#e74d3c; }
	.dt-sc-dropcap-bordered-circle.purple, .dt-sc-dropcap-bordered-square.purple { border-color:#9c59b6; color:#9c59b6; }
	.dt-sc-dropcap-bordered-circle.ocean, .dt-sc-dropcap-bordered-square.ocean { border-color:#1abc9c; color:#1abc9c; }	
	.dt-sc-dropcap-bordered-circle.slateblue, .dt-sc-dropcap-bordered-square.slateblue { border-color:#836fff; color:#836fff; }
	.dt-sc-dropcap-bordered-circle.skyblue, .dt-sc-dropcap-bordered-square.skyblue { border-color:#00bfff; color:#00bfff; }
	.dt-sc-dropcap-bordered-circle.coral, .dt-sc-dropcap-bordered-square.coral { border-color:#ff7f50; color:#ff7f50; }
	.dt-sc-dropcap-bordered-circle.khaki, .dt-sc-dropcap-bordered-square.khaki { border-color:#b6af55; color:#b6af55; }
	.dt-sc-dropcap-bordered-circle.cyan, .dt-sc-dropcap-bordered-square.cyan { border-color:#00cdcd; color:#00cdcd; }
	.dt-sc-dropcap-bordered-circle.grey, .dt-sc-dropcap-bordered-square.grey { border-color:#8e8e8e; color:#8e8e8e; }	
	.dt-sc-dropcap-bordered-circle.gold, .dt-sc-dropcap-bordered-square.gold { border-color:#e0a81c; color:#e0a81c; }
	.dt-sc-dropcap-bordered-circle.chocolate, .dt-sc-dropcap-bordered-square.chocolate { border-color:#d77d31; color:#d77d31; }
	.dt-sc-dropcap-bordered-circle.raspberry, .dt-sc-dropcap-bordered-square.raspberry { border-color:#a23b6f; color:#a23b6f; }
	.dt-sc-dropcap-bordered-circle.electricblue, .dt-sc-dropcap-bordered-square.electricblue { border-color:#536878; color:#536878; }
	.dt-sc-dropcap-bordered-circle.eggplant, .dt-sc-dropcap-bordered-square.eggplant { border-color:#614051; color:#614051; }
	.dt-sc-dropcap-bordered-circle.ferngreen, .dt-sc-dropcap-bordered-square.ferngreen { border-color:#4f7942; color:#4f7942; }
	.dt-sc-dropcap-bordered-circle.palebrown, .dt-sc-dropcap-bordered-square.palebrown { border-color:#987654; color:#987654; }
	
	/*----*****---- << Donutchart >> ----*****----*/
	.dt-sc-donutchart { text-align:center; margin:0px 0px 10px; }
	h5.dt-sc-donutchart-title { text-align:center; width:100%; }
	
	.dt-sc-donutchart-small { width:100px; float:left; margin:0px 14px; }
	.dt-sc-donutchart-medium { width:200px; float:left; margin:0px 20px; }
	.dt-sc-donutchart-large { width:300px; float:left; margin:0px 30px; }
	
	.dt-sc-donutchart-small .donutchart-text { font-size:14px !important; }	
	
	/*----*****---- << Progress Bar >> ----*****----*/
	
	.dt-sc-progress { height:20px; margin-bottom:10px; clear:both; display:block; border-radius:3px; }
	.dt-sc-progress .dt-sc-bar { position:relative; }
	.dt-sc-bar-text { font-size:14px; margin-bottom:5px; }
	.dt-sc-progress .dt-sc-bar-text > span { float:right; display:block; }
	
	@-webkit-keyframes progress-bar-stripes {
	  from {
		background-position: -20px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-moz-keyframes progress-bar-stripes {
	  from {
		background-position: -20px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-ms-keyframes progress-bar-stripes {
	  from {
		background-position: -20px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	@-o-keyframes progress-bar-stripes {
	  from {
		background-position: 0 0;
	  }
	  to {
		background-position: -20px 0;
	  }
	}
	@keyframes progress-bar-stripes {
	  from {
		background-position: -20px 0;
	  }
	  to {
		background-position: 0 0;
	  }
	}
	.dt-sc-progress {
	  overflow: hidden;
	  height:20px;
	  background-color: #e6e5d9;
	}
	.dt-sc-progress .dt-sc-bar {
	  width: 0%;
	  height: 100%;
	  float: left;
	  background-repeat: repeat-x;
	  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: width 0.6s ease;
	  -moz-transition: width 0.6s ease;
	  -o-transition: width 0.6s ease;
	  transition: width 0.6s ease;
	}
	.dt-sc-progress .dt-sc-bar + .dt-sc-bar {
	  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
	}
	.dt-sc-progress-striped .dt-sc-bar {
	  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	  -webkit-background-size: 20px 20px;
	  -moz-background-size: 20px 20px;
	  -o-background-size: 20px 20px;
	  background-size: 20px 20px;
	}
	.dt-sc-progress.active .dt-sc-bar {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
	  -moz-animation: progress-bar-stripes 2s linear infinite;
	  -ms-animation: progress-bar-stripes 2s linear infinite;
	  -o-animation: progress-bar-stripes 2s linear infinite;
	  animation: progress-bar-stripes 2s linear infinite;
	}
	
	/*----*****---- << Infographic >> ----*****----*/
	
	.dt-sc-infographic-bar { padding:0px 0px 0px 120px; display:block; margin:0px; position:relative; min-height:140px; clear:both; }
	.dt-sc-infographic-bar .fa { font-size:140px; position:absolute; left:0; top:0; right:0; width:120px; }
	.dt-sc-infographic-bar .dt-sc-bar-percentage { font-size:20px; font-weight:bold; color:#181818; position:relative; border-bottom:1px solid #181818; display:block; height:20px; margin-bottom:20px; }
	.dt-sc-infographic-bar .dt-sc-bar-percentage span { position:relative; top:8px; left:0px; background:#ffffff; display:inline-block; padding-right:5px; }
	
	
	/*----*****---- << Colored Box >> ----*****----*/
	
	.dt-sc-colored-box { width:100%; float:left; margin:0px; padding:15px 5% 20px; width:90%; color:#ffffff; }		
	.dt-sc-colored-box a, .dt-sc-colored-box h5 { color:#ffffff; }
	.dt-sc-colored-box h5 { font-weight:300; margin-bottom:20px; }
	.dt-sc-colored-box h5 span { font-size:30px; margin-right:10px; position:relative; top:3px; }
	.dt-sc-colored-box .dt-sc-button { border-color:#ffffff; color:#ffffff; text-transform:uppercase; font-weight:normal; margin-top:15px; padding:7px 15px; }
	.dt-sc-colored-box .dt-sc-button:after { background:#ffffff; }
	.dt-sc-colored-box .dt-sc-button:hover { color:#181818; }
	
	
	/*----*****---- << Numbered List >> ----*****----*/
	
	.dt-sc-numbered-list li { display:block; width:100%; margin:0px 0px 10px; padding:0px; line-height:40px; color:#ffffff; }
	.dt-sc-numbered-list li span { margin:0px 10px 0px 0px; line-height:40px; padding:0px 15px; display:inline-block; }
	
	.dt-sc-numbered-list-type2 li { display:block; width:100%; margin:0px 0px 5px; padding:0px; line-height:24px; }                         
	.dt-sc-numbered-list-type2 li span { margin:0px 10px 0px 5px; line-height:22px; padding:0px; display:inline-block; width:24px; height:24px; background:#787878; color:#ffffff; font-weight:bold; border-radius:24px; text-align:center; }

	/*----*****---- << Contact >> ----*****----*/
	
	.dt-sc-contact-info { width:100%; clear:both; display:block; margin-bottom:5px; }
	.dt-sc-contact-info i { margin-right:8px; width:18px; text-align:center; }
	.dt-sc-contact-info span, .dt-sc-contact-info p, .dt-sc-contact-info a { width:30%; display:inline-block; margin-right:2%; }
	.dt-sc-contact-info span.details { margin-right:0px; }
	.dt-sc-contact-info p { margin-bottom:0px; }
	.dt-sc-contact-info span.details span.details { margin:0px; width:auto; }
