extends ../../layouts/basic

block variables
    - var page = { title: '404 | Otonomic', body_class: '', header_nav_class: '' }

block content
    h2 You've found a Glitch!
    h4
        | You've found yourself in a weird place.
        br
        | Probably not the place you were looking for.
    a.btn(href='#{site.url}')  Back To Homepage
