section.common_questions_and_resources
    .section_content
        h2
            | Common
            span.no_wrap
                | Questions
                img.common_questions.position_relative.hide_on_mobile(src='https://a.Otonomic-edge.com/47a3/img/plus_plan/common_questions@2x.png', srcset='https://a.Otonomic-edge.com/66f9/img/plus_plan/common_questions.png 1x, https://a.Otonomic-edge.com/47a3/img/plus_plan/common_questions@2x.png 2x', alt='')
            br
            |            & Resources

        .common_questions_nav.fixed-9999
            h3(aria-hidden='true') FAQ
            ul
                li
                    a.active(href='#product', data-associated-section-id='product') Product
                li
                    a(href='#getting_started', data-associated-section-id='getting_started') Getting Started
                //li
                    a(href='#security_and_privacy', data-associated-section-id='security_and_privacy') Security & Privacy
                //li
                    a(href='#legal', data-associated-section-id='legal') Legal
                li
                    a(href='#billing_and_invoicing', data-associated-section-id='billing_and_invoicing') Billing & Invoicing

        #product.question_category
            h3 Product
            ul.question_list
                +ot_accordion_question({ question: "Where can I learn more about how to use Otonomic?" })
                    p
                        | The best way to find out if Otonomic is right for your business is to try it out. Our Free plan has all the features you need to get the full experience.
                    p
                        | You can also check out our <a href='https://otonomic.zendesk.com/'>Help Center</a>. See our guides and support articles to learn more about how to build and manage your business website and provide useful tips for using Otonomic.



                li
                    h4
                        a(href='#')
                            | How does your pricing compare to other similar software?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | There are several tools out there that focus on Do-It-Yourself website building - 1000s of templates, dragging & dropping, and you're still forced to make design decisions. They focus on a broad range of user types, and offer a generic solution. We don't consider any of these competition.
                    p
                        | Otonomic is the first do-it-for-me website platform built from the ground up just for small businesses. Using an advanced artificial intelligence design engine, we build, design and layout your site for you auto-magically.
                    p
                        | Doing the math, Otonomic is 82 cents a day (for our Prime plan). For less than a cup of coffee, your website can work for you, help you build your brand and reputation, get discovered and ultimately grow your customer base!

        #getting_started.question_category
            h3 Getting Started
            p
                | We want you to have the best and most productive Otonomic experience possible. Visit our
                a(href='https://otonomic.zendesk.com/hc/en-us/sections/202732605') Getting Started page
                |  for a complete overview of resources or see some highlights below.
            ul.getting_started_list
                //li.overview
                    span
                        | Here’s a set of detailed guides for
                        a(href='https://Otonomic.com/getting-started/admins') Admins
                        |  and
                        a(href='https://Otonomic.com/getting-started/users') Users
                        |  to help you get the most out of Otonomic.
                //li.tips
                    span
                        | Check out our
                        a(href='http://Otonomichq.com/') blog
                        | , where we offer plenty of tips and tricks or go straight to
                        a(href='https://medium.com/@Otonomichq/11-useful-tips-for-getting-the-most-of-Otonomic-5dfb3d1af77') 11 Tips to Get the Most Out of Otonomic
                //li.other_businesss
                    span
                        | See how
                        a(href='http://j.mp/OtonomicHQ') other businesss
                        |  are using Otonomic and read what
                        a(href='https://twitter.com/OtonomicLoveTweets') they think
                        |  about us
                li.help_center
                    span
                        | We’ve built a
                        a(href='https://otonomic.zendesk.com') Help Center
                        |  where you can browse a wide range of questions
                //li.follow_us
                    span
                        | Follow us on
                        a(href='https://twitter.com/Otonomichq') Twitter
                        |  to stay in the loop about new features, service updates, and more
                li.contact_us
                    span
                        | Last but not least, we’re always here to help. Our account managers don’t work on commission. Their sole purpose is to help you succeed using Otonomic. So if you have questions, contact us at
                        a(href='mailto:support@otonomic.com') support@otonomic.com

        //#security_and_privacy.question_category
            h3 Security & Privacy
            ul.question_list
                li
                    h4
                        a(href='#')
                            | Where can I get more details about your security practices?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | You can find an overview here —
                        a(href='https://Otonomic.com/security') https://Otonomic.com/security
                        | .
                li
                    h4
                        a(href='#')
                            | Can you describe your storage architecture?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | All Otonomic customer data is hosted on multi-master sharded databases so that there are no interruptions to service in the event of a single server outage. Hot spares of all our infrastructure components are running and available to be brought into rotation at all times. Our real-time messaging infrastructure is designed to move customers across servers without interruption for maintenance.
                li
                    h4
                        a(href='#')
                            | How is data protected within Otonomic?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | All data transfer is encrypted — whether users are at their computer or on their phone, absolutely nothing goes over the network without encryption. Otonomic uses 256-bit AES, supports TLS 1.2 for all of your messages, and uses the ECDHE_RSA Key Exchange Algorithm. We monitor the security community’s output closely and work promptly to upgrade the service to respond to new vulnerabilities as they are discovered.
                li
                    h4
                        a(href='#')
                            | What type of security testing have you conducted within the last 12 months?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | We perform security testing every quarter, which encompasses both external network penetration and web application penetration testing. All findings are reported to management, and issues are resolved by our engineering business when needed.
                    ul
                        li
                            | Application penetration testing is conducted by iSEC Partners and Bishop Fox (IT security firms), and reports are prepared quarterly.
                        li
                            | Additionally, we have weekly scans performed by an external firm and an ongoing Bug Bounty program with the whitehat community through
                            a(href='https://Otonomic.com/whitehat') HackerOne
                            | .
                li
                    h4
                        a(href='#')
                            | Where are your data centers hosted?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Our servers are located in Amazon’s AWS data centers. Otonomic uses four availability zones within AWS’ us-east-1 region, all located in Northern Virginia (U.S.A.). AWS has devoted an entire portion of their site to explaining their security measures, which you can find here:
                        a(href='https://aws.amazon.com/compliance/') https://aws.amazon.com/compliance/
                li
                    h4
                        a(href='#')
                            | What is Otonomic’s approach to data privacy?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Everything you post to Otonomic is private to your business. We are custodians of data on the behalf of businesss that use Otonomic; each business owns its communication data. businesss can set their own policies for message retention and administrators can adjust these settings to suit their specific  needs. You can find our privacy policy
                        a(href='https://Otonomic.com/privacy-policy') here
                        |  along with a set of
                        a(href='https://Otonomic.zendesk.com/hc/en-us/articles/203950296-FAQs-about-Otonomic-s-policy-update') frequently asked questions
                        | .

        #legal.question_category
            h3 Legal
            ul.question_list
                li
                    h4
                        a(href='#')
                            | Where can I find your Terms of Service (TOS)?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | You can find them at
                        a(href='https://Otonomic.com/terms-of-service') https://Otonomic.com/terms-of-service
                        | .
                li
                    h4
                        a(href='#')
                            | Will you modify certain parts of your TOS (e.g. Limitation of Liability, Indemnification) to meet our internal legal standards?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | We designed our TOS to be industry-standard so that it meets the needs of all types of companies. Our TOS are happily being used by a wide range of our customers, both big and small. So we prefer to keep it standardized to be fair to all types of customers who use Otonomic. If our TOS don’t meet your needs, please contact us and we’d be happy to help.
                li
                    h4
                        a(href='#')
                            | What type of Service Level Agreements (SLA) do you offer?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | We offer businesss using our Plus plan an SLA that guarantees 99.99% monthly uptime. If we don’t meet this guarantee, we’ll refund you 100x whatever you paid Otonomic for that period of downtime. You can get more details
                        a(href='https://Otonomic.zendesk.com/hc/en-us/articles/204113126-Plus-Plan-Service-Level-Agreement-SLA-') here
                        |  and also check on Otonomic’s
                        a(href='https://status.Otonomic.com/') uptime status
                        | .

        #billing_and_invoicing.question_category
            h3 Billing & Invoicing
            p
                | Visit our
                a(href='https://Otonomic.zendesk.com/hc/en-us/articles/201723133-Billing-FAQ') Guide to billing at Otonomic
                | , or read some of the most common questions we get about billing and invoicing right here.
            ul.question_list
                li
                    h4
                        a(href='#')
                            | Can I use Otonomic for free?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Yes, you can use Otonomic for free. Your search archive will be limited to your business’s 10,000 most recent messages and you’ll be limited to 10 service integrations.
                li
                    h4
                        a(href='#')
                            | Our business has several accounts which are not being actively used, but which we don’t want to disable. Do we still have to pay for them?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Every day we check to see if everyone on your business is active. If they have been inactive for a period of time, we stop charging you for that person and add a pro-rated credit to your account for the time you’ve already paid. You’ll always and only be billed for what you use — fair and square!
                li
                    h4
                        a(href='#')
                            | My business has credits. How do we use them?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Once your business signs up for a subscription plan, we’ll draw against your credit balance until it runs out. Only then will we start charging your subscription to your credit card. As long as you sign up for a subscription plan before the expiration date, those credits are yours to use until they’re all gone.
                li
                    h4
                        a(href='#')
                            | We need to add new users to our business. How will that be billed?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | We’ll make a one-time, prorated charge to your credit card to cover your new business member’s account for the remainder of the current billing period.
                    p
                        | As an example, suppose your business is on the “Standard plan,” which costs $8 per active user per month when billed monthly. You add a new business member 10 days into your billing period and there are 20 remaining days in the month. The per-day cost for each user is $8 / 30, so we will make a one-time charge of $5.33 ($8 / 30 days * 20 days) to your business’s credit card on file.
                li
                    h4
                        a(href='#')
                            | My business wants to cancel its subscription. How do we do that? Can we get a refund?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | business Owners can change the business’s subscription level. There are two options when downgrading from a paid plan to the Free plan:
                    ul
                        li
                            | You can downgrade to the Free plan immediately. If there is more than one day until your renewal date, we will pro-rate the remaining balance on your account and hold it for your business as a credit. You can use that credit towards a reactivation of your paid subscription in the future.
                        li
                            | We can automatically downgrade you to the Free plan at your next renewal date. Your subscription will remain active at its current level through the end of the billing period that you’ve already paid for.
                    p We do not offer refunds.
                li
                    h4
                        a(href='#')
                            | What are my payment options - credit card and/or invoicing?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | You can use your credit card to pay for any plan. If you sign up for an Annual subscription and plan to spend at least $10K, we can invoice you annually.
                        a(href='/help/requests/new?accounts_pricing=1') Contact us
                        |  to start the process.
                li
                    h4
                        a(href='#')
                            | My business is a nonprofit organization. Is there special Otonomic pricing available for nonprofits or charitable organizations?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Yes, we offer special pricing for qualified nonprofit organizations through our
                        a(href='https://Otonomic.zendesk.com/hc/en-us/articles/204368833-Otonomic-for-Nonprofits-program') Otonomic for Nonprofits
                        |  program.
                li
                    h4
                        a(href='#')
                            | My business is an educational institution/student group. Is there special Otonomic pricing available?
                            i.ts_icon.ts_icon_plus_square_o
                    p
                        | Yes, we offer special pricing for qualified educational institutions and student groups through our
                        a(href='https://Otonomic.zendesk.com/hc/en-us/articles/206646877') Otonomic for Education
                        |  program.


script(type='text/javascript', src='../js/main.js', crossorigin='anonymous')


mixin ot_accordion_question(options)
    li
        h4
            a(href='#')
                | #{options.question}
                i.ts_icon.ts_icon_plus_square_o
        if block
            block


