section#pricing_perspective.our_pricing_perspective
    .section_content
        h3 Our Pricing Perspective
        p
            | It's clear that every business needs a great website to grow.
        p
            | We believe every business deserves a website that is smart, professional and helps you turn visitors into customers.
        p
            | That's why Otonomic is Free to use, so that you have no reason not to have a great site.
        p
            | For decades, website builders software has been a race to the bottom with clunky yet over-priced solutions that offer far more frustration than value.
        p
            | We believe Otonomic is an investment in your business. So we set our pricing at a level that allows us to invest in building a solid product, and more importantly, a great experience for you as our customers, and ultimately for your customers.
        p
            | Your success is our success.
//section#fair_billing.fair_billing_policy
    .section_content
        h3 Fair Billing Policy
        p
            | Team communication is at the heart of every business. It's the things that connects your entire organization and has the biggest impact on your culture and productivity. For decades, team communication software has been a race to the bottom with clunky and cheap solutions that offer far more frustration than value.
            | And We want it to be a great value for your organization - with growing lineup of new features, helpful onboarding and responsive support.
        p
            | We believe Otonomic is an investment in your team and culture. So we set our pricing at a level that allows us to invest in building a solid product, and more importantly, a great experience for you as our customers.
//section#otonomic_for_good.nonprofit_pricing
    .section_content
        h3 Our Pricing Perspective
        p
            | Team communication is at the heart of every business. It's the things that connects your entire organization and has the biggest impact on your culture and productivity. For decades, team communication software has been a race to the bottom with clunky and cheap solutions that offer far more frustration than value.
            | And We want it to be a great value for your organization - with growing lineup of new features, helpful onboarding and responsive support.
        p
            | We believe Otonomic is an investment in your team and culture. So we set our pricing at a level that allows us to invest in building a solid product, and more importantly, a great experience for you as our customers.
section#otonomic_for_good.nonprofit_pricing
    .section_content
        h3 How is Otonomic different?
        p
            | There are several tools out there that focus on Do-It-Yourself website building - 1000s of templates, dragging & dropping, and you're still forced to make design decisions. They focus on a broad range of user types, and offer a generic solution. We don't consider any of these competition.
        p
            | Here's the thing - you're not a web designer, nor do you want to be. The most important reason to get your business online is to let it grow. But why does it have to be so difficult, right? We get it. We're here to let you take advantage of the best the Internet has to offer, without having to design anything - just connect to your Social media channels and add your content.
        p
            | Otonomic is the first do-it-for-me website platform built from the ground up just for small businesses. Using an advanced artificial intelligence design engine, we build, design and layout your site for you auto-magically.
        p
            | We believe that this kind of software is worthy of a greater investment because a great website is the foundation for online success, which every small business needs to grow and flourish.
        p
            | Doing the math, Otonomic is 82 cents a day (for our Prime plan). For less than a cup of coffee, your website can work for you, help you build your brand and reputation, get discovered and ultimately grow your customer base!

section.need_a_hand
    .section_content
        h3 Talk to a Human
        p
            | Have a question? We’re always here to help. Two things you should know whenever you reach out to us:
        ol
            li
                | No one at Otonomic works on commission, so you don’t have to worry about anyone selling you on a pricing plan you don’t need. We’re simply here to help you have the best experience possible.
            li
                | Customer Experience is the largest part of the way we think at Otonomic, and we try to be available to help you around the clock. So, let us know how we can help any time. Just click your personal one-on-one chat to talk to us, right within Otonomic!
        //XXX Insert intercom persistent link here:
        a.btn.btn_info(href='#{site.contact_us}')
            | Contact us
