#plan_modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='Pricing Guide', aria-hidden='true')
    .modal-body
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        #plan_standard_preview.plan_preview
            .plan
                h3.plan_name
                    i.brick_icon
                    | Lite
                span.plan_price
                    span.currency $
                    | 6
                    span.cents 67
                span.plan_price_details
                    | per user per month
                    br
                    | billed annually
            .preview_details(data-plan='standard')
                p
                    strong Unlimited
                    | message searchable archive
                p
                    strong Unlimited
                    | service integrations (like Twitter, Google Docs, Dropbox, GitHub and many more)
                p Usage stats and reporting
        #plan_standard_description.plan_description
            p.plan_sentence
                | Our Lite plan offers unlimited search archives and integrations, with the flexibility of single sign-on.
            p.cost_explanation
                | Search everything in Otonomic, beyond the 10,000 message limit. It’s like the entire history of your team is now at your fingertips, in one place, and one simple search away. Integrate with your other software tools to pull relevant information into Otonomic — at the right time, in one place.
            p.cost_explanation
                | Simplify your sign-on if you use Google Apps at work and set up your team to sign in to Otonomic using their Google Apps account. One less password to remember!
        #plan_lite_preview.plan_preview
            .plan
                h3.plan_name
                    i.brick_icon
                    | Free
                span.plan_price
                    span.currency $
                    | 0
                span.plan_lite_price_details for small teams or unlimited evaluation
            .preview_details(data-plan='lite')
                p
                    | Search and browse
                    strong 10k
                    | most recent messages
                p
                    strong 5GB
                    | total storage
                p
                    strong 10
                    | service integrations (like Twitter, Google Docs, Dropbox, GitHub and many more)
        #plan_lite_description.plan_description
            p.plan_sentence
                | We offer a free plan for small teams, casual users, and anyone who wants to evaluate Otonomic.
            p.cost_explanation
                | Since we’ve never liked time-limited product trials, you can use our Free plan to take as long as you want to try Otonomic and see if it works for your team. There’s also no limit on how many people you can add to your team on Otonomic.
            p.cost_explanation
                | If you’re happy with our Free plan, please carry on. When your team needs more, you can easily upgrade to one of our premium tiers.
            .ready_to_try_otonomic
                form.signup_form(action='https://otonomic.com/go/launch#signup', method='post', novalidate='')
                    input.email(type='email', name='email', placeholder='Email Address')
                    input.company(type='text', name='company', placeholder='Company Name')
                    input.btn(type='submit', value='Sign up')
