include ../../mixins/paypal

section.plans
    .plan_container.clearfix
        .plan1
            include ./plans/plan-free
        .plan2
            include ./plans/plan-lite
        .plan3
            include ./plans/plan-prime
        //.plan4
            include ./plans/plan-plus
