section#tweets.from_the_wall_of_love
    .section_content
        h3
            i.ts_icon.ts_icon_heart_o
            | From our Wall of Love
        .tweet_carousel_container
            ul.tweet_carousel
                li(data-position='0')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "Take the crazy tech out of making the kind of website that will really help me present myself to the world, and my work, and sell - phenomenal! There's nothing that beats it, I'm thrilled to be working with Otonomic"
                        p.small
                            | Lou A.
                li(data-position='1')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "I got hooked up with a great website. I've tried a bunch of other DIY website builders, but each one has been a frustration and pain to get things going, and understand how it works. Otonomic has been great - It designed the site and layout for me, and edit the things that I need for a great website. So cheers to them!"
                        p.small
                            | Todd T.
                li(data-position='2')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "I've tried "User friendly" website builders for the last 8-9 years. I'm not computer savvy, and their not very user-friendly! I post stuff to my Facebook Page and Instagram. Now, all that content is on my website, I couldn't be happier! I finally have the website I've been talking about for so long. I can't wait to see the future business! Thanks, Otonomic!"
                        p.small
                            | Rodney H.
                li(data-position='3')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "absolutely awesome & so easy!"
                        p.small
                            | Tammy P.
                li(data-position='4')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "The thing I love the most about using Otonomic, is that it draws directly from my Facebook Page and my old website. I didn't have to lift a finger to get a new website - with all my content. I love the ease in which I can edit any feature on the site. Thanks guys, I love it!"
                        p.small
                            | Annie R.
                li(data-position='5')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "Can't wait for the e-commerce store. Weblinks wanted to charge me $1000 to build my website I told them I found you guys on Facebook. Thanks for saving me some money I could use towards my business."
                        p.small
                            | Laticia A.
                li(data-position='6')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "Wow! Super impressed so far, the layout and design it instantly built is untouched."
                        p.small
                            | Joshua J.
                li(data-position='7')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "I just wanted to say thank you for all the help. I love the new website. I think it's going to pull me through the next part of my business. You guys got a great product. I look forward to using it! I'm definitely going to be telling a lot of people about Otonomic. Thanks a lot guys!"
                        p.small
                            | Doug H.
                li(data-position='8')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "I did my first ever website with Otonomic. Yay! Wow - I have never done anything like this, and I was able to finally do it with Otonomic!"
                        p.small
                            | Kathleen L.
                li(data-position='9')
                    blockquote.testimonial(lang='en', data-cards='hidden', data-conversation='none')
                        p
                            | "We really love Otonomic. It's incredibly streamlined, from the back end all the way through the user interface our customers get to see. We're super excited about Otonomic, and what they're doing for our business. Thanks so much guys!"
                        p.small
                            | Heather S.

        script(async='', src='#{site.url}js/widgets.js', charset='utf-8')
        script(src='#{site.url}js/carousel_wol.js', charset='utf-8')
        .tweet_carousel_controls
            a.left_arrow(href='javascript:void(0);', data-action='left')
                i.ts_icon.ts_icon_chevron_large_left
            a.right_arrow(href='javascript:void(0);', data-action='right')
                i.ts_icon.ts_icon_chevron_large_right
        //p
            | More at our
            a(href='https://twitter.com/OtonomicLoveTweets')
                | Wall of Love
                i.ts_icon.ts_icon_arrow_large_right
