body { line-height: 1.625; overflow: hidden; font-size: 14px; color: #333; background: #104864; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html, body, #bar-frame, #target { height: 100%; }
#target { height: 100%; height: calc( 100% - 55px ); }
a { text-decoration: none; }
.bar { background:#0e3f58; height:55px;	}
.bar img { display:block; }
.bar-logo { float:left; width:60px; }
.bar-logo a { display:block; }
.bar-themes { height:55px; border:solid 1px #275369; border-top-width: 0; border-bottom-width: 0; float:left; position: relative; }
.themes-trigger { display:block; height:40px; padding:15px 0 0 15px; width:270px; color:#80b1ca; position: relative; }
.themes-trigger:hover { color:#fff; }
.themes-trigger:hover .theme-type { background: #446f84; color:#fff; }
.theme-type { background:#072737; border-radius:2px; font-size:11px; color:#446f84;	display:inline-block; padding:0 3px; position:absolute; top:18px; right:40px; text-transform: uppercase; }
.themes-trigger .fa { position:absolute; right:15px; top:20px; }
.themes-dropdown { display:none; list-style: none; position:absolute; top:54px; margin:0; padding:0; height:327px; width:300px; overflow: auto; border-top:solid 1px #275369; overflow-y: auto; overflow-x: hidden; }
.themes-dropdown li { background: #0e3f58; color:#80b1ca; margin:0; position:relative; width:255px; padding:10px 15px; border-bottom:solid 1px #275369; cursor: pointer; }
.themes-dropdown li .theme-type { top:12px; right:12px; }
.themes-dropdown li:hover {	background: #072737; color:#fff; }
.themes-dropdown li:hover .theme-type { background: #446f84; color:#fff; }
#theme-preview { display: none; width: 340px; height: 314px; position:absolute;	top:60px; left:305px; background: #0e3f58; padding:5px; }
#theme-preview img { max-width: 340px; }
#theme-preview i { color: #FFF; position: absolute; font-size: 40px; top: 50%; left: 50%; margin: -23px 0 0 -23px; }
.bar-pricing { float:right; color:#446f84; position: relative; margin:11px 60px 0 12px; }
.bar-pricing span { display:inline-block; margin:0 -10px; position:relative; z-index:100; font:11px Georgia, serif; text-transform: uppercase; background: #0E3F58; color:#fff; padding:5px 5px; border-radius: 100px;}
.bar-pricing a { display:inline-block; padding:10px 15px; position: relative; font-size:12px; font-weight:bold; text-transform: uppercase; line-height: 1; border-radius: 2px; }
.bar-single { background: #66A734; color:#fff; }
.bar-subscription { background: #ffcc00;color:#0e3f58; }
.bar-resolution { float:right; margin:5px 140px 0 0; }
.bar-resolution a { font-size:30px; display:inline-block; margin-left:10px; color:#80b1ca; }
.bar-resolution a:hover, .bar-resolution a.active { color:#fff; }
.bar-desktop { width: 100%; }
.bar-tablet { width: 768px; margin: 0 auto; overflow: hidden; }
.bar-mobile { width: 360px; margin: 0 auto; overflow: hidden; }
.bar-close { position:absolute; top:0; right:0; color:#446f84; border-left: solid 1px #275369; height:40px; padding:15px 15px 0 15px }
.bar-close:hover { color:#fff; }

@media (max-width: 1024px) {
	.bar { display:none; }
	#target { height: 100%; }
}








.bar {
  background: #231f20;
  height: 55px;
  border-bottom: 2px solid black;
}
.bar img {
  margin-top: 8px;
  margin-left: 8px;
}
.navbar-brand {
  padding: 8px 15px;
}
.bar-logo {
  width: 150px;
}
.bar-themes {
  border: solid 1px #333;
  border-bottom: 0;
}

.themes-dropdown {
  /* display: none; */
  list-style: none;
  position: absolute;
  top: 54px;
  margin: 0;
  padding: 0;
  height: 327px;
  width: inherit;
  overflow: auto;
  border-top: solid 1px #275369;
  overflow-y: auto;
  overflow-x: hidden;
}
.otonomic-logo { height:32px;}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown > li > a {
    color: #999;
}

.inverse-dropdown > li > a:hover {
      color: #fff;
      background-color: #000;
}
nav.navbar {
  margin-bottom: 0px;
}
span.current_theme_name {
    font-weight: bold;
    color: white;
}

.navbar-middle{
    float: none;
    width: 175px;
    margin: 0 auto;
}