extends ../layouts/homepage

block variables
    - var page = { title: 'Otonomic: Smart business websites', body_class: '', header_nav_class: 'no_sticky', footer_class: 'footer_dark'  }

block head_end_scripts

block body_end_scripts
    script.
        (function ($, window, undefined) {
            var params = $.deparam(location.search.replace('?', ''));

            if (params.t) {
                $('#main-title').text(params.t);
            }
            if (params.c) {
                $('#main-content').text(params.c);
            }

        })(jQuery, window);

block content
    noscript
        meta(http-equiv='refresh', content='0; URL=index2814.html?nojsmode=1')
    .cover.signup_c.marsandbeyond.no_padding
        #story.marsandbeyond.signup.signup_a.signup_c.top.top_story_header
            .cta_ad
                h1.cta_story_header
                    span#main-title.cta_story_header_first
                        | You don't have time to build a website.
                        span.cta_story_header_first_type

                .cta_container
                    #main-content.cta_subheader
                        | Build the perfect website for your business, auto-magically. No templates, No coding, No headache.
