extends ../layouts/homepage

block variables
    - var page = { title: 'Otonomic: Smart Business Websites', body_class: '', header_nav_class: 'no_sticky', footer_class: 'footer_dark'  }

block head_end_scripts


block body_start_scripts
    include ../views/integrations/zendesk-chat
block body_end_scripts
    script.
        $(document).ready( function(){
            jQuery('.cta_story_header_first_type').typed({
                strings:['<br>Get one that builds itself.'],
                typeSpeed: 40,
                startDelay: 1650,
            });
        });

block content
    noscript
        meta(http-equiv='refresh', content='0; URL=index2814.html?nojsmode=1')
    .cover.signup_c.marsandbeyond.no_padding
        #story.marsandbeyond.signup.signup_a.signup_c.top.top_story_header
            .cta_ad
                h1.cta_story_header
                    //
                      <div class="hide_from_all">
                      <img class="underline_path underline_robots_image" src="img/landing/underlines_robots.png">
                      <img class="underline_path underline_mars_image" src="img/landing/underlines_mars.png">
                      <svg class="underline_path underline_robots_path" width="186px" height="22px" viewBox="-4 0 186 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path d="M0,4.8768025 C8.69922932,4.8768025 121.382104,2 168.792189,2 C216.202275,2 26.3856446,8.23981271 16.7336426,15.4152269 C9.77598573,19.2017481 98.4125824,15.4152269 139.865845,15.4152269" id="underlines-robots" transform="rotate(1)"></path>
                      </svg>
                      <svg class="underline_path underline_mars_path" width="152px" height="30px" viewBox="-4 4 152 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path d="M14.2599771,5.60973053 C31.9753286,5.60973053 134.923583,2 142.842807,2 C150.76203,2 7.82087541,13.5432583 0.293497417,17.1726873 C-7.23388058,20.8021162 132.46385,10.108351 139.760731,14.1834561 C147.057611,18.2585612 60.8022892,26.0074166 60.8022892,26.0074166" id="underlines-mars" transform="rotate(2)"></path>
                      </svg>
                      </div>
                    span.cta_story_header_first
                        | You don't have time to build a website.
                        span.cta_story_header_first_type
                        // <span class="typed-cursor typed_remove">|</span></span> <span class="typewriter">
                    .typewriter_copy.offscreen
                        span
                            span.cta_story_header_second
                                | w^75h^75o put
                                span.callout_copy
                                    span.underline_robots robots^300
                                    | on^300
                                    span.underline_mars Mars
                            i.exclamation_points.exclamation_point_1
                                span.exclamation_point_1_dot
                            i.exclamation_points.exclamation_point_2
                                span.exclamation_point_2_dot
                    //
                      <div class="typewriter_copy_mobile">
                      <span class="no_wrap">
                      <span class="cta_story_header_second">who put <span class="callout_copy"> <span class="underline_robots">robots</span> on <span class="underline_mars">Mars</span> </span> </span> <i class="exclamation_points exclamation_point_1"> <span class="exclamation_point_1_dot"> </span> </i> <i class="exclamation_points exclamation_point_2"> <span class="exclamation_point_2_dot"> </span> </i>
                      </span>
                      </div>
                .cta_container
                    .cta_subheader
                        | Your small business needs a website to grow.
                        br
                        | Smart, gorgeous websites powered by Artificial Intelligence.
                    .cta
                        h1.cta_header
                            | Get an Auto-Magic website that works for you and your business. Start for <strong>Free</strong>.
                            //| Otonomic is <strong>free</strong> to use for as long as you want including unlimited traffic.

                        form.cta_form.align_middle(action='#{site.create_url}', method='get', novalidate='')
                            input(type='hidden', name='done', value='1')
                            span.cta_input_email_wrapper
                                input#inline_input.input_email.input_inline.small_right_margin(name='email', type='email', autocomplete='off', spellcheck='false', placeholder='Email address')
                            button#cta-create.btn.align_top.ga_track_signup(type='submit') Create a new site

            //
              <div id="story_location">
              <strong><a href="http://mars.nasa.gov/msl" target="_blank">Curiosity Rover</a></strong>
              <br />
              <a href="https://www.google.com/mars/#lat=-4.565473&amp;lon=-222.448435&amp;zoom=4&amp;q=curiosity" target="google_maps"><i class="ts_icon ts_icon_location_pin ts_icon_inherit"></i> Mars, the Milky Way</a>
              </div>

        .marsandbeyond.signup.signup_a.signup_c.top.top_story_header_mobile
            .cta
                h1.cta_header
                    | Get an Auto-Magic website that works for you and your business. Start for <strong>Free</strong>.
                    //| Otonomic is <strong>free</strong> to use for as long as you want including unlimited traffic.

                form.cta_form.align_middle(action='#{site.create_url}', method='get', novalidate='')
                    span.cta_input_email_wrapper
                        input#inline_input.input_email.input_inline.small_right_margin(name='email', type='email', autocomplete='off', spellcheck='false', placeholder='Email address')
                    button.btn.align_top.ga_track_signup(type='submit') Create a new site
            // <div class="cta_subheader"><strong>NASA's Jet Propulsion Laboratory</strong> is one of tens of thousands of teams around the world using <strong>Otonomic</strong> to make their working lives simpler, more pleasant, and more productive.</div>
