extends ../../layouts/basic

block variables
    - var page = { title: 'Coming Soon | Otonomic', body_class: '', header_nav_class: '' }

block content
    .empty_space(style='height: 16px')
    h1(style='text-align: center') Smart Business Websites
    .empty_space(style='height: 16px')
    h4(style='text-align: center')
        | This site might already be under construction.
        br
        | Want to check if it’s available or create a new site?
        br
        | Click away, don’t be shy:
    .empty_space(style='height: 16px')
    div(style='text-align: center')
        a.btn(style='text-align:center', href='#{site.create_url}') Create a new site
