#plan_plus.plan.plan3(data-plan-name='plus')
    .plan_card.cursor_pointer
        span.plan_sale_section
            span.plan_sale_title
                | Early Bird Special!
            .plan_sale_badge
        h3
            i.brick_icon
            | Plus
        span.plan_price_sale
            span Special 50% Off 1st Year!
            br
            span.plan_price_cross $54.67
        span.plan_price
            span.currency $
            span.plan_price__dollars 27
            span.cents.plan_price__cents.tiny_left_margin 33
        span.plan_price_details
            | per month
            br
            | billed annually
        span.plan_price_details $35 billed monthly
        //span.plan_price_details *Early Bird Offer Expires 7/15/16
        //a.plan_price_details(href='pricing/plus') Details
    .plan_subhead
        .detail_action
            +paypal_button({
                plan_id: "QTXPW7KL5VE9S",
                text: "Try Plus"
            })
            span.detail_subtitle 14 days Free - Cancel anytime

        h3 Plus includes
        p
            | Everything in&nbsp;
            strong Prime
            | , and:
    ul
        li
            span
                | Unlimited Expert site consultations
        li
            span
                | One-on-one Onboarding
        li
            span
                | Customized colors & fonts
        //li
            span
                | Multiple Sites
                br
                | Create up to 5 sites!
    br
    h4
        | Coming soon
        i.arrow-down
    ul.coming_soon_list
        li
            span
                | Unlimited Pages
        li
            span
                | E-commerce Plus,
                br
                | Unlimited Products
        li
            span
                | SEO Plus
        li
            span
                | Email from Google
        li
            span
                | Google Calendar, Docs, Drive
                br
                | and more
        li
            span
                | Google My Business, Analytics and more, setup for you
        li
            span
                | Facebook Page automatically
                br
                | built from your site
        li
            span
                | Import your old site
        li
            span
                | More styling and customization

