#plan_prime.plan.plan3(data-plan-name='prime')
    .plan_card.cursor_pointer
        h3
            i.brick_icon
            | Prime
        span.plan_price
            span.currency $
            span.plan_price__dollars 35
            span.cents.plan_price__cents 99
        span.plan_price_details per month billed annually
        span.plan_price_details $42 billed monthly
        //a.plan_price_details(href='#') Details
    .plan_subhead
        .detail_action
            +paypal_button({
                plan_id: "EBERVD9P4TQSW",
                text: "Buy Prime"
            })
            //span.detail_subtitle 14 days Free - Cancel anytime
        h3 Prime Time
        p More of everything - and everything you need to let your business pop online.
    .plan_list
        p <strong>Prime</strong> Includes:
        ul.white.table
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Picking a template is so last year. The Otonomic AI Website Designer Auto-Magically designs and builds your site for you, letting you focus on adding great content without having to deal with the design. Plus, everything Auto-Magically updates itself as you add new content!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Do-It-For-Me AI Website Designer
                    br
                    i.small No Templates, Drag&Drop or Headache
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Get a Free domain name with an annual paid plan. Yup, Free.",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Free Domain
                    br
                    i.small <strong>$20 Value</strong>, with annual plan
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="If you already have a domain, let us connect it to your Otonomic website. It's really easy!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Connect Your Domain
                    br
                    i.small Have a Domain? We'll Connect It For You
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Bandwidth is the actual amount of data transferred through the website in a given month",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Unlimited Bandwidth
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="This is the amount of storage you can keep on your site, for photos, videos and other files",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Unlimited Storage
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Get guaranteed 4-hour response (but usually much faster!) so that help is never far away. We're here to help you build your site, answer questions or guide you along the way",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 24/7 Help & Support Chat
                    br
                    | with <strong>4-Hour Response</strong>
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="A small Otonomic logo that appears on the very bottom of the site, which links to our homepage. You can turn branding off with any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | <strong>No</strong> Otonomic Branding
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Import all of your Facebook Page content and information, to quickly build your new website. Your site updates as you post new content! Also import and sync with Twitter, Youtube, Instagram and more",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Import Your Facebook Page
                    br
                    i <strong>+ Unlimited</strong> Social Channels
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your content sections are where you talk about your business, your services, your team and much more. Add an unlimited number of content sections with Prime!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Unlimited Sections
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Beautiful, professional palettes and crisp, readable Google fonts, let you personalize your site's design",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 100s of Color Palettes & Font Pairs
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Wow your visitors with awesome video backgrounds! Customize section backgrounds with video, photos or automatic coloring from your color palette",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Automatic Backgrounds
                    br
                    strong + Video & Photo Backgrounds
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We partnered with great stock photo sites to get you totally-free access to 1000s of professional and modern stock images to use around your site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 1000s of Free Pro Photos
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Every site is fully responsive and mobile-optimized so your visitors can access from their phone, tablet or computer. This also improves your site's SEO on any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Mobile-Optimized
                    br
                    .small Responsive Website
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your website is a powerful marketing tool to turn visitors into customers. Create an unlimited number of Call-to-Action buttons, that let your visitors call, chat, email or take 7 other actions with a click",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Unlimited Call-to-Action Buttons
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Live chat is a fantastic way to let people communicate with your business. Otonomic integrates Facebook Messenger right on your website for you! Set your own message, photo and instant replies",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Facebook Messenger
                    br
                    i.small Chat with your Visitors
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Automatically import customer reviews from your Facebook Page, complete with the persons name, photo, comment and rating. To make sure you always look good, we'll only show 4 and 5 star ratings on the site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Import Facebook Reviews
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Create a Store section and add up to 25 products to sell! You can integrate EWCID or other shopping cart solutions, Paypal and more",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Up to <strong>25</strong> Products
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We don't take any commissions or transaction fees",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 0% Otonomic Transaction Fees
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Get a high-ranking placement in search results on Google and other search engines, by defining keywords and other signals. SEO Prime adds even great control",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Search Engine Optimization
                    br
                    strong.small SEO Prime
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Only websites on paid plans are ranked and crawled by search engines like Google. Free sites use an Otonomic subdomain, but when you publish the site to a custom domain, your site moves to be a stand-alone entity",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Get Found on Google
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Simple yet powerful ways to capture new leads on your site, using a customizable contact form or simply newsletter form. We'll be adding Mailchimp integration soon.",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Lead Capture
                    br
                    .small Contact Form & Newsletter
                    br
                    strong.small Coming Soon: Mailchimp Integration
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Set advanced Javascript, Google Analytics, Facebook Ads and other powerful snippets and pixels with help promote your business or take advantage of marketing platforms like AdWords",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Promote Yourself to Search Engines
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Add HD Video and Audio playback to your site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong HD Video & Audio
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Complete control over the order in which your content sections appear on your site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Customize Section Order
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Beyond customer service, we're here to guide you to building a powerful online presence which helps you grow your business. Lean on us often - your business the website it deserves",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Unlimited Expert site consultations
