#plan_enterprise.plan(data-plan-name='enterprise')
    .plan_card.plan_card_coming_soon
        h3
            i.brick_icon
            | Enterprise
        span.plan_price
            span.currency $
            | 32
        span.plan_price_details
            | per user per month
            br
            | billed annually
        a.btn.detail_button(href='#{site.contact_us}', data-no-modal='true')
            | Contact us

    .plan_subhead
        h3 Enterprise includes
        p
            | Everything in
            strong Plus
            | , and:
    h4
        | Coming soon
        i.arrow-down
    ul.coming_soon_list
        li
            span Federation across multiple teams with a unified team directory
        li
            span
                | Unified security, data retention and compliance policies across all federated teams
        li
            span Organization-wide reporting, metrics & analytics
        li
            span Consolidated billing & administration across teams
