#plan_free.plan.plan1(data-plan-name='free')
    .plan_card.cursor_pointer
        h3
            i.brick_icon
            | Free
        span.plan_price
            span.currency $
            span.plan_price__dollars 0
                span.cents.plan_price__cents &nbsp;
        span.plan_price_details Free to use for as long as you want
        span.plan_price_details &nbsp;
        //a.plan_price_details(href='#') Details
    .plan_subhead
        .detail_action
            a.btn.detail_button(href='#{site.create_url}')
                | Create a new site

            // button.btn.detail_button Create a new site
            //span.detail_subtitle Always Free
        h3 Starting Up
        p Create a beautiful, professional website for free. You'll be started in minutes.
    .plan_list
        p <strong>Free</strong> Includes:
        ul.white.table
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Picking a template is so last year. The Otonomic AI Website Designer Auto-Magically designs and builds your site for you, letting you focus on adding great content without having to deal with the design. Plus, everything Auto-Magically updates itself as you add new content!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Do-It-For-Me AI Website Designer
                    br
                    i.small No Templates, Drag&Drop or Headache
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Free plans come with our built-in Otonomic domain (below), but get a Free domain when you start any paid annual plan!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span.light
                    strong Free Domain
                    br
                    i.small With annual paid plans
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Every site comes with a free built-in Otonomic subdomain. This lets you use Otonomic for free for as long as you want",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Otonomic.com Subdomain
                    br
                    i.small yoursite.business.otonomic.com
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Bandwidth is the actual amount of data transferred through the website in a given month",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 1GB Bandwidth
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="This is the amount of storage you can keep on your site, for photos, videos and other files",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 500MB Storage
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We're always here to help guide you through building your site or to answer any questions. Get guaranteed 4-hour response (usually much faster!) with our Prime plan!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 24/7 Help & Support Chat
                    br
                    br
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="A small Otonomic logo that appears on the very bottom of the site, which links to our homepage. You can turn branding off with any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Otonomic Branding
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Import all of your Facebook Page content and information, to quickly build your new website. Your site updates as you post new content! Also import and sync with Twitter, Youtube, Instagram and more",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Import Your Facebook Page
                    br
                    i Plus 2 More Social Channels
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your content sections are where you talk about your business, your services, your team and much more. Besides a cover and footer, Free plans can pick up to 5 more sections",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Up to 5 Sections
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Beautiful, professional palettes and crisp, readable Google fonts, let you personalize your site's design",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 100s of Color Palettes & Font Pairs
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your content sections backgrounds include automatic coloring from your color palette, and choose from 1000s of quality totally-free stock video or photo backgrounds with a paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Automatic Backgrounds
                    br
                    br
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We partnered with great stock photo sites to get you totally-free access to 1000s of professional and modern stock images to use around your site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 1000s of Free Pro Photos
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Every site is fully responsive and mobile-optimized so your visitors can access from their phone, tablet or computer. This also improves your site's SEO on any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Mobile-Optimized
                    br
                    .small Responsive Website
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your website is a powerful marketing tool to turn visitors into customers. Quickly set Call-to-Action buttons, that let your visitors call, chat, email or take 7 other actions with a click. Create unlimited buttons with our Prime plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 2 Call-to-Action Buttons
