#plan_lite.plan.plan2(data-plan-name='lite')
    .plan_card.cursor_pointer
        h3
            i.brick_icon
            | Lite
        span.plan_price
            span.currency $
            span.plan_price__dollars 8
            span.cents.plan_price__cents 33
        span.plan_price_details per month billed annually
        span.plan_price_details $10 billed monthly
        //a.plan_price_details(href='#') Details
    .plan_subhead
        .detail_action
            +paypal_button({
                plan_id: "EBERVD9P4TQSW",
                text: "Try Lite"
            })
            //span.detail_subtitle 14 days Free - Cancel anytime
        h3 Lite, but Strong
        p Up your game with your own Domain, SEO, Video Backgrounds and more.
    .plan_list
        p <strong>Lite</strong> Includes:
        ul.white.table
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Picking a template is so last year. The Otonomic AI Website Designer Auto-Magically designs and builds your site for you, letting you focus on adding great content without having to deal with the design. Plus, everything Auto-Magically updates itself as you add new content!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Do-It-For-Me AI Website Designer
                    br
                    i.small No Templates, Drag&Drop or Headache
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Get a Free domain name with an annual paid plan. Yup, Free.",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Free Domain
                    br
                    i.small <strong>$20 Value</strong>, with annual plan
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="If you already have a domain, let us connect it to your Otonomic website. It's really easy!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    strong Connect Your Domain
                    br
                    i.small Have a Domain? We'll Connect It For You
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Bandwidth is the actual amount of data transferred through the website in a given month",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | <strong>2GB</strong> Bandwidth
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="This is the amount of storage you can keep on your site, for photos, videos and other files",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | <strong>2GB</strong> Storage
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We're always here to help guide you through building your site or to answer any questions. Get guaranteed 4-hour response (usually much faster!) with our Prime plan!",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 24/7 Help & Support Chat
                    br
                    br
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="A small Otonomic logo that appears on the very bottom of the site, which links to our homepage. You can turn branding off with any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | <strong>No</strong> Otonomic Branding
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Import all of your Facebook Page content and information, to quickly build your new website. Your site updates as you post new content! Also import and sync with Twitter, Youtube, Instagram and more",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Import Your Facebook Page
                    br
                    i Plus <strong>3</strong> More Social Channels
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your content sections are where you talk about your business, your services, your team and much more. Besides a cover and footer, Lite plans can pick up to 10 more sections",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Up to <strong>10</strong> Sections
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Beautiful, professional palettes and crisp, readable Google fonts, let you personalize your site's design",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 100s of Color Palettes & Font Pairs
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Wow your visitors with awesome video backgrounds! Customize section backgrounds with video, photos or automatic coloring from your color palette",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Automatic Backgrounds
                    br
                    strong + Video & Photo Backgrounds
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We partnered with great stock photo sites to get you totally-free access to 1000s of professional and modern stock images to use around your site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 1000s of Free Pro Photos
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Every site is fully responsive and mobile-optimized so your visitors can access from their phone, tablet or computer. This also improves your site's SEO on any paid plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Mobile-Optimized
                    br
                    .small Responsive Website
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Your website is a powerful marketing tool to turn visitors into customers. Quickly set Call-to-Action buttons, that let your visitors call, chat, email or take 7 other actions with a click. Create unlimited buttons with our Prime plan",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 2 Call-to-Action Buttons
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Live chat is a fantastic way to let people communicate with your business. Otonomic integrates Facebook Messenger right on your website for you! Set your own message, photo and instant replies",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Facebook Messenger
                    br
                    i.small Chat with your Visitors
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Automatically import customer reviews from your Facebook Page, complete with the persons name, photo, comment and rating. To make sure you always look good, we'll only show 4 and 5 star ratings on the site",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Import Facebook Reviews
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Create a Store section and add up to 5 products to sell! You can integrate EWCID or other shopping cart solutions, Paypal and more",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Up to 5 Products
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="We don't take any commissions or transaction fees",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | 0% Otonomic Transaction Fees
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Get a high-ranking placement in search results on Google and other search engines, by defining keywords and other signals. SEO Prime adds even great control",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Search Engine Optimization
                    br
                    .small SEO Lite
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Only websites on paid plans are ranked and crawled by search engines like Google. Free sites use an Otonomic subdomain, but when you publish the site to a custom domain, your site moves to be a stand-alone entity",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Get Found on Google
            li(
            data-toggle="tooltip",
            data-placement="top",
            title="Simple yet powerful ways to capture new leads on your site, using a customizable contact form or simply newsletter form. We'll be adding Mailchimp integration soon.",
            tooltip-style="pricing",
            tooltip-trigger = "hover"
            )
                span
                    | Lead Capture
                    br
                    .small Contact Form & Newsletter
