extends ../../layouts/basic

block variables
    - var page = { title: 'Policies | Otonomic', body_class: '', header_nav_class: '' }

block content
    h2 Policies
    #policies.card.home_card.clearfix
        a.plastic_row(href='#{site.url}/terms-of-service')
            i.ts_icon.ts_icon_chevron_large_right.chevron
            h3 Terms of Service
            span.description User agreements that govern your use of the Otonomic service.

        a.plastic_row(href='#{site.url}/privacy-policy')
            i.ts_icon.ts_icon_chevron_large_right.chevron
            h3 Privacy Policy
            span.description
                | Our policy regarding what information we collect at Otonomic, how we use it, and what choices you have.
