html {
	overflow-y:scroll; 
}
body {
	padding-top:50px; 
}
#todo-list {
	margin-bottom:30px; 
}
#todo-form {
	margin-bottom:50px; 
}
.nav-tabs {
	margin: 0;
	padding: 0;
	border: 0;    
}
.nav-tabs > li > a {
	background: #DADADA;
	border-radius: 0;
	box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	background: #F5F5F5;
	box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
	background: #F5F5F5;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-radius: 0;
	text-align: center;
	padding: 10px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 700px; 
    height: 300px;
}

.text-center {
	margin: 5px;
}