
.about-us {
    .text-block {
        font-size: $font-size-large;
        line-height: 28px;
    }
    .jumbotron {
        background-image: url('../images/header2.png');
    }
    .management {

        .thumbnail {
            padding: 10px;
        }

        .details {
            padding-top: 10px;
            margin-left: -5px;
        }
        .name {
            font-size: 18px;
        }
    }

    .media-images {

        margin-bottom: 30px;

        .thumbnail{

            width: 168px;
            margin: 0 9px;
        }

    }

    .thumbnail {
        .btn-cornered {
            @include box-shadow(none);
        }
        .glyphicons:before {
            padding: 0 4px;
            margin: 0 -5px 0 0;
        }

        .caption {
            overflow: hidden;
        }

        .line-clamp {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
          max-height: 75px;
        }
    }
    /*==================================================
    =            Bootstrap 3 Media Queries             =
    ==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .media-images {

            margin-bottom: 30px;

            .thumbnail{

                width: 18%;
                margin: 1%;
            }

        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .media-images {

            margin-bottom: 30px;

            .thumbnail{

                width: 31%;
                margin: 1%;
            }

        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
}
