.contact-us {
    
    .jumbotron {
        background-image: url('../images/header2.png');
    }

    .office-images {
        margin-top:  40px;
        margin-bottom: 40px;
    }
    .map-fold {
        position: absolute;
        top: 0;
        left: 0;
    }
    .google-map {
        padding: 15px;
        height: 500px;
    }
    .social-channels {
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .rrssb-buttons.contact-buttons {
        height: 45px;
        width: 330px;

        li a .icon svg{
            top: 11px;
        }
    }

        /*==================================================
    =            Bootstrap 3 Media Queries             =
    ==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .btn-xlarge {
            margin-bottom: 10px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .office-images {
            img {
                margin-bottom: 10px;
            }
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
}