.domain {
    .jumbotron {
        background-image: url('../images/header3.png');
    }

    .feature {

        margin-top: 30px;
        margin-bottom: 30px;
        color: $gray-darker;

        &:first-child{
            margin-top: 0;
        }

        h3, h4 { 
            color: inherit;
            font-weight: bold;
        }
        h4 {

        }
        p { 
            color: inherit;
            font-weight: lighter; 
        }

        .big-icon {
            margin-top: 32px;
        }
    }
}