.features{
    .feature {

        margin-top: 60px;
        margin-bottom: 60px;
        color: $gray-darker;

        &:first-child{
            margin-top: 0;
        }

        h3, h4 { 
            color: inherit;
            font-weight: bold;
        }
        h4 {

        }
        p { 
            color: inherit;
            font-weight: lighter; 
        }

        .big-icon {
            margin-top: 32px;
        }
    }

    /*==================================================
    =            Bootstrap 3 Media Queries             =
    ==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        /* .feature {
            margin-top: 0;
            margin-bottom: 0;
            .big-icon {
                margin-top: 16px;
            }
        } */
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
}