/* ## Side Menu ## */
#sidebar-wrapper {
  top: 0;
  right: -250px;
  width: 250px;
  border-left: 2px solid #000;
  background: #3b3b3b;
  opacity: 0;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  z-index: 1031;
}

#sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 248px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper .sidebar-nav li{
  padding: 0;
  border-bottom:1px solid #595657;
}
#sidebar-wrapper .sidebar-nav .hidden-option {
  display: none;
}
#sidebar-wrapper .sidebar-nav li a{
    display: block;
    height: 70px;
    color: white;
    font-size: 22px;
    line-height: 70px;
}
#sidebar-wrapper .sidebar-nav li a:hover,
#sidebar-wrapper .sidebar-nav li a:focus,
#sidebar-wrapper .sidebar-nav li a:active{
    text-decoration: none;
}
#sidebar-wrapper .sidebar-nav li a .sidebar-icon{
    display: inline;
    text-align: center;
    margin: 5%;
}
#sidebar-wrapper .sidebar-nav li a .sidebar-icon img{
    width: 10%;
    margin: 0 auto;
}
#sidebar-wrapper .sidebar-nav li a .sidebar-icon.about img{
    width: 12%;
    margin-right: -2%;
}
#sidebar-wrapper .sidebar-nav .sidebar-login{
    background-color: #231f20;
}
#sidebar-wrapper .sidebar-nav .sidebar-login .glyphicon{
    width: 25px;
}