.support-center {


    .contact-title {
        margin-top: 26.5px;
        margin-bottom: 36.5px;
    }

    /* Search FAQ field */
    #search-faq-field {
        margin-top: 25px;
        outline: 0;
    }
    /* Search icon */
    .glyphicons.search:before {
        color: $input-color-placeholder;
        font-size: $font-size-base;
    }

    /* Buttons */

    .btn-oto-white {
        margin: 0 5px 7px 0;
    }
}