@import "compass";
@import "glyphicons/css/glyphicons";
@import "glyphicons/css/halflings";
@import "aller_font";

/* Otonomic Satellite Pages styling */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


/* prefix to avoid conflicts */
.satellite-page {
    @import "otonomic-bootstrap-sass/bootstrap";
    @import "rrssb";
    @import "all-pages";
    @import "side-menu";
    @import "features";
    @import "about";
    @import "support-center";
    @import "contact-us";
    @import "domain";
    @import "sample-websites";
    @import "stories";

    margin: 0;
    color: $gray-darker;
    background-color: $bright;
    font-family: 'aller','Open Sans', sans-serif;

    /* Sticky footer styles
    -------------------------------------------------- */
    /* Margin bottom by footer height */
      margin-bottom: 540px;

}

