footer{border-top:1px solid #E8E8E8;bottom:0;left:0;width:100%;z-index:10;background:#FFF;padding:60px 0;color:#9E9EA6}
footer section{clear:both;box-sizing:border-box;max-width:1014px;padding:0 1.5rem!important;margin:0 auto}
footer section h1{font-size:30px;line-height:36px;font-weight:400;margin:0}
footer section p{line-height:26px}
footer section .grid{width:100%}
footer section .grid:after,footer section .grid:before{content:" ";font-size:0;display:table}
footer section .grid:after{clear:both}
footer .ts_icon_otonomic_pillow{display:inline-block;width:40px;height:40px;color:#BABBBF}
footer .ts_icon_otonomic_pillow:before{font-size:40px;line-height:40px}
footer small{display:block;font-size:9pt;line-height:1pc;margin:5px 0 0}
footer ul{margin:0;padding:0;list-style-type:none}
footer ul a,footer ul a:link,footer ul a:visited{font-size:1pc;color:#9E9EA6;text-decoration:none}
footer.apps_footer #apps_footer_content{-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around;max-width:64pc}
footer.apps_footer #apps_footer_content a{display:inline-block;text-decoration:none;color:#9e9ea6}
footer.apps_footer #apps_footer_content .otonomic_twitter{padding-left:1.5rem;position:relative}
footer.apps_footer #apps_footer_content .otonomic_twitter ts-icon{left:0;position:absolute}
@media only screen and (max-width:768px){footer.apps_footer #apps_footer_content{-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;padding-top:0;padding-bottom:6rem!important;position:relative}
  footer.apps_footer #apps_footer_content .logo_content{bottom:0;left:0;position:absolute;text-align:center;width:100%}
  footer.apps_footer #apps_footer_content a{padding-bottom:1rem;padding-top:1rem;width:50%}
}
@media only screen and (max-width:767px){footer{padding:30px 0 40px}
  footer .nav_col:not(.mobile_col){width:50%!important;margin:0}
  footer li{display:block;margin-top:1rem}
}
@media only screen and (max-width:320px){footer .nav_col:not(.mobile_col){width:100%!important}
}
footer{position:relative}
