//colors
$color_picton_blue_approx: #3aa3e3;
$black_25: rgba(0,0,0,.25);
$black_50: rgba(0,0,0,.5);
$black_10: rgba(0,0,0,.1);
$white: #fff;
$mercury: #e5e5e5;
$color_picton_blue_10_approx: rgba(58,163,227,.1);
$white_75: rgba(255,255,255,.75);
$white_20: rgba(255,255,255,.2);
$color_spring_wood_approx: #f7f5f3;
$color_mountain_mist_approx: #949392;
$black_40: rgba(0,0,0,.4);
$color_alto_approx: #dcdcdc;

//urls
$url_0: url(../../65eb/img/tour/header_bg_overlay_tile.png);
$url_1: url(../../4030/img/tour/01_1680px.jpg);
$url_2: url(../../4030/img/tour/01_1024px.jpg);
$url_3: url(../../4030/img/tour/01_640px.jpg);
$url_4: url(../../0180/img/tour/ways_highlights.png);
$url_5: url(../../0180/img/tour/ways_highlights%402x.png);
$url_6: url(../../0180/img/tour/ways_highlights_old.png);
$url_7: url(../../0180/img/tour/ways_highlights%402x_old.png);

header {
	position: absolute;
	height: 500px;
	background: $url_0,$url_1 top right/cover;
	h1 {
		margin-top: 150px;
		line-height: 60px;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 5px $black_25;
	}
	h2 {
		margin-top: .53rem;
		max-width: 500px;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 0 10px $black_50;
	}
}
@media only screen and(max-width:1024px) {
	header {
		background: $url_0,$url_2 top right/cover;
	}
}
@media only screen and(max-width:640px) {
	header {
		background: $url_0,$url_3 top right/cover;
		h1 {
			line-height: 50px;
		}
		h2 {
			margin-top: 1.06rem;
		}
	}
	.detail {
		&#communicate .ways {
			height: 7.44rem;
		}
		&#try .get_started_btn {
			width: 100%;
		}
	}
	.signup.bottom {
		div {
			border: none;
		}
		small {
			background: 0 0;
		}
	}
	#communicate.detail .headline {
		width: 100%;
		font-size: 2.02rem;
		line-height: 2.66rem;
	}
}
@media only screen and(max-width:440px) {
	header h1 {
		font-size: 2pc;
		line-height: 40px;
	}
}
@media only screen and(max-width:350px) {
	header h1 {
		font-size: 28px;
		line-height: 36px;
		margin-top: 75pt;
	}
}
#page {
	margin-top: 500px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 25px 50px $black_10;
}
.detail {
	background: $white;
	p {
		font-size: 1.06rem;
	}
	.background {
		position: absolute;
	}
	&#communicate {
		border-bottom: 1px solid $mercury;
		padding: 3.19rem 0;
		height: auto;
		overflow: hidden;
		h1 {
			width: 100%;
			text-align: center;
			font-size: 3.51rem;
			font-weight: 800;
			line-height: 3.83rem;
			padding: 1.06rem 0 4.78rem;
		}
		.ways {
			width: 455px;
			margin-top: 50px;
		}
		.way {
			width: 455px;
			padding: 25px 34px;
			cursor: pointer;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 10px;
			h3 {
				width: 387px;
				font-size: 22px;
				font-weight: 800;
				margin: 0 0 .27rem;
			}
			p {
				width: 387px;
				margin: 0;
			}
			&:hover {
				h3 {
					opacity: 1;
				}
				p {
					opacity: 1;
				}
			}
		}
		.switcher {
			width: 66px;
			height: 26px;
			background: $black_50;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 13px;
			padding: 8px 10px;
			margin: 0 auto;
			display: none;
			.circle {
				display: block;
				float: left;
				width: 10px;
				height: 10px;
				border: 1px solid $white;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 5px;
				margin-right: 8px;
				opacity: .6;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		.image_container {
			position: absolute;
			bottom: -50px;
			left: 600px;
			width: 964px;
			height: 565px;
		}
		.highlight {
			width: 25pc;
			height: 25pc;
			position: absolute;
			opacity: 0;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: opacity .2s ease-out 0s;
			background-image: $url_4;
			background-size: 25pc 1217px;
			background-repeat: no-repeat;
			left: -74px;
			&.highlight_old {
				background-image: $url_6;
			}
			&.highlight_old[data-highlight=dm] {
				top: 95px;
				background-position: 0 -25pc;
			}
			&.highlight_old[data-highlight=group] {
				top: 175px;
				background-position: 0 -50pc;
			}
		}
		.highlight[data-highlight=channel] {
			top: -15px;
			background-position: 0 0;
		}
		.highlight[data-highlight=dm] {
			top: 175px;
			background-position: 0 -50pc;
		}
		.highlight[data-highlight=group] {
			top: 95px;
			background-position: 0 -25pc;
		}
	}
	&#web_to_work {
		border-bottom: 1px solid $mercury;
		height: 500px;
		h1 {
			padding-top: 90px;
		}
		section {
			padding-left: 516px;
		}
		.background {
			top: 70px;
			left: 1.59rem;
		}
	}
	&#empower {
		border-bottom: 1px solid $mercury;
		height: 560px;
		h1 {
			padding-top: 40px;
		}
		.background {
			top: 60px;
			right: 1.59rem;
		}
	}
	&#content {
		border-bottom: 1px solid $mercury;
		height: 500px;
		h1 {
			padding-top: 110px;
		}
		.background {
			top: 60px;
			right: 1.59rem;
		}
	}
	&#do_it_for_me, &#powerful {
		height: 980px;
		background: $color_picton_blue_approx;
		color: $white;
		&.short {
			height: 660px;
		}
		h1 {
			opacity: 1;
		}
		p {
			opacity: 1;
		}
		.do_it_for_me, .powerful {
			text-align: center;
			h1 {
				width: 100%;
				font-size: 58px;
				line-height: 1.2em;
				font-weight: 800;
				padding-top: 50px;
			}
			p {
				width: 790px;
				margin: 1.06rem auto 0;
				max-width: 100%;
			}
			.btn {
				margin-top: 1.06rem;
				color: $white;
				background-color: transparent;
				box-sizing: border-box;
				display: inline-block;
				height: 50px;
				line-height: 2.875rem;
				padding: 0 20px;
				border: 2px solid $white_75;
				border-radius: 4px;
				font-weight: 700;
				text-decoration: none;
				margin-top: 10px;
			}
		}
		.do_it_for_me_img {
			display: block;
			margin: 50px auto;
			//padding-left: 50px;
		}
		.do_it_for_me_mobile {
			display: none;
		}
		hr {
			border: none;
			border-top: 1px solid $white_20;
		}
		.notifications {
			p {
				margin: 50px 0 0 500px;
				max-width: 390px;
				line-height: 24px;
			}
			.background {
				top: 50px;
				left: 2.13rem;
			}
		}
	}
	&#web_to_work {
		border-bottom: 1px solid $mercury;
		height: 500px;
		h1 {
			padding-top: 90px;
		}
		section {
			padding-left: 516px;
		}
		.background {
			top: 70px;
			left: 1.59rem;
		}
	}
	&#communicate[data-highlight=channel] {
		.way[data-highlight=channel] {
			background: $color_picton_blue_10_approx;
			h3 {
				opacity: 1;
				color: $color_picton_blue_approx;
			}
			p {
				opacity: 1;
			}
		}
		.circle[data-highlight=channel] {
			opacity: 1;
			background: $white;
		}
		.highlight[data-highlight=channel] {
			opacity: 1;
		}
	}
	&#communicate[data-highlight=dm] {
		.way[data-highlight=dm] {
			background: $color_picton_blue_10_approx;
			h3 {
				opacity: 1;
				color: $color_picton_blue_approx;
			}
			p {
				opacity: 1;
			}
		}
		.circle[data-highlight=dm] {
			opacity: 1;
			background: $white;
		}
		.highlight[data-highlight=dm] {
			opacity: 1;
		}
	}
	&#communicate[data-highlight=group] {
		.way[data-highlight=group] {
			background: $color_picton_blue_10_approx;
			h3 {
				opacity: 1;
				color: $color_picton_blue_approx;
			}
			p {
				opacity: 1;
			}
		}
		.circle[data-highlight=group] {
			opacity: 1;
			background: $white;
		}
		.highlight[data-highlight=group] {
			opacity: 1;
		}
	}
	&#actions {
		height: 500px;
		section {
			padding-left: 516px;
		}
		h1 {
			padding-top: 90px;
		}
		.background {
			top: 70px;
			left: 1.06rem;
		}
	}
	&#design {
		height: 500px;
		background-color: $color_spring_wood_approx;
		h1 {
			padding-top: 30px;
		}
		.background {
			top: 60px;
			right: 1.59rem;
		}
		.get_started_btn {
			background-color: transparent;
			color: $color_mountain_mist_approx!important;
			&:after {
				border-color: $color_mountain_mist_approx;
			}
			&:focus {
				background-color: $color_mountain_mist_approx;
				color: $white!important;
			}
			&:hover {
				background-color: $color_mountain_mist_approx;
				color: $white!important;
			}
			&:active:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: inset 0 1px 1px $black_40;
			}
		}
	}
}
@media only screen and(max-width:945px) {
	.detail {
		&#communicate {
			padding: 50px 0 0;
			.ways {
				margin-top: 0;
				margin-bottom: 1.06rem;
				width: 100%;
				height: 6.38rem;
			}
			.way {
				padding: 0;
				width: 100%;
				display: none;
				cursor: default;
				h3 {
					opacity: 1;
					width: 100%;
					color: $color_picton_blue_approx;
				}
				p {
					opacity: 1;
					width: 100%;
				}
			}
			.switcher {
				display: block;
			}
			.image_container {
				position: relative;
				left: 50px;
				width: 723px;
				height: 553px;
			}
			.highlight {
				width: 300px;
				height: 300px;
				background-size: 100%;
			}
			.highlight[data-highlight=dm] {
				top: 99pt;
				background-position: 0 -600px;
			}
			.highlight[data-highlight=group] {
				top: 72px;
				background-position: 0 -300px;
			}
		}
		&#communicate[data-highlight=channel] .way[data-highlight=channel] {
			background: 0 0;
			display: block;
		}
		&#communicate[data-highlight=dm] .way[data-highlight=dm] {
			background: 0 0;
			display: block;
		}
		&#communicate[data-highlight=group] .way[data-highlight=group] {
			background: 0 0;
			display: block;
		}
	}
}
@media only screen and(max-width:470px) {
	.detail#communicate .ways {
		height: 8.5rem;
	}
}
@media only screen and(max-width:365px) {
	.detail#communicate .ways {
		height: 12.75rem;
	}
}
@media only screen and(-webkit-min-device-pixel-ratio:2),only screen and(min-resolution:192dpi),only screen and(min-resolution:2dppx) {
	.detail#communicate .highlight {
		background-image: $url_5;
		&.highlight_old {
			background-image: $url_7;
		}
	}
}
@media only screen and(max-width:1023px) {
	.detail {
		height: auto!important;
		padding: 3.19rem 0;
		h1 {
			display: block;
			width: 100%;
			padding-top: 0!important;
		}
		p {
			display: block;
			width: 100%;
			margin-bottom: 0;
		}
		.headline {
			padding-bottom: 3.19rem!important;
		}
		.background {
			position: static;
			display: block;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2.13rem;
		}
		section {
			padding-left: 1.59rem!important;
		}
		&#do_it_for_me{
			.do_it_for_me {
				display: none;
			}
			.do_it_for_me_mobile {
				display: block;
			}
			hr {
				margin: 40px 0;
			}
			.notifications {
				.background {
					max-width: 107%;
				}
				p {
					margin-left: auto;
					margin-right: auto;
					margin-top: 1.06rem;
					max-width: 380px;
				}
			}
		}
		.get_started_btn {
			margin-top: 1.06rem;
		}
	}
}
@media only screen and(max-width:320px) {
	#communicate.detail .headline {
		font-size: 1.59rem;
	}
}
.scrolled header {
	h1 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,0,0);
		opacity: 1;
	}
	h2 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
.signup.bottom div {
	background: 0 0;
	border: 1px solid $color_alto_approx;
}

@media screen and (min-width:640px) {
	#communicate.detail .headline {
		margin: auto;
		width: 600px;
	}
}
