//colors
$white: #fff;
$black_24: rgba(0,0,0,.24);
$color_tundora_approx: #434247;
$color_hint_of_red_approx: #fbfaf8;

//urls
$url_0: url(../images/tour/tour_header_video_1680px.jpg);
$url_1: url(../images/tour/tour_header_video_1024px.jpg);
$url_2: url(../images/tour/tour_header_video_640px.jpg);
$url_3: url(../images/tour/video_play_button%401x.jpg);
$url_4: url(../images/tour/video_play_button%402x.jpg);
$url_5: url(../images/tour/tour_header_video_for_text_1680px.jpg);
$url_6: url(../images/tour/tour_header_video_for_text_1024px.jpg);
$url_7: url(../images/tour/tour_header_video_for_text_640px.jpg);

#page {
	margin-top: 0;
}
.video_header {
	position: relative;
	height: 500px;
	text-align: center;
	overflow: hidden;
	will-change: height;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: height .1s;
	.hero_image_overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		cursor: pointer;
		will-change: height;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: height .1s;
		background-image: $url_0;
		background-size: cover;
		background-position: top;
	}
	.video_text {
		position: absolute;
		top: 3rem;
		width: 100%;
		color: $white;
		+ .tour_btn {
			top: 75%;
		}
	}
	.video_title {
		width: 100%;
		font-size: 3.3rem;
		line-height: 3.6rem;
	}
	.video_headline {
		position: relative;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%);
		padding-left: 1rem;
		padding-right: 1rem;
		max-width: 600px;
	}
	.tour_btn {
		position: absolute;
		top: 50%;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(-50%);
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 5px 10px 5px $black_24;
		padding-right: 63px;
		outline: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .1s;
		&:before {
			position: absolute;
			right: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(-33px) translateY(-1px);
			font-size: 1.5rem;
		}
	}
	.play_btn {
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(-50%);
		border: 0;
		padding: 0;
		width: 162px;
		height: 162px;
		background-color: transparent;
		background-size: 162px 162px;
		opacity: .8;
		background-image: $url_3;
		&:hover {
			opacity: 1;
		}
		&:focus {
			outline: 0;
			background-position: 0 2px;
			background-position-y: 2px;
		}
	}
	.close_video {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 50px;
		height: 50px;
		background: $color_tundora_approx;
		border: 0;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3rem;
		color: $color_hint_of_red_approx;
		cursor: pointer;
		outline: 0;
		opacity: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .1s;
		&:before {
			font-weight: 700;
			font-size: 30px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(2px);
		}
	}
	.stealth {
		opacity: 0;
	}
	&.below_nav {
		margin-top: 90px;
	}
	&.has_text {
		.hero_image_overlay {
			background-image: $url_5;
			background-size: cover;
			background-position: center;
		}
		.video_headline {
			font-size: 17px;
		}
	}
	&:focus .close_video.show {
		opacity: .8;
	}
	&:hover .close_video.show {
		opacity: .8;
	}
	~ #page {
		height: auto;
		margin-top: auto;
	}
}
@media only screen and (max-width:1024px) {
	.video_header {
		.hero_image_overlay {
			background-image: $url_1;
			&.no_events {
				pointer-events: none;
			}
		}
		&.has_text .hero_image_overlay {
			background-image: $url_6;
		}
	}
}
@media only screen and (max-width:640px) {
	.video_header {
		.hero_image_overlay {
			background-image: $url_2;
			background-position: top center;
		}
		.video_text {
			top: 2rem;
		}
		.video_title {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		.play_btn {
			background-image: $url_3;
			opacity: 1;
		}
		&.has_text {
			.hero_image_overlay {
				background-image: $url_7;
			}
			.video_headline {
				font-size: 1pc;
				line-height: 25px;
			}
		}
	}
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
	.video_header .play_btn {
		background-image: $url_4;
	}
}
@media only screen and (max-width:640px), only screen and (max-height:768px) {
	.headroom ~ #page .video_header {
		margin-top: 72px;
	}
	.video_header.below_nav {
		margin-top: 72px;
	}
}
body nav.top {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 420ms cubic-bezier(.165,.84,.44,1),opacity .1s ease-in;
	&.stealth {
		opacity: 0;
	}
}
.headroom ~ #page .video_header {
	margin-top: 90px;
}
.top.persistent ~ #page .video_header {
	margin-top: 70px;
}
