@media screen and (max-width:767px) {
  body {
    padding-bottom: 0;
  }
  #intercom-container {
    display: none;
  }
  .plan_container {
    padding: 0;
  }

  .signup_c.marsandbeyond.cover {
    background-image: url(../images/painter-small.jpg) !important;
  }
  .signup_c.marsandbeyond {
    background-image: none !important;
    background-color: transparent;
  }

  .detail#do_it_for_me .do_it_for_me h1, .detail#do_it_for_me .powerful h1, .detail#powerful .do_it_for_me h1, .detail#powerful .powerful h1 {
    font-size: 36px;
  }
}

@media screen and (max-width:640px) {
  .signup_c .gradient {
    display: none;
  }
  .signup_c #story {
    height: 50vh;
  }
}

@media screen and (min-width:640px) {
  .signup_c.top_story_header.marsandbeyond .cta_ad, .signup_c.top_story_header.neutrinoinahaystack .cta_ad, .signup_c.top_story_header.waterislife .cta_ad {
    bottom: 20.337rem;
  }
}
