//colors
$white: #fff;
$color_jungle_green_approx: #2ab27b;
$black_25: rgba(0,0,0,.25);
$black_20: rgba(0,0,0,.2);
$color_alabaster_approx: #fbfbfa;
$color_scarpa_flow_approx: #555459;
$color_ghost_approx: #c7cacd;
$white_90: rgba(255,255,255,.9);
$white_50: rgba(255,255,255,.5);
$color_picton_blue_approx: #3aa3e3;
$white_80: rgba(255,255,255,.8);
$color_storm_dust_approx: #666;
$color_anzac_approx: #dfa941;
$color_mojo_approx: #cb5234;
$color_star_dust_approx: #9e9ea6;
$color_azure_approx: #3b5998;
$white_25: rgba(255,255,255,.25);
$color_silver_tree_approx: #56b68b;

//fonts
$font_0: appleLogo;

//urls
$url_0: url(../../66f9/img/ios_app_store_badge.png);
$url_1: url(../../d1609/img/ios_app_store_badge_large.png);
$url_2: url(../../66f9/img/google_play_badge.png);
$url_3: url(../../97d7c/img/windows_store_badge.png);
$url_4: url(../../66f9/img/ios_app_store_badge%402x.png);
$url_5: url(../../d1609/img/ios_app_store_badge_large%402x.png);
$url_6: url(../../66f9/img/google_play_badge%402x.png);
$url_7: url(../../97d7c/img/windows_store_badge%402x.png);

//@extend-elements
//original selectors
//.btn.disabled, .btn.disabled:active, .btn.disabled:hover, .btn:disabled, .btn:disabled:active, .btn:disabled:hover
%extend_1 {
	background-color: $color_star_dust_approx!important;
	opacity: .35;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none!important;
	pointer-events: none;
}

//original selectors
//.btn_ios, .btn_ios:focus, .btn_ios:hover
%extend_2 {
	width: 127px;
	height: 38px;
	background-image: $url_0;
	background-size: 127px 38px;
}

//original selectors
//.btn_ios_large, .btn_ios_large:focus, .btn_ios_large:hover
%extend_3 {
	width: 175px;
	height: 52px;
	background-image: $url_1;
	background-size: 175px 52px;
}

//original selectors
//.btn_android, .btn_android:focus, .btn_android:hover
%extend_4 {
	width: 110px;
	height: 38px;
	background-image: $url_2;
	background-size: 110px 39px;
}

//original selectors
//.btn_windows, .btn_windows:focus, .btn_windows:hover
%extend_5 {
	width: 146px;
	height: 38px;
	background-image: $url_3;
	background-size: 146px 38px;
}

//original selectors
//.btn_android, .btn_ios, .btn_ios_large, .btn_windows
%extend_6 {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	background-color: transparent;
	border-bottom: 0;
}


@font-face {
	font-family: $font_0;
	src: local("Lucida Grande");
	unicode-range: U +F8FF;
}
.btn {
	&:after {
		/*position: absolute;*/
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: .25rem;
	}
	&.hover {
		background: $color_jungle_green_approx;
		color: $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 -2px $black_25;
		}
	}
	&:focus {
		background: $color_jungle_green_approx;
		color: $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 -2px $black_25;
		}
	}
	&:hover {
		background: $color_jungle_green_approx;
		color: $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 -2px $black_25;
		}
	}
	&.active {
		color: $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 2px 1px $black_20;
		}
	}
	&:active {
		color: $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 2px 1px $black_20;
		}
	}
	&.btn_outline {
		&.btn_danger {
			background: $color_alabaster_approx!important;
			&:focus {
				background: $white!important;
				color: $color_mojo_approx!important;
				&:after {
					border-color: $color_mojo_approx;
				}
			}
			&:hover {
				background: $white!important;
				color: $color_mojo_approx!important;
				&:after {
					border-color: $color_mojo_approx;
				}
			}
		}
		&.btn_warning {
			background: $color_alabaster_approx!important;
			&:focus {
				background: $white!important;
				color: $color_anzac_approx!important;
				&:after {
					border-color: $color_anzac_approx;
				}
			}
			&:hover {
				background: $white!important;
				color: $color_anzac_approx!important;
				&:after {
					border-color: $color_anzac_approx;
				}
			}
		}
		&.disabled {
			color: $color_star_dust_approx!important;
			background: $white!important;
			&:hover {
				color: $color_star_dust_approx!important;
				background: $white!important;
			}
		}
	}
	&.btn_border {
		background: 0 0;
		border: 2px solid $white;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	&.disabled {
		@extend %extend_1;
		&:active {
			@extend %extend_1;
		}
		&:hover {
			@extend %extend_1;
		}
	}
	&:disabled {
		@extend %extend_1;
		&:active {
			@extend %extend_1;
		}
		&:hover {
			@extend %extend_1;
		}
	}
	&.btn_success {
		background-color: $color_silver_tree_approx;
		&.disabled {
			background-color: $color_silver_tree_approx!important;
		}
		&:disabled {
			background-color: $color_silver_tree_approx!important;
		}
	}
	i {
		margin-right: .25rem;
		&:before {
			font-size: inherit;
			vertical-align: bottom;
		}
	}
	&.dropdown-toggle .caret {
		border-top-color: $white;
	}
}
.btn_outline {
	background: $color_alabaster_approx;
	color: $color_scarpa_flow_approx!important;
	font-weight: 700;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	&:after {
		border: 0 solid $color_ghost_approx;
	}
	&.btn_transparent {
		background-color: transparent!important;
		color: $white_90!important;
		&:after {
			border: 1px solid $white_50;
		}
		&.active {
			color: $color_picton_blue_approx!important;
			background: $white_90!important;
			background-color: $white_80!important;
			&:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-color: transparent;
			}
		}
		&.hover {
			color: $color_picton_blue_approx!important;
			background: $white_90!important;
			&:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-color: transparent;
			}
		}
		&:active {
			color: $color_picton_blue_approx!important;
			background: $white_90!important;
			background-color: $white_80!important;
			&:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-color: transparent;
			}
		}
		&:focus {
			color: $color_picton_blue_approx!important;
			background: $white_90!important;
			&:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-color: transparent;
			}
		}
		&:hover {
			color: $color_picton_blue_approx!important;
			background: $white_90!important;
			&:after {
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				border-color: transparent;
			}
		}
	}
	&.hover {
		background: $white;
		color: $color_picton_blue_approx!important;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	&:focus {
		background: $white;
		color: $color_picton_blue_approx!important;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	&:hover {
		background: $white;
		color: $color_picton_blue_approx!important;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	&:active {
		color: $color_picton_blue_approx;
		&:after {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: inset 0 1px 1px $black_20;
		}
	}
	&.active {
		color: $color_storm_dust_approx!important;
		margin-top: 0;
		font-weight: 800;
	}
}
.btn_small {
	padding: 5px 10px;
	font-size: 14px;
	i:before {
		font-size: 15px;
	}
}
.btn_large {
	padding: 14px 2pc 1pc;
	font-size: 20px;
	i {
		margin-right: .5rem;
		font-size: 18px;
	}
}
.btn_extra_large {
	font-size: 1.125rem;
	padding: 1.25rem;
	i {
		vertical-align: middle;
		font-size: 1.25rem;
	}
}
.btn_expand {
	width: 100%;
	display: block;
}
@media only screen and(max-width:640px) {
	.btn_large {
		padding: 14px 20px 1pc;
	}
	.btn_extra_large {
		padding: .9375rem 2rem;
	}
}
.btn_info {
	background: $color_picton_blue_approx!important;
}
.btn_warning {
	background: $color_anzac_approx!important;
}
.btn_danger {
	background: $color_mojo_approx!important;
}
.btn_twitter {
	background: $color_picton_blue_approx!important;
}
.btn_facebook {
	background: $color_azure_approx!important;
}
.btn_transparent {
	background: $white_25!important;
}
.btn_with_icon {
	position: relative;
	padding-left: 3rem!important;
	i {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding: .5rem .75rem;
		border-right: 1px solid $white_50;
		background: $black_20;
		display: inline-block;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 0;
		//Instead of the line below you could use @include border-bottom-right-radius($radius)
		border-bottom-right-radius: 0;
		//Instead of the line below you could use @include border-bottom-left-radius($radius)
		border-bottom-left-radius: .25rem;
		//Instead of the line below you could use @include border-top-left-radius($radius)
		border-top-left-radius: .25rem;
		//Instead of the line below you could use @include background-clip($clip)
		background-clip: padding-box;
		font-size: 1.4rem!important;
		line-height: 2.25rem;
	}
}
.btn_icon {
	width: 2pc;
	height: 30px;
	padding: 0;
	&:before {
		display: block;
	}
}
.pill_btn {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2rem;
	padding: 5px 13px 6px;
	font-weight: 600;
	&:after {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2rem;
	}
	i {
		margin-right: .1rem;
	}
	&.btn_small {
		padding: 3px 10px;
	}
	&.btn_large {
		padding: 14px 2pc 1pc;
		i {
			margin-right: .4rem;
		}
	}
}
.btn_ios {
	@extend %extend_2;
	@extend %extend_6;
	&:focus {
		@extend %extend_2;
		background-color: transparent;
	}
	&:hover {
		@extend %extend_2;
		background-color: transparent;
	}
	&:after {
		display: none;
	}
}
.btn_ios_large {
	@extend %extend_3;
	@extend %extend_6;
	&:focus {
		@extend %extend_3;
		background-color: transparent;
	}
	&:hover {
		@extend %extend_3;
		background-color: transparent;
	}
	&:after {
		display: none;
	}
}
.btn_android {
	@extend %extend_4;
	@extend %extend_6;
	&:focus {
		@extend %extend_4;
		background-color: transparent;
	}
	&:hover {
		@extend %extend_4;
		background-color: transparent;
	}
	&:after {
		display: none;
	}
}
.btn_windows {
	@extend %extend_5;
	@extend %extend_6;
	&:focus {
		@extend %extend_5;
		background-color: transparent;
	}
	&:hover {
		@extend %extend_5;
		background-color: transparent;
	}
	&:after {
		display: none;
	}
}
@media only screen and(-webkit-min-device-pixel-ratio:2),only screen and(min-resolution:192dpi),only screen and(min-resolution:2dppx) {
	.btn_ios {
		background-image: $url_4;
		&:focus {
			background-image: $url_4;
		}
		&:hover {
			background-image: $url_4;
		}
	}
	.btn_ios_large {
		background-image: $url_5;
		&:focus {
			background-image: $url_5;
		}
		&:hover {
			background-image: $url_5;
		}
	}
	.btn_android {
		background-image: $url_6;
		&:focus {
			background-image: $url_6;
		}
		&:hover {
			background-image: $url_6;
		}
	}
	.btn_windows {
		background-image: $url_7;
		&:focus {
			background-image: $url_7;
		}
		&:hover {
			background-image: $url_7;
		}
	}
}
a.btn {
	color: $white;
}
.no_touch .btn {
	&.hover {
		outline: 0;
		text-decoration: none;
	}
	&:focus {
		outline: 0;
		text-decoration: none;
	}
	&:hover {
		outline: 0;
		text-decoration: none;
	}
}
