//colors
$color_gray_nurse_approx: #e8e8e8;
$white: #fff;
$color_star_dust_approx: #9e9ea6;
$color_french_gray_approx: #babbbf;

//fonts
$font_0: appleLogo;

//@extend-elements
//original selectors
//footer section .grid:after, footer section .grid:before
%extend_1 {
	content: " ";
	font-size: 0;
	display: table;
}

//original selectors
//footer ul a, footer ul a:link, footer ul a:visited
%extend_2 {
	font-size: 1pc;
	color: $color_star_dust_approx;
	text-decoration: none;
}


@font-face {
	font-family: $font_0;
	src: local("Lucida Grande");
	unicode-range: U +F8FF;
}
.small {
	font-size: .9rem;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	/*padding-bottom: 15pc;*/
}

@media only screen and(max-width:767px) {
	body {
		padding-bottom: 477px;
	}
	footer {
		padding: 30px 0 40px;
		li {
			display: block;
			margin-top: 1rem;
		}
		.nav_col:not(.mobile_col) {
			width: 50%!important;
			margin: 0;
		}
	}
}
@media only screen and(max-width:320px) {
	body {
		padding-bottom: 50pc;
	}
	footer .nav_col:not(.mobile_col) {
		width: 100%!important;
	}
}
footer {
	border-top: 1px solid $color_gray_nurse_approx;
    /*
	position: absolute;
	bottom: 0;
	left: 0;
    */
	width: 100%;
	z-index: 10;
	background: $white;
	padding: 60px 0;
	color: $color_star_dust_approx;
	section {
		clear: both;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		max-width: 1014px;
		padding: 0 1.5rem!important;
		margin: 0 auto;
		h1 {
			font-size: 30px;
			line-height: 36px;
			font-weight: 400;
			margin: 0;
		}
		p {
			line-height: 26px;
		}
		.grid {
			width: 100%;
			&:after {
				@extend %extend_1;
				clear: both;
			}
			&:before {
				@extend %extend_1;
			}
		}
	}
	.ts_icon_otonomic_pillow {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: $color_french_gray_approx;
		&:before {
			font-size: 40px;
			line-height: 40px;
		}
	}
	small {
		display: block;
		font-size: 9pt;
		line-height: 1pc;
		margin: 5px 0 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		a {
			@extend %extend_2;
			&:link {
				@extend %extend_2;
			}
			&:visited {
				@extend %extend_2;
			}
		}
	}
	&.apps_footer #apps_footer_content {
		justify-content: space-around;
		max-width: 64pc;
		a {
			display: inline-block;
			text-decoration: none;
			color: $color_star_dust_approx;
		}
		.otonomic_twitter {
			padding-left: 1.5rem;
			position: relative;
			ts-icon {
				left: 0;
				position: absolute;
			}
		}
	}

	&.footer_dark{
		padding:40px 0 20px;
		background-color:transparent;
		border-top:1px solid rgba(255,255,255,.1);
		ul a{
			color:#A0A0A2
		}
	}

}

/*@media only screen and (max-width:767px){footer.footer_dark{background-color:#fff}
}*/



@media only screen and(max-width:768px) {
	footer.apps_footer #apps_footer_content {
		justify-content: flex-start;
		padding-top: 0;
		padding-bottom: 6rem!important;
		position: relative;
		.logo_content {
			bottom: 0;
			left: 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}
		a {
			padding-bottom: 1rem;
			padding-top: 1rem;
			width: 50%;
		}
	}

	.signup_c .gradient {
		display: none;
	}
}