//colors
$color_gallery_approx: #eee;
$color_concrete_approx: #f2f2f5;
$color_mandy_approx: #eb4d5c;
$color_fair_pink_approx: #fdedef;
$color_jungle_green_approx: #2ab27b;
$color_off_green_approx: #e3f8f0;

//fonts
$font_0: appleLogo;
$font_1: Otonomico-Lato;
$font_2: sans-serif;
$font_3: Open Sans;

//@extend-elements
//original selectors
//#page_contents li, #page_contents p, .col_right li, .col_right p
%extend_1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: $font_3, $font_2;
  margin-bottom: 1.5rem;
}

//original selectors
//#page_contents ol li:before, .col_right ol li:before
%extend_2 {
  content: counters(item, ".") ".";
  counter-increment: item;
  font-weight: 700;
  text-align: right;
  display: inline-block;
  margin-left: -1.5rem;
  margin-right: 1.85rem;
  float: left;
  margin-bottom: 0;
}

//original selectors
//#page_contents ol ol li:before, .col_right ol ol li:before
%extend_3 {
  display: inline;
  content: counters(item, ".") "";
  font-weight: 700;
  margin-left: 0;
  margin-right: 1.25rem;
  float: none;
}

//original selectors
//#page_contents .document_container, .col_right .document_container
%extend_4 {
  position: relative;
  overflow: scroll-y;
  max-height: 22em;
  padding: 1rem;
  border: 1px solid $color_gallery_approx;
  background: $color_concrete_approx;
}


#page_contents {
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  li {
    @extend %extend_1;
    margin-bottom: 1rem;
  }
  p {
    @extend %extend_1;
  }
  ol {
    margin-bottom: 1.5rem;
    counter-reset: item;
    margin-left: 0;
    li {
      margin-bottom: 3rem;
      display: block;
      &:before {
        @extend %extend_2;
      }
      strong {
        font-weight: 700;
        display: inline-block;
      }
    }
    ol {
      margin-left: 3rem;
      margin-top: 1rem;
      li {
        margin-bottom: 1rem;
        &:before {
          @extend %extend_3;
        }
      }
    }
    p {
      margin-top: 1rem;
    }
  }
  .document_container {
    @extend %extend_4;
  }
  del {
    color: $color_mandy_approx;
    background-color: $color_fair_pink_approx;
    text-decoration: none;
  }
  ins {
    color: $color_jungle_green_approx;
    background-color: $color_off_green_approx;
    text-decoration: none;
  }
  .emphasized {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  hr {
    margin: 2.5rem auto 2rem;
    width: 30%;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  ul {
    margin-bottom: 1.5rem;
    ul {
      margin-top: 1rem;
    }
  }
  .span_5_of_6 > ol {
    padding-left: 1.5rem;
  }
  .archives-list li {
    margin-bottom: 0;
  }
}
.col_right {
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  li {
    @extend %extend_1;
    margin-bottom: 1rem;
  }
  p {
    @extend %extend_1;
  }
  ol {
    margin-bottom: 1.5rem;
    counter-reset: item;
    margin-left: 0;
    li {
      margin-bottom: 3rem;
      display: block;
      &:before {
        @extend %extend_2;
      }
      strong {
        font-weight: 700;
        display: inline-block;
      }
    }
    ol {
      margin-left: 3rem;
      margin-top: 1rem;
      li {
        margin-bottom: 1rem;
        &:before {
          @extend %extend_3;
        }
      }
    }
    p {
      margin-top: 1rem;
    }
  }
  .document_container {
    @extend %extend_4;
  }
  del {
    color: $color_mandy_approx;
    background-color: $color_fair_pink_approx;
    text-decoration: none;
  }
  ins {
    color: $color_jungle_green_approx;
    background-color: $color_off_green_approx;
    text-decoration: none;
  }
  .emphasized {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  hr {
    margin: 2.5rem auto 2rem;
    width: 30%;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  ul {
    margin-bottom: 1.5rem;
    ul {
      margin-top: 1rem;
    }
  }
  .span_5_of_6 > ol {
    padding-left: 1.5rem;
  }
  .archives-list li {
    margin-bottom: 0;
  }
}
@font-face {
  font-family: $font_0;
  src: local("Lucida Grande");
  unicode-range: UF8FF;
}
.nav_bullet {
  margin: 0 0.25rem 0 -1rem;
  vertical-align: top;
  line-height: 22px;
}
@media only screen and (max-width: 640px) {
#page_contents {
  .emphasized {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  a {
    font-weight: 700;
  }
  strong {
    font-weight: 700;
  }
  ol {
    margin-left: 0;
    padding-left: 0;
    ol {
      margin-left: 0;
      padding-left: 0;
    }
    li strong {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
.col_right {
  .emphasized {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  a {
    font-weight: 700;
  }
  strong {
    font-weight: 700;
  }
  ol {
    margin-left: 0;
    padding-left: 0;
    ol {
      margin-left: 0;
      padding-left: 0;
    }
    li strong {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
#policy_nav li {
  margin-bottom: 1rem;
}
}
#policy_nav li {
  margin-bottom: 1.5rem;
}
.container h1 {
  margin-top: 2rem;
}