@import "footer";

$plan1-color: #8a74b9;
$plan2-color: #4cb992;
$plan3-color: #3499e0;
$plan4-color: #efb57c;

@font-face {
  font-family: appleLogo;
  src: local("Lucida Grande");
  unicode-range: U+F8FF;
}


body {
  -webkit-font-smoothing: antialiased;
  font-size: 1pc;
}

h1, h2 {
  color: #3a4351;
}

h3 {
  color: #3a4351;
  margin-bottom: 1.5rem;
}

.section_divider {
  margin: 0;
  border-top: 0;
  border-bottom: 2px solid #e9edf5;
}

.brick_icon {
  display: none !important;
}

.intro {
  height: auto;
  margin-bottom: 12rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #2b3645;
  }
  h2 {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #68686f;
    line-height: 1.8125rem;
  }
  p.alert {
    width: 60rem;
    margin: 0 auto;
  }
}

.plans {
  padding-bottom: 3.75rem;
  background-color: #fff;
}

.plan_container {
  /*width: 60rem;*/
  width: 80rem;
  margin: 0 auto;
  padding: 0 6em;
}

.plan {
  width: calc(33%);
  /*width: calc(24.9%);*/

  margin: -9.625rem 0 0 0;
  padding: 0 0.65625rem;
  float: left;
  &:last-child {
    margin-right: 0;
  }
  h4 {
    display: inline-block;
    position: relative;
    top: -.25rem;
    margin-left: 1.25rem;
    margin-bottom: .75rem;
    padding: .25rem .375rem;
    border-radius: 3px;
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    text-transform: uppercase;
    i {
      display: inline-block;
      position: relative;
      top: 2px;
      left: 4px;
      width: 14px;
      height: 14px;
      margin-top: -4px;
      background-image: url(../images/pricing/arrow_down.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  ul {
    list-style: circle;
    text-align: center;
    margin-left: 1.25em;
    font-size: 1rem;
    line-height: 1.4rem;
    &.white {
      color: white !important;
    }
    &.table {
      padding: 11px 11px 0;
      border: 1px solid #e0dddd;
      margin-right: -11px;
      margin-left: -11px;
      li {
        margin-bottom: -1px;
        border-bottom: 1px solid #e0dddd;
        padding: 1.125rem 0;
      }
    }
    &.coming_soon_list {
      font-style: italic;
    }
  }
  li {
    margin-bottom: 1.125rem;
    span {
      color: #69696f;
      &.light {
        color: #cccccc;
      }
    }
  }
}

.plan_card {
  min-height: 21.5rem;
  height: 23rem;
  position: relative;
  padding: 1.375rem 0 1.25rem;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  h3 {
    margin-bottom: .625rem;
    font-weight: 800;
    color: #fff;
  }
  .brick_icon {
    display: inline-block;
    width: 28px;
    height: 36px;
    margin-right: 7px;
    vertical-align: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &.plan_card_coming_soon:after {
    display: block;
    content: '$26.67!!! Coming Late 2016';
    position: absolute;
    top: 4.125rem;
    right: 0;
    width: 100%;
    padding: .25rem 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 5.25rem;
    opacity: .8;
  }
}

.no_buttons .plan_card {
  min-height: 17.5rem;
}

.plan_price {
  position: relative;
  display: block;
  height: 6rem;
  font-size: 5.5rem;
  line-height: 6.5rem;
  font-weight: 800;
  margin-bottom: .5rem;
  letter-spacing: -2px;
  margin-left: -2.5rem;
  .cents {
    position: absolute;
    top: -.25rem;
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 700;
  }
  .currency {
    position: relative;
    top: -1.75rem;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0;
  }
}

.plan_price_sale {
  display: block;
  height: 4rem;
  background: darken($plan4-color, 10%);
  padding-top: 0.5rem;
}

.plan_price_cross {
  text-decoration: line-through;
  font-weight: 800;
  font-size: 1.375rem;
  //plan3:
  //color: #d4edff;
  //plan4:
  color: #ffecda;
}

.plan_sale_section {
  top: -10px;
  right: 0;
  position: absolute;
}

.plan_sale_title {
  z-index: 1;
  font-weight: 600;
  color: #6f6f6f;
  position: absolute;
  width: 70px;
  left: -68px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.plan_sale_badge {
  background: gold;
  width: 80px;
  height: 80px;
  text-align: center;
  position: absolute;
  right: -6px;
  top: -4px;
}
.plan_sale_badge:before, .plan_sale_badge:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background: gold;
}
.plan_sale_badge:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.plan_sale_badge:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

.plan_price_details {
  display: block;
  margin-bottom: 1.25rem;
  font-size: .875rem;
  line-height: 1rem;
  opacity: .8;
  -moz-opacity: .8;
  -khtml-opacity: .8;
  text-shadow: none;

  .cross {
    text-decoration: line-through;
  }
}

a.plan_price_details {
  color: #fff;
  text-decoration: underline;
}

.detail_button {
  min-width: 7rem;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 14px;
  font-size: 1.5rem;
}

.detail_action {
  margin-bottom: 1.5rem;
  .detail_subtitle {
    color: #69696f;
    font-size: 0.875rem;
    text-align: center;
    display: block;
  }
}

.current_plan {
  display: inline-block;
  padding: 8px 14px 7px;
  font-size: 15px;
  line-height: 1.2rem;
  font-weight: 800;
  text-shadow: none;
}

.plan_subhead {
  margin: 1.375em 0;
  padding: 0 0 1.25em;
  border-bottom: 1px solid transparent;
  text-align: center;
  h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 800;
  }
  p {
    margin-bottom: 0;
    opacity: .8;
    -moz-opacity: .8;
    -khtml-opacity: .8;
    font-size: 1.125rem;
  }
}

.plan_list {
  text-align: center;
  cursor: default;
}

.plan1 {
  h3 {
    margin-bottom: 4.625rem;
  }
  ul {
    color: $plan1-color;
  }
  .plan_card, h4 {
    background-color: $plan1-color;
  }
  .plan_price {
    margin-left: -1rem;
  }
  .brick_icon {
    background-image: url(../images/pricing/brick_lite.png);
    background-position: -2px -2px;
  }
  .detail_button {
    background-color: #6e54a6;
  }
  .plan_subhead {
    border-color: $plan1-color;
    h3, p {
      color: $plan1-color;
      margin-bottom: 0;
    }
  }
  .plan_list {
    p {
      color: $plan1-color;
    }
  }
  a.plan_price_details {
    margin-top: 3.5rem;
  }
}

.plan2 {
  h3 {
    margin-bottom: 4.625rem;
  }
  ul {
    color: $plan2-color;
  }
  .plan_card, h4 {
    background-color: $plan2-color;
  }
  .brick_icon {
    background-image: url(../images/pricing/brick_standard.png);
    margin-right: 11px;
  }
  .detail_button {
    background-color: #3b9776;
  }
  .plan_subhead {
    border-color: $plan2-color;
    h3, p {
      color: $plan2-color;
      margin-bottom: 0;
    }
  }
  .plan_list {
    p {
      color: $plan2-color;
    }
  }
}

.plan3 {
  h3 {
    margin-bottom: 4.625rem;
  }
  ul {
    color: $plan3-color;
  }
  .plan_card, h4 {
    background-color: $plan3-color;
  }
  .brick_icon {
    background-image: url(../images/pricing/brick_plus.png);
    background-size: contain;
  }
  .detail_button {
    background-color: #1e7fc3;
  }
  .plan_subhead {
    border-color: $plan3-color;
    h3, p {
      color: $plan3-color;
      margin-bottom: 0;
    }
  }
  .plan_list {
    p {
      color: $plan3-color;
    }
  }
}

.plan4 {
  ul {
    color: $plan4-color;
  }
  .plan_card, h4 {
    background-color: $plan4-color;
  }
  .plan_card.plan_card_coming_soon:after, h4.plan_card_coming_soon:after {
    background-color: #e99b4f;
  }
  .plan_price {
    margin-left: -1rem;
  }
  .brick_icon {
    background-image: url(../images/pricing/brick_enterprise.png);
    background-size: contain;
  }
  .detail_button {
    background-color: #e99b4f;
    /*margin-top: 4.5rem;*/
  }
  .plan_subhead {
    border-color: $plan4-color;
    h3, p {
      color: $plan4-color;
    }
  }
}

#plan_modal {
  width: 940px;
  margin-left: -470px;
  &.modal.fade.in {
    top: 20%;
  }
  .modal-body {
    padding: .5rem;
    height: 500px;
    max-height: none;
    overflow-y: hidden;
  }
  .close {
    position: absolute;
    top: .5rem;
    right: 1rem;
  }
  #plan_calculator {
    float: left;
    padding: 4.75rem 0 3rem 4rem;
    width: 700px;
  }
  .plan_sentence {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  .plan_description {
    display: none;
    float: left;
    padding: 1.5rem 3rem 3rem 4rem;
    width: 700px;
    .ready_to_try_otonomic {
      padding: 1rem 0 0;
      form input {
        &[type=email], &[type=text] {
          width: 14.25rem;
        }
      }
    }
  }
  .plan_preview {
    display: none;
    float: left;
    width: 200px;
    height: 398px;
    .plan {
      width: auto;
      height: auto;
      padding: 1rem;
      margin: 0 0 1rem;
      float: none;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      text-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
      h3 {
        margin-bottom: .75rem;
        color: #fff;
        font-weight: 800;
        .brick_icon {
          display: inline-block;
          width: 28px;
          height: 36px;
          margin-right: 7px;
          vertical-align: bottom;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
      .plan_price {
        margin-bottom: .5rem;
        margin-left: -1.25rem;
      }
    }
    &.plan1_preview .plan {
      background-color: $plan1-color;
      h3 .brick_icon {
        background-image: url(../images/pricing/brick_lite.png);
        background-position: -2px -2px;
      }
      .plan_lite_price_details {
        display: inline-block;
        width: 6.5rem;
        font-size: .875rem;
        line-height: 1rem;
        opacity: .8;
        text-shadow: none;
      }
    }
    &#plan_standard_preview .plan {
      background-color: $plan2-color;
      h3 .brick_icon {
        background-image: url(../images/pricing/brick_standard.png);
        margin-right: 11px;
      }
      .plan_price {
        margin-left: -2.25rem;
      }
    }
    .preview_details {
      padding-left: .5rem;
      font-size: 1rem;
      font-weight: 500;
      color: #69696f;
    }
  }
  &.lite {
    .plan1_description, .plan1_preview {
      display: block;
    }
  }
  &.standard {
    #plan_standard_description, #plan_standard_preview {
      display: block;
    }
  }
}

.ready_to_try_otonomic {
  padding: 4.625rem 0;
  text-align: center;
  .section_content {
    width: 60rem;
    margin: 0 auto;
  }
  h3 {
    font-size: 2.25rem;
    font-weight: 800;
  }
  form {
    input {
      &[type=email], &[type=text] {
        padding: .75rem 1rem;
        border-radius: .25rem;
        margin: .25rem .4375rem 0 0;
        font-size: 1.1rem;
        font-family: 'Open Sans', sans-serif,sans-serif;
        -webkit-appearance: none;
        vertical-align: bottom;
        height: 3pc;
        width: 17.25rem;
        transition: border-color .1s;
      }
      &[type=submit] {
        padding: .8125rem 1.375rem .975rem;
        font-size: 1.25rem;
        &:hover {
          padding: .8125rem 1.375rem .975rem;
          font-size: 1.25rem;
        }
      }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
      color: #aaa;
      font-weight: 700;
    }
  }
  &.top {
    background-color: #46b1f9;
    color: #fff;
    h3 {
      color: inherit;
    }
    form input {
      &[type=email], &[type=text] {
        background: #fff;
        border-color: #fff;
        color: #555459;
      }
      &[type=email] {
        &:focus, &:hover {
          border-color: #439fe0;
        }
      }
      &[type=text] {
        &:focus, &:hover {
          border-color: #439fe0;
        }
      }
      &[type=submit] {
        color: #fff !important;
        background-color: transparent;
        border: 2px solid #fff;
        padding: .71rem 1.375rem .875rem;
        &:hover {
          color: #fff !important;
          background-color: transparent;
          border: 2px solid #fff;
          padding: .71rem 1.375rem .875rem;
        }
      }
    }
  }
  &.bottom {
    background-color: #fff;
    form {
      margin-bottom: 5rem;
    }
    .ts_icon_arrow_large_right {
      vertical-align: sub;
    }
  }
}

.from_the_wall_of_love {
  position: relative;
  padding: 4rem 0 3rem;
  background-color: #fff;
  border-bottom: 2px solid #e9edf5;
  font-size: 1.25rem;
  text-align: center;
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    .ts_icon_heart_o:before {
      color: #ec2a70;
      font-size: 40px;
      font-weight: 500;
      margin-right: .5rem;
    }
  }
  a .ts_icon_arrow_large_right {
    vertical-align: middle;
  }
  &:after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  &:before {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: " ";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: -250px;
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), #fff), -webkit-linear-gradient(right, rgba(255, 255, 255, 0), #fff);
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), #fff), -moz-linear-gradient(right, rgba(255, 255, 255, 0), #fff);
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0), #fff), -ms-linear-gradient(right, rgba(255, 255, 255, 0), #fff);
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), #fff), -o-linear-gradient(right, rgba(255, 255, 255, 0), #fff);
    background-size: 100%;
    z-index: 10;
  }
  &:after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: -300px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff), -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #fff), -moz-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #fff), -ms-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff), -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
    z-index: 10;
  }
  .tweet_carousel_container {
    position: relative;
    left: 50%;
    overflow: hidden;
    width: 5580px;
    height: 280px;
    padding: .5rem 0;
    margin: 0 0 0 -2456px;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    .tweet_carousel {
      position: relative;
      list-style: none;
      margin: 2px 0;
      padding: 0;
      li {
        position: absolute;
        top: 90pt;
        margin-left: 40px;
        width: 493px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        blockquote {
          //visibility: hidden;
          margin: 0;
          font-weight: lighter;
        }
        &[data-position='0'] {
          left: 0;
        }
        &[data-position='1'] {
          left: 543px;
        }
        &[data-position='2'] {
          left: 1086px;
        }
        &[data-position='3'] {
          left: 1629px;
        }
        &[data-position='4'] {
          left: 2172px;
        }
        &[data-position='5'] {
          left: 2715px;
        }
        &[data-position='6'] {
          left: 3258px;
        }
        &[data-position='7'] {
          left: 3801px;
        }
        &[data-position='8'] {
          left: 4344px;
        }
        &[data-position='9'] {
          left: 4887px;
        }
      }
    }
    &.animate {
      -webkit-transition: -webkit-transform .5s ease;
      -moz-transition: -moz-transform .5s ease;
      transition: transform .5s ease;
      &.left {
        -webkit-transform: translate3d(543px, 0, 0);
        -moz-transform: translate3d(543px, 0, 0);
        -ms-transform: translate3d(543px, 0, 0);
        transform: translate3d(543px, 0, 0);
      }
      &.right {
        -webkit-transform: translate3d(-543px, 0, 0);
        -moz-transform: translate3d(-543px, 0, 0);
        -ms-transform: translate3d(-543px, 0, 0);
        transform: translate3d(-543px, 0, 0);
      }
    }
  }
}


.plan_container .plan__image {
  display: block;
}




@media only screen and (max-width: 640px) {
  .from_the_wall_of_love .tweet_carousel_container {
    margin: 0 0 0 -1812.5px;
  }
}

@media only screen and (max-width: 320px) {
  .from_the_wall_of_love .tweet_carousel_container {
    margin: 0 0 0 -1362.5px;
  }
}

@media only screen and (max-width: 640px) {
  .from_the_wall_of_love .tweet_carousel_container .tweet_carousel li {
    width: 350px;
  }
}

@media only screen and (max-width: 640px) {
  .from_the_wall_of_love .tweet_carousel_container .tweet_carousel li {
    &[data-position='0'] {
      left: 0;
    }
    &[data-position='1'] {
      left: 25pc;
    }
    &[data-position='2'] {
      left: 50pc;
    }
    &[data-position='3'] {
      left: 75pc;
    }
    &[data-position='4'] {
      left: 100pc;
    }
    &[data-position='5'] {
      left: 125pc;
    }
    &[data-position='6'] {
      left: 25in;
    }
    &[data-position='7'] {
      left: 175pc;
    }
    &[data-position='8'] {
      left: 200pc;
    }
    &[data-position='9'] {
      left: 225pc;
    }
  }
}

@media only screen and (max-width: 640px) {
  .from_the_wall_of_love .tweet_carousel_container.animate {
    &.left {
      -webkit-transform: translate3d(25pc, 0, 0);
      -moz-transform: translate3d(25pc, 0, 0);
      -ms-transform: translate3d(25pc, 0, 0);
      transform: translate3d(25pc, 0, 0);
    }
    &.right {
      -webkit-transform: translate3d(-25pc, 0, 0);
      -moz-transform: translate3d(-25pc, 0, 0);
      -ms-transform: translate3d(-25pc, 0, 0);
      transform: translate3d(-25pc, 0, 0);
    }
  }
}

@media only screen and (max-width: 320px) {
  .from_the_wall_of_love .tweet_carousel_container {
    .tweet_carousel li {
      width: 250px;
      &[data-position='0'] {
        left: 0;
      }
      &[data-position='1'] {
        left: 300px;
      }
      &[data-position='2'] {
        left: 600px;
      }
      &[data-position='3'] {
        left: 900px;
      }
      &[data-position='4'] {
        left: 75pc;
      }
      &[data-position='5'] {
        left: 1500px;
      }
      &[data-position='6'] {
        left: 1800px;
      }
      &[data-position='7'] {
        left: 2100px;
      }
      &[data-position='8'] {
        left: 25in;
      }
      &[data-position='9'] {
        left: 2700px;
      }
    }
    &.animate {
      &.left {
        -webkit-transform: translate3d(300px, 0, 0);
        -moz-transform: translate3d(300px, 0, 0);
        -ms-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
      }
      &.right {
        -webkit-transform: translate3d(-300px, 0, 0);
        -moz-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
      }
    }
  }
}

.tweet_carousel_controls a {
  display: block;
  position: absolute;
  top: 15rem;
  left: 50%;
  width: 2rem;
  height: 3rem;
  line-height: 3rem;
  color: #babbbf;
  text-decoration: none;
  z-index: 10;
  i.ts_icon:before {
    font-size: 30px;
  }
  &.left_arrow {
    margin-left: -286px;
  }
  &.right_arrow {
    margin-left: 259px;
  }
}

.animate .tweet_carousel_controls a {
  z-index: 0;
}

.tweet_carousel_controls a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .tweet_carousel_controls {
    display: none;
  }
}

.happy_customers {
  padding: 6rem 0 5rem;
  background-color: #fff;
  font-size: 1.25rem;
  text-align: center;
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
  }
  .customer_logos {
    width: 984px;
    height: 215px;
    margin: 3rem auto 0;
    background-image: url(../images/pricing/customers.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.new_signup {
  padding: 3rem;
  &.top {
    color: #fff;
  }
  .section_content {
    width: 60rem;
    margin: 0 auto;
  }
  &.bottom .section_content {
    margin: 2rem auto;
    border: 1px solid #DDD;
    border-radius: .5rem;
    padding: 2.5rem 2rem 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 600px;
    margin-right: 3rem;
    padding-left: 8rem;
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  .new_signup {
    text-align: center;
    .section_content {
      width: 100%;
    }
    p {
      max-width: 460px;
      margin: 0 auto 1rem;
      padding-left: 0;
      float: none;
    }
  }
}

.our_pricing_perspective {
  padding: 8rem 0 7rem;
  background-color: #6a4ca6;
  font-size: 1.25rem;
  color: #fff;
  .section_content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 24rem 0 0;
    background: url(../images/pricing/rocket-ship.png) no-repeat;
    background-size: 256px 256px;
    background-position: 40rem 0;
  }
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    color: #fff;
  }
  p {
    margin-bottom: .75rem;
    line-height: 1.75rem;
  }
}

.fair_billing_policy {
  padding: 8.75rem 0;
  border-top: 10px solid #e9edf5;
  background-color: #fff;
  font-size: 1.25rem;
  .section_content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 24rem 0 0;
    background-image: url(../images/pricing/invoice.png);
    background-size: 307px 341px;
    background-repeat: no-repeat;
    background-position: 40rem 0;
  }
  h3 {
    font-size: 2.25rem;
    font-weight: 800;
  }
  p {
    margin-bottom: 1.125rem;
    line-height: 1.75rem;
  }
}

.nonprofit_pricing {
  padding: 9rem 0;
  background-color: #f9b644;
  font-size: 1.25rem;
  color: #2d2c30;
  .section_content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 0 0 20.5rem;
    background-image: url(../images/pricing/solar-system.png);
    background-size: 332px 332px;
    background-repeat: no-repeat;
  }
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    color: #fff;
  }
  p {
    margin-bottom: .75rem;
    line-height: 1.75rem;
    a {
      font-weight: 700;
      color: #2d2c30;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .otonomic_for_good_logos {
    background-image: url(../images/pricing/otonomic_for_good_logos.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1.5rem;
    height: 8.1rem;
    width: 100%;
  }
  .btn_outline {
    padding: .8125rem 1.375rem .875rem;
    font-size: 1.25rem;
    color: #2d2c30 !important;
    border-color: #555459;
    background-color: transparent;
    &:hover {
      padding: .8125rem 1.375rem .875rem;
      font-size: 1.25rem;
      color: #2d2c30 !important;
      border-color: #555459;
      background-color: transparent;
    }
  }
}

.need_a_hand {
  padding: 5.625rem 0 6rem;
  border-top: 10px solid #e8e8e8;
  background-color: #f9f9f9;
  font-size: 1.25rem;
  .section_content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 20rem 0 0;
    background-image: url(../images/pricing/support-chat.png);
    background-size: 314px 202px;
    background-repeat: no-repeat;
    background-position: 39rem 4rem;
  }
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
  }
  p {
    margin-bottom: .75rem;
    line-height: 1.75rem;
    &:last-of-type {
      margin-bottom: 1.9rem;
    }
  }
  .btn_info {
    padding: .8125rem 1.375rem .875rem;
    font-size: 1.25rem;
    color: #fff !important;
    background-color: #3aa3e3 !important;
  }
  li {
    margin-bottom: 1.55rem;
  }
}

.common_questions_and_resources {
  padding: 5rem 0 6.25rem;
  background-color: #fff;
  font-size: 1.25rem;
  .section_content {
    width: 60rem;
    margin: 0 auto;
    padding: 0 0 0 15.625rem;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-left: -10.75rem;
    margin-bottom: 0;
    .common_questions {
      width: 50px;
      height: 50px;
      top: -9pt;
    }
  }
  h3 {
    margin-bottom: .875rem;
    font-size: 2.25rem;
    font-weight: 800;
  }
  p {
    margin-bottom: .75rem;
    line-height: 1.75rem;
  }
  .question_category {
    padding-top: 6.25rem;
  }
  ul {
    &.question_list {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      li {
        padding: 1.375rem 0 .875rem;
        border-bottom: 2px solid #e9edf5;
        h4 {
          margin-bottom: 1rem;
          a {
            display: block;
            position: relative;
            padding-right: 5rem;
            color: #2b3645;
            font-weight: 500;
            &:hover {
              color: #2b3645;
              text-decoration: none;
            }
            i.ts_icon:before {
              display: block;
              position: absolute;
              top: 0;
              right: 1rem;
              font-size: 1.875rem;
              color: #3aa3e3;
            }
          }
        }
        p, ul {
          display: none;
          padding-right: 5rem;
          font-size: 1.125rem;
          line-height: 1.5rem;
          color: #68686f;
        }
        li {
          border-bottom: none;
          margin-bottom: .75rem;
          padding-top: 0;
          padding-bottom: 0;
          list-style-type: disc;
        }
        &.expanded {
          h4 a i.ts_icon:before {
            color: #9e9ea6;
          }
          p, ul {
            display: block;
          }
        }
        &:hover {
          background: #fbfcfd;
        }
        &.expanded:hover h4 a i.ts_icon:before {
          color: #3aa3e3;
        }
      }
    }
    &.getting_started_list {
      list-style: none;
      margin-left: 0;
      li {
        box-sizing: content-box;
        min-height: 4pc;
        padding: 1.5rem 0 2rem 5.125rem;
        border-bottom: 2px solid #e9edf5;
        font-size: 1.125rem;
        background-size: 4pc 4pc;
        background-repeat: no-repeat;
        background-position: 0 1.75rem;
        line-height: 4pc;
        &.overview {
          background-image: url(../images/pricing/getting_started_overview.png);
        }
        &.tips {
          background-image: url(../images/pricing/getting_started_blog.png);
        }
        &.other_teams {
          background-image: url(../images/pricing/getting_started_other_teams.png);
        }
        &.help_center {
          background-image: url(../images/pricing/getting_started_help_center.png);
        }
        &.follow_us {
          background-image: url(../images/pricing/getting_started_twitter.png);
        }
        &.contact_us {
          background-image: url(../images/pricing/getting_started_contact_us.png);
        }
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.5rem;
        }
      }
    }
  }
}

.common_questions_nav {
  position: relative;
  float: left;
  margin-left: -15.625rem;
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  h3 {
    display: block;
    position: absolute;
    bottom: 16.5rem;
    opacity: 0;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 800;
  }
  ul {
    list-style: none;
    margin-left: 0;
    li a {
      display: block;
      width: 12.75rem;
      height: 2.75rem;
      margin-bottom: .375rem;
      padding-top: .5625rem;
      padding-left: 0;
      border-radius: .25rem;
      font-size: 1.125rem;
      color: #555459;
      transition: padding-left .2s ease-out;
      &:hover {
        padding-left: .875rem;
        background-color: #e4f2fb;
        color: #3aa3e3;
        text-decoration: none;
      }
      &.active {
        padding-left: .875rem;
        background-color: #3aa3e3;
        color: #fff;
        text-decoration: none;
        cursor: default;
      }
    }
  }
  &.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    float: none;
    margin-top: -8rem;
    margin-left: -30rem;
    h3 {
      opacity: 1;
    }
  }
  &.stuck_to_bottom {
    position: absolute;
    margin-top: 0;
  }
}

body.nav_open .common_questions_nav.fixed {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.back_to_the_top {
  padding: 0 0 1rem;
  padding-top: 2.5rem;
  background-color: #fff;
  text-align: center;
  .section_content {
    width: 60rem;
    margin: 0 auto;
  }
  .btn {
    color: #3aa3e3 !important;
    background-color: #e8e8e8;
    font-weight: 700;
    text-shadow: none;
    &:focus, &:hover {
      background-color: #e8e8e8;
    }
    .ts-icon {
      vertical-align: bottom;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .plan h4 i {
    background-image: url(../images/pricing/arrow_down%402x.png);
  }
  .plan1 .brick_icon {
    background-image: url(../images/pricing/brick_lite%402x.png);
  }
  #plan_preview {
    &.lite .plan h3 .brick_icon {
      background-image: url(../images/pricing/brick_lite%402x.png);
    }
    &.standard .plan h3 .brick_icon {
      background-image: url(../images/pricing/brick_standard%402x.png);
    }
  }
  #plan_standard .brick_icon {
    background-image: url(../images/pricing/brick_standard%402x.png);
  }
  #plan_plus .brick_icon {
    background-image: url(../images/pricing/brick_plus%402x.png);
  }
  #plan_enterprise .brick_icon {
    background-image: url(../images/pricing/brick_enterprise%402x.png);
  }
  .happy_customers .customer_logos {
    background-image: url(../images/pricing/customers%402x.png);
  }
  .our_pricing_perspective .section_content {
    background-image: url(../images/pricing/purple_rocket%402x.png);
  }
  .fair_billing_policy .section_content {
    background-image: url(../images/pricing/invoice%402x.png);
  }
  .nonprofit_pricing .section_content {
    background-image: url(../images/pricing/nonprofit_ribbon%402x.png);
    .otonomic_for_good_logos {
      background-image: url(../images/pricing/otonomic_for_good_logos%402x.png);
    }
  }
  .need_a_hand .section_content {
    background-image: url(../images/pricing/life_preserver%402x.png);
  }
  .common_questions_and_resources ul.getting_started_list li {
    &.overview {
      background-image: url(../images/pricing/getting_started_overview%402x.png);
    }
    &.tips {
      background-image: url(../images/pricing/getting_started_blog%402x.png);
    }
    &.other_teams {
      background-image: url(../images/pricing/getting_started_other_teams%402x.png);
    }
    &.help_center {
      background-image: url(../images/pricing/getting_started_help_center%402x.png);
    }
    &.follow_us {
      background-image: url(../images/pricing/getting_started_twitter%402x.png);
    }
    &.contact_us {
      background-image: url(../images/pricing/getting_started_contact_us%402x.png);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .intro p.alert, .plan_container {
    width: 44rem;
  }
  /*.plan {
    width: 10.4375rem;
    margin-right: .75rem;
    &:last-child {
      margin-right: 0;
    }
  }*/
  .plan_card {
    h3 {
      font-size: 1.375rem;
    }
    &.plan_card_coming_soon:after {
      top: 4rem;
      font-size: 1rem;
    }
  }
  .plan_price {
    font-size: 4.5rem;
    line-height: 6rem;
    .currency {
      font-size: 2.5rem;
    }
  }
  .plan_subhead {
    h3, p {
      font-size: 1.125rem;
    }
  }
  .fair_billing_policy, .from_the_wall_of_love, .happy_customers, .need_a_hand, .nonprofit_pricing, .our_pricing_perspective, .ready_to_try_otonomic {
    padding: 3.5rem 0;
  }
  .fair_billing_policy .section_content, .from_the_wall_of_love .section_content, .happy_customers .section_content, .need_a_hand .section_content, .nonprofit_pricing .section_content, .our_pricing_perspective .section_content, .ready_to_try_otonomic .section_content {
    width: 100%;
  }
  .happy_customers {
    padding-left: 2rem;
    padding-right: 2rem;
    .section_content .customer_logos {
      width: 100%;
      height: 12rem;
      margin: 3rem 0 0;
      background-size: 100%;
    }
  }
  .our_pricing_perspective .section_content {
    padding: 0 3rem 0 18rem;
    background-size: 260px 328px;
    background-position: 1.25rem 1.25rem;
  }
  .fair_billing_policy .section_content {
    padding: 0 19rem 0 3rem;
    background-size: 248px 275px;
    background-position: right 1.75rem top .875rem;
  }
  .nonprofit_pricing .section_content {
    padding: 0 3rem 0 17rem;
    background-size: 252px 260px;
    background-position: 1rem 0;
    .otonomic_for_good_logos {
      height: 9rem;
    }
  }
  .need_a_hand .section_content {
    padding: 0 15rem 0 3rem;
    background-position: right 0 top .875rem;
  }
  .common_questions_and_resources {
    .section_content {
      width: 100%;
      padding: 0 3rem;
    }
    h2 {
      margin-left: 0;
    }
  }
  .common_questions_nav {
    display: none;
  }
  #plan_modal {
    width: 708px;
    margin-left: -354px;
    .plan1_preview.plan_preview, #plan_standard_preview.plan_preview {
      display: none;
    }
    .plan_description {
      padding-left: 3rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    height: auto;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    p.alert {
      width: 100%;
    }
  }
  .plans {
    padding-bottom: 1rem;
  }
  .plan_container {
    width: 100%;
    padding-top: 2rem;
  }
  .plan {
    width: 100%;
    margin: 0 0 2rem;
    padding: 0 2rem 0 15rem;
    float: none;
    overflow: hidden;
  }
  .plan_card {
    width: 11rem;
    margin-left: -13rem;
    float: left;
    h3 {
      font-size: 1.5rem;
    }
  }
  .plan_subhead {
    margin-top: 0;
  }
  .fair_billing_policy, .from_the_wall_of_love, .happy_customers, .need_a_hand, .nonprofit_pricing, .our_pricing_perspective, .ready_to_try_otonomic {
    padding: 2rem 0;
  }
  .fair_billing_policy .section_content, .from_the_wall_of_love .section_content, .happy_customers .section_content, .need_a_hand .section_content, .nonprofit_pricing .section_content, .our_pricing_perspective .section_content, .ready_to_try_otonomic .section_content {
    padding: 0 3rem;
  }
  .fair_billing_policy .section_content h3, .from_the_wall_of_love .section_content h3, .happy_customers .section_content h3, .need_a_hand .section_content h3, .nonprofit_pricing .section_content h3, .our_pricing_perspective .section_content h3 {
    font-size: 1.875rem;
  }
  .ready_to_try_otonomic {
    .section_content {
      h3 {
        font-size: 1.875rem;
      }
      width: 20.5rem;
      padding: 0;
      form input {
        &[type=email], &[type=text], &[type=submit] {
          display: block;
          width: 20.5rem;
          margin-bottom: .375rem;
        }
      }
    }
    &.bottom {
      padding-top: 6rem;
    }
  }
  .from_the_wall_of_love h3 .ts_icon_heart_o {
    display: none;
  }
  .happy_customers .section_content .customer_logos {
    width: 100%;
    max-width: 500px;
    height: 9.35rem;
    margin: 0 auto 2rem;
    background-size: 100%;
    background-image: url(../images/pricing/customers_small.png);
  }
  .fair_billing_policy, .need_a_hand, .nonprofit_pricing, .our_pricing_perspective {
    padding-top: 0;
  }
  .fair_billing_policy .section_content, .need_a_hand .section_content, .nonprofit_pricing .section_content, .our_pricing_perspective .section_content {
    padding-top: 21rem;
    background-position: center top 0;
  }
  .fair_billing_policy .section_content {
    padding-top: 19rem;
    background-position: center top 1rem;
  }
  .nonprofit_pricing .section_content {
    padding-top: 16.5rem;
  }
  .need_a_hand .section_content {
    padding-top: 12.5rem;
    background-position: center top 1.5rem;
  }
  .common_questions_and_resources {
    padding-top: 4rem;
    h2 {
      margin-bottom: 5rem;
      font-size: 3rem;
    }
    h3 {
      font-size: 1.875rem;
    }
    .question_category {
      margin-bottom: 5rem;
    }
  }
  #plan_modal {
    width: 96%;
    margin-left: -48%;
    &.modal.fade.in {
      top: 0;
    }
    .modal-body {
      height: auto;
    }
    .plan_sentence {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
    .plan_description {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      .ready_to_try_otonomic {
        width: 20.5rem;
        margin: 0 auto;
        form input {
          &[type=email], &[type=text], &[type=submit] {
            display: block;
            width: 100%;
            margin-bottom: .375rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 512px) {
  .plan {
    padding: 0 2rem;
  }
  .plan_card {
    width: 100%;
    margin-left: 0;
    float: none;
    &.plan_card_coming_soon:after {
      top: 3.75rem;
      font-size: 1.25rem;
    }
  }
  .plan_price {
    font-size: 6.5rem;
    line-height: 6rem;
    .currency {
      font-size: 3rem;
    }
  }
  .plan_subhead {
    margin-top: 1.375rem;
  }
  .nonprofit_pricing .section_content .customer_logos {
    height: 5.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #plan_modal {
    margin-left: 2%;
    .modal-body {
      height: 100%;
      overflow: scroll;
    }
    .plan_description {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      .ready_to_try_otonomic {
        width: 19.5rem;
      }
    }
  }
  .nonprofit_pricing .section_content .customer_logos {
    height: 5rem;
  }
}

@media only screen and (max-width: 414px) {
  .intro {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }
  .fair_billing_policy .section_content, .from_the_wall_of_love .section_content, .happy_customers .section_content, .need_a_hand .section_content, .nonprofit_pricing .section_content, .our_pricing_perspective .section_content, .ready_to_try_otonomic .section_content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .fair_billing_policy .section_content p, .from_the_wall_of_love .section_content p, .happy_customers .section_content p, .need_a_hand .section_content p, .nonprofit_pricing .section_content p, .our_pricing_perspective .section_content p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  .ready_to_try_otonomic .section_content {
    p {
      font-size: 1.125rem;
      line-height: 1.625rem;
    }
    padding: 0;
  }
  .happy_customers .section_content .customer_logos {
    height: 6.5rem;
  }
  .nonprofit_pricing .section_content .otonomic_for_good_logos {
    height: 4.5rem;
  }
  .common_questions_and_resources {
    padding-top: 2rem;
    .section_content {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    h2 {
      margin-bottom: 4rem;
      font-size: 2.5rem;
      line-height: 3rem;
    }
    h3 {
      font-size: 1.875rem;
    }
    .question_category {
      margin-bottom: 4rem;
      h3 {
        margin-bottom: 1.75rem;
      }
      ul.question_list li {
        margin-top: 1.25rem;
        padding-bottom: 0;
        p {
          padding-right: 0;
        }
      }
    }
  }
}

@import "mobile";