@import "slack/_rollup-landing";
@import "footer";

nav.mobile_menu {
  #nav-create {
    color: #FFF;
    background: #48BA87;
    box-shadow: none;
    vertical-align: middle;
    text-shadow: none;

    padding: 10px 14px 9pt;
    line-height: 1em;
    text-decoration: none;
    border-radius: 4px;
    //font-size: 24px;
    //margin: 0 17px;
    display: block;

    margin: 0.25em 1.25em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }
}

.signup_c.top_story_header.marsandbeyond .cta_ad,.signup_c.top_story_header.neutrinoinahaystack .cta_ad,.signup_c.top_story_header.waterislife .cta_ad{
  /*top:8.337rem;*/
}

.marsandbeyond {
  background-color: black;
}

@import "luckyorange";


.signup_c.marsandbeyond.cover {
  background-image: url(../images/painter-small.jpg);
}

@import "mobile";