//colors
$color_french_gray_approx: #babbbf;
$color_scarpa_flow_approx: #555459;
$white: #fff;
$black_10: rgba(0,0,0,.1);
$black_5: rgba(0,0,0,.05);
$white_75: rgba(255,255,255,.75);
$black_20: rgba(0,0,0,.2);
$color_mako_approx: #404b55;
$color_emerald_approx: #48ba87;
$white_40: rgba(255,255,255,.4);
$white_25: rgba(255,255,255,.25);
$color_indigo_approx: #4d6dc3;
$color_indigo_80_approx: rgba(77,109,195,.8);
$color_baltic_sea_approx: #2c2d30;
$color_minsk_approx: #492d78;
$color_grape_approx: #3e1d56;

//fonts
$font_0: appleLogo;

//urls
$url_0: url(../images/header_logo_sprite.png);
$url_1: url(../../66f9/img/landing/header_logo_sprite%402x.png);
$url_2: url(../../d24e/img/apps/home_background%402x.png);

@font-face {
	font-family: $font_0;
	src: local("Lucida Grande");
	unicode-range: U +F8FF;
}
.small {
	font-size: .9rem;
}
body {
	font-size: 1pc;
	&.show_mobile_nav {
		overflow: hidden;
		nav.mobile_menu {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: opacity 250ms cubic-bezier(.165,.84,.44,1);
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,0,0);
			opacity: .99;
			ul {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translate(0,0);
				opacity: 1;
			}
			.close {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(0);
			}
			#nav-create {
				color: #FFF;
				background: #48BA87;
				box-shadow: none;
				vertical-align: middle;
				text-shadow: none;

				padding: 10px 14px 9pt;
				line-height: 1em;
				text-decoration: none;
				border-radius: 4px;
				font-size: 24px;
				margin: 0 17px;
				display: block;
			}
		}
	}
}
nav {
	.logo {
		background: $url_0 left top no-repeat;
		background-size: 106px 60px;
		height: 30px;
		width: 106px;
		float: left;
		margin: 20px 0 0 20px;
	}
	h1 {
		float: left;
		margin: 20px 0 0 20px;
		padding: 0 20px;
		border-left: 1px solid $color_french_gray_approx;
		font-size: .96rem;
		line-height: 1.86rem;
		color: $color_scarpa_flow_approx;
	}
	&.top {
		position: fixed;
		top: 0;
		width: 100%;
		height: 70px;
		z-index: 99;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,0,0);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 420ms cubic-bezier(.165,.84,.44,1);
		h1 {
			border-color: $white;
		}
		ul {
			list-style-type: none;
			margin: 0 20px 0 0;
			padding: 0;
			float: right;
			line-height: 70px;
			li {
				display: inline-block;
			}
			.mobile_menu_btn {
				display: none;
			}
			a {
				color: $white;
				text-decoration: none;
				display: inline-block;
				font-size: 15px;
				font-weight: 700;
				margin-left: 9px;
				position: relative;
				cursor: pointer;
				line-height: 1em;
				padding: 8px 7px 9px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 5px;
				opacity: .8;
				&.has_icon {
					padding: 1rem 7px .375rem!important;
					i {
						margin-top: -.625rem;
					}
				}
				&:hover {
					opacity: 1;
					background: $black_10;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: inset 0 1px 2px $black_5;
				}
			}
			.btn_sticky {
				display: inline-block;
				padding: 10px 14px 9pt;
				line-height: 1em;
				text-decoration: none;
				color: $white;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 4px;
				font-size: 12pt;
				margin-left: 17px;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: inset 0 0 0 2px $white_75;
				&:hover {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: inset 0 0 0 2px $white,0 1px 1px $black_10;
					background: 0 0;
				}
			}
		}
		&.fixed {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0,-80px,0);
			background: $white;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 1px 1px $black_10;
			.logo {
				background-position: left bottom;
			}
			h1 {
				border-color: $black_20;
				color: $color_mako_approx;
			}
			.btn_sticky {
				color: $white;
				background: $color_emerald_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				&:hover {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					background: $color_emerald_approx;
				}
			}
			ul a {
				color: $color_mako_approx;
			}
		}
		&.persistent {
			background: $white;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 1px 1px $black_10;
			.logo {
				background-position: left bottom;
			}
			.btn_sticky {
				color: $white;
				background: $color_emerald_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none;
				vertical-align: middle;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: none;
				&:hover {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					background: $color_emerald_approx;
				}
				&:after {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
				}
			}
			ul a {
				color: $color_mako_approx;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&.subdued {
			h1 {
				border-left: 1px solid $white_40;
				color: $white;
			}
			ul {
				a {
					opacity: .5;
					&:hover {
						opacity: 1;
					}
				}
				.btn_sticky {
					opacity: 1;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: inset 0 0 0 2px $white_25;
					&:hover {
						//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
						box-shadow: inset 0 0 0 2px $white_75;
					}
				}
			}
		}
		&.apps_nav {
			position: relative;
			.logo {
				margin-left: 0;
			}
			&.clear_nav {
				.logo {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: 0 0 20px 10px $color_indigo_approx;
					background-color: $color_indigo_80_approx;
				}
				.nav_title {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: 0 0 20px 10px $color_indigo_approx;
					background-color: $color_indigo_80_approx;
					a {
						color: $white;
					}
				}
				ul li {
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: 0 0 20px 10px $color_indigo_approx;
					background-color: $color_indigo_80_approx;
				}
			}
			ul {
				margin-right: 0;
				a {
					&.active {
						color: $color_baltic_sea_approx;
						opacity: 1;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			.search_input_container {
				width: 100%;
				min-width: 210px;
				max-width: 300px;
			}
			.mobile_menu_actions {
				display: none;
				ts-icon {
					opacity: .6;
					&:hover {
						opacity: .8;
						cursor: pointer;
					}
				}
				ul {
					margin-right: 0;
					li {
						display: inline-block;
					}
				}
			}
			#mobile_search {
				display: none;
				visibility: hidden;
				opacity: 0;
				left: 0;
				top: 0;
				.mobile_search_input {
					outline: 0;
					border: none;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
				}
				#mobile_search_close {
					opacity: .8;
					&:hover {
						opacity: 1;
						cursor: pointer;
					}
				}
			}
			&.persistent .nav_title {
				border-color: $black_20;
			}
			.nav_title a {
				color: $color_baltic_sea_approx;
			}
		}
	}
	&.mobile_menu {
		display: none;
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,150%,0);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 1ms ease 250ms,opacity 250ms cubic-bezier(.165,.84,.44,1);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color_minsk_approx;
		z-index: 999;
		&.apps_nav::before {
			background: $url_2 center -42px;
			background-size: 64pc 385px;
			opacity: .25;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&.apps_nav {
			.logo {
				margin-left: 0;
				opacity: 1;
			}
			.close {
				cursor: pointer;
			}
			.mobile_menu_options {
				top: 0;
				left: 0;
			}
			ul li {
				a {
					text-decoration: none;
					font-size: 3rem;
				}
				&:not(:first-of-type):not(:last-of-type) {
					padding-top: 10%;
					padding-bottom: 10%;
				}
			}
		}
		ul {
			list-style-type: none;
			margin: 125px 0 0 45px;
			padding: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate(0,20px);
			opacity: .5;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform 250ms cubic-bezier(.165,.84,.44,1),opacity 230ms cubic-bezier(.165,.84,.44,1);
			a {
				display: block;
				color: $white;
				text-decoration: none;
				font-size: 40px;
				line-height: 5pc;
			}
		}
		.sign_up {
			display: block;
			font-size: 22px;
			font-weight: 800;
			line-height: 70px;
			position: absolute;
			width: 100%;
			height: 70px;
			bottom: 0;
			left: 0;
			text-align: center;
			background: $color_grape_approx;
			color: $white;
			text-decoration: none;
		}
		.logo {
			opacity: .25;
		}
		.close {
			position: absolute;
			top: 20px;
			right: 20px;
			color: $white;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-20deg);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: center 40%;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform .2s ease-out;
			.ts_icon_times:before {
				font-size: 30px;
			}
		}
	}
}
@media only screen and(-webkit-min-device-pixel-ratio:2),only screen and(min-resolution:192dpi),only screen and(min-resolution:2dppx) {
	nav .logo {
		background-image: $url_1;
	}
}
@media only screen and(max-width:1024px) {
	nav {
		h1 {
			display: none;
		}
		&.top.apps_nav {
			position: absolute;
			.logo {
				margin-right: 1rem;
			}
		}
	}
}
@media only screen and(max-width:768px) {
	nav {
		&.top {
			ul {
				li {
					display: none;
				}
				.mobile_menu_btn {
					display: inline-block;
					a {
						margin-left: 6px;
					}
				}
				.sign_in {
					display: inline-block;
				}
			}
			&.apps_nav {
				padding-left: 1rem!important;
				padding-right: 1rem!important;
				.menu_actions {
					display: none;
					visibility: hidden;
				}
				.search_input_container {
					display: none;
					visibility: hidden;
				}
				.mobile_menu_actions {
					display: flex;
					align-items: center;
				}
				#mobile_search {
					display: inherit;
					visibility: visible;
				}
			}
		}
		&.mobile_menu {
			display: block;
		}
	}
}
#ellipsis_menu {
	height: 2.25rem;
	width: 2.25rem;
	text-align: center;
	padding: .625rem 0 0!important;
	.ts_icon {
		vertical-align: sub;
	}
}
@media only screen and(max-height:666px) {
	nav.mobile_menu ul {
		margin-top: 5pc;
		a {
			font-size: 36px;
			line-height: 70px;
		}
	}
}
@media only screen and(max-height:567px) {
	nav.mobile_menu ul {
		margin-top: 70px;
		a {
			font-size: 30px;
			line-height: 60px;
		}
	}
}
@media only screen and(max-height:435px) {
	nav.mobile_menu ul {
		margin-top: 70px;
		a {
			font-size: 24px;
			line-height: 50px;
		}
	}
}
.scrolled nav.top {
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate3d(0,-70px,0);
	&.fixed {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0,0,0);
	}
}