//colors
$white: white;
$color_ironside_gray_approx: #676767;
$color_dove_gray_approx: #68686f;
$color_tundora_approx: #434040;
$color_vermilion_approx: #f54500;
$color_tom_thumb_approx: #325942;
$black_25: rgba(0, 0, 0, 0.25);
$color_silver_tree_approx: #64b285;
$color_cerulean_approx: #009ed2;
$color_fire_approx: #a62f00;
$color_mine_shaft_approx: #333;
$color_star_dust_approx: #9e9ea6;
$color_mountain_mist_approx: #999;
$color_swiss_coffee_approx: rgba(217, 214, 215, 1);
$color_emperor_approx: #524843;
$color_beeswax_approx: #faf3c9;
$color_celeste_approx: #ccc;
$color_fantasy_approx: #faf4f1;
$color_alto_approx: #dadada;
$red: red;
$color_suva_gray_approx: #878787;
$color_jungle_green_approx: #2ab27b;
$color_gray_nurse_approx: #eaeaea;
$color_shakespeare_25_approx: rgba(104, 175, 219, 0.25);
$color_shakespeare_approx: rgba(104, 175, 219, 1);
$color_yellow_orange_approx: #ffa940;
$black_7_5: rgba(0, 0, 0, .075);
$color_golden_fizz_60_approx: rgba(255, 255, 64, .6);
$color_bombay_approx: #b4b5b9;
$color_steel_blue_approx: #337ab7;
$color_picton_blue_approx: #3aa3e3;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: arial;

//urls
$url_0: url(../images/close.png);
$url_1: url(../images/splash-shadow.png);
$url_2: url(../images/icon-tick.png);
$url_3: url(../images/icon-tick-gray.png);

//@extend-elements
//original selectors
//.btn-ttc, .btn-ttc:hover, .btn-ttc:active
%extend_1 {
  background-color: $color_silver_tree_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 2px 2px 0 $color_tom_thumb_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  line-height: 33px;
  padding: 8px 25px;
  color: $white;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 0 0 $black_25;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  border: 0;
  font-weight: 700;
}

//original selectors
//.confirm-field, .confirm-field[disabled]
%extend_2 {
  border: none;
  border-bottom: 3px solid $color_bombay_approx;
  background: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  padding: 10px 0 5px;
}

//original selectors
//.splash-text .check-gray, .splash-text .check-green
%extend_3 {
  position: absolute;
  left: -60px;
  height: 80px;
  display: inline-block;
  width: 52px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $white;
  color: $color_ironside_gray_approx;
  font-family: $font_0, $font_1;
  font-size: 16px;
}

h1 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
  font-size: 62px;
  &.title {
    margin: 0 0 32px;
  }
}

h2 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
  color: $color_dove_gray_approx;
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
  &#oto-web-url {
    font-weight: normal;
    text-transform: lowercase;
  }
}

h4 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

h5 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

h6 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h1 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h2 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h3 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h4 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h5 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

.h6 {
  font-family: $font_0, $font_1;
  font-weight: lighter;
}

a {
  color: $white;
  font-weight: 600;
  &.blue {
    color: $color_steel_blue_approx;
    text-decoration: none;
  }
  &.btn img {
    margin-top: -2px !important;
  }
}

select {
  font-family: $font_2, $font_1;
}

textarea {
  resize: none;
}

@-webkit-keyframes fade-opacity-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-opacity-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.bg-image {
  position: fixed;
  top: 0;
  left: 635px;
  bottom: 0;
  overflow: hidden;
  width: calc(100% - 640px);
  background-size: cover;
  background-position-x: 0;
  float: right;
  right: 0;
  img {
    height: 100%;
    min-width: 100%;
  }
}

.content-panel {
  position: absolute;
  width: 635px;
  padding: 18px 20px 0;
  min-height: 100%;
  background-color: $white;
  text-align: left;
  h3 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
  }
  p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .btn-p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
  }
  .stage-img {
    margin: 0 0 40px 0;
  }
  .text-type-1 {
    color: $color_vermilion_approx;
    font-weight: bold;
  }
  h1.title {
    font-size: 48px;
    line-height: 42px;
    font-weight: 300;
    color: $color_tundora_approx;
  }
}

.form-control[disabled] {
  cursor: auto;
}

.form-control[readonly] {
  cursor: auto;
}

fieldset[disabled] {
  .form-control {
    cursor: auto;
  }
  .btn {
    background: $color_star_dust_approx;
  }
}

.btn-loader {
  margin-right: 15px;
}

.btn {
  &.focus {
    color: $white;
  }
  &:focus {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &.disabled {
    background: $color_star_dust_approx;
  }
  .glyphicon:before {
    font-size: 16px;
  }
}

.btn-ttc {
  @extend %extend_1;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, $color_cerulean_approx 0, $color_silver_tree_approx 100%);
  &:hover {
    @extend %extend_1;
    background-color: darken($color_silver_tree_approx, 5);
    background-position: 0 -15px;
  }
  &:active {
    @extend %extend_1;
  }
  &.disabled {
    color: $color_vermilion_approx;
    background-color: $color_fire_approx;
    opacity: 1;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}

.btn-ttc-clear {
  line-height: 33px;
  padding: 12px 20px;
  background: transparent;
  color: $color_mine_shaft_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  &:hover {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
  &:active {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}

.btn[disabled] {
  background: $color_star_dust_approx;
}

::-webkit-input-placeholder {
  color: $color_mountain_mist_approx;
}

:-moz-placeholder {
  color: $color_mountain_mist_approx;
  opacity: 1;
}

::-moz-placeholder {
  color: $color_mountain_mist_approx;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $color_mountain_mist_approx;
}

#cat-selector {
  .twitter-typeahead {
    width: 100%;
  }
  .tt-dropdown-menu {
    position: static !important;
    max-height: 200px;
    overflow-y: auto;
  }
}

.typeahead {
}

.tt-query {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 1px 1px 0 $color_swiss_coffee_approx;
}

.tt-hint {
  color: $color_mountain_mist_approx;
}

.tt-dropdown-menu {
  margin-top: 0;
  padding: 0 0 0 1px;
  background-color: $white;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 1px 1px 0 $color_swiss_coffee_approx;
}

.tt-suggestion {
  padding: 6px 20px;
  font-size: 16px;
  line-height: 40px;
  color: $color_emperor_approx;
  &.tt-cursor {
    cursor: pointer;
    color: $color_emperor_approx;
    font-size: 16px;
    background-color: $color_beeswax_approx;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
}

label {
  font-weight: 100;
  &.marbtm8 {
    margin: 0 0 8px;
  }
}

.form-group {
  > label {
    margin-bottom: 0;
  }
  &.opening-hours label {
    width: 150px;
  }
}

.search-results-container {
  .clear {
    position: absolute;
    right: 20px;
    top: 7px;
  }
  .media.selectable {
    cursor: pointer;
    &:hover {
      background-color: $color_fantasy_approx;
    }
  }
}

.selected-image {
  margin: 10px 0;
}

.remove-selected-image {
  display: block;
  position: absolute;
  top: -5px;
  right: 5px;
  background: $url_0 center center no-repeat;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
}

.oto-anima {
  max-width: 100%;
  margin-top: 25px;
}

.fb_iframe_widget {
  display: block;
}

#social_media_instagram::-ms-clear {
  display: none;
}

#social_media_youtube::-ms-clear {
  display: none;
}

#social_media_twitter::-ms-clear {
  display: none;
}

.carousel {
  float: left;
  height: 100vh;
  position: relative;
  width: 100%;
}

.carousel-indicators {
  bottom: 12%;
  left: 1px;
  margin-left: -12%;
  width: 60%;
  li {
    border: 1px solid $red;
  }
  .active {
    background-color: $red;
  }
}

.carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 10%;
  color: $red;
  left: 8%;
  top: auto;
  width: 15%;
  background: none !important;
  &.right {
    left: 13%;
    right: auto;
  }
}

.carousel-inner {
  overflow: visible !important;
}

.edit-custom {
  float: right;
}

.custom-border {
  border-bottom: 2px solid $color_celeste_approx;
  color: $color_suva_gray_approx;
  font-size: 18px;
}

.tip {
  font-size: 15px;
  color: $color_star_dust_approx;
}

.fb-page-select {
  cursor: pointer;
  background-color: $white;
  padding: 10px;
  border-bottom: 1px solid $color_gray_nurse_approx;
  &:hover {
    background-color: $color_shakespeare_25_approx;
  }
  &.selected {
    background-color: $color_shakespeare_approx;
    .fb-page-details {
      color: $white;
    }
  }
  .fb-page-details {
    width: calc(100% - 85px);
    margin-left: 5px;
    color: $color_ironside_gray_approx;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
}

.mid-row {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.4em;
}

.bottom-row {
  margin-left: 50px;
  margin-right: 50px;
  .action-buttons {
    text-align: center;
    .btn {
      font-size: 20px;
    }
  }
}

.form-control {
  padding: 15px 10px;
  height: inherit;
  margin-bottom: 10px;
  font-size: 1em;
}

.wrapper-oto-fb-login {
  margin-bottom: 10px;
}

.notice {
  display: none;
  color: $red;
  font-weight: bold;
}

.notice-orange {
  color: $color_yellow_orange_approx;
}

.required {
  color: $red;
}

.align-rows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  .top-row {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .mid-row {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  .bottom-row {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-bottom: 35px;
  }
}

.user-concern {
  color: $white;
  padding: 20px 20%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  a {
    color: $white;
    font-weight: 600;
    text-decoration: none;
  }
}

.action-links {
  color: $white;
  padding: 15px 10px 10px;
  text-align: right;
  font-weight: 800;
  a {
    display: inline-block;
    border: 1px solid $white;
    padding: 6px 34px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    color: $white;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 800;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.nav-buttons {
  text-align: center;
  margin-top: 20px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      span {
        display: block;
        background: $color_bombay_approx;
        width: 8px;
        height: 8px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
      }
      &.active span {
        background: $color_mine_shaft_approx;
      }
    }
  }
}

.confirm-field {
  @extend %extend_2;
  &:focus {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
}

.confirm-field[disabled] {
  @extend %extend_2;
}

.edit-link-wrapper {
  position: relative;
  .edit-link {
    position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    color: $color_ironside_gray_approx;
    text-decoration: none;
  }
}

#bother-stuck {
  .content-panel {
    width: 100%;
  }
  h2.error-head {
    text-align: center;
    padding: 20px;
  }
}

.text-center {
  p {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
}

#scrolling-text {
  position: relative;
  height: 270px;
  overflow: hidden;
  margin: 40px 0;
}

#scrolling-text-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $url_1 center center repeat;
}

#defaultSplash-phrases {
  height: 100%;
}

.splash-text {
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 70px;
  color: $color_tundora_approx;
  .splash-text-wrapper {
    position: relative;
  }
  .check-gray {
    @extend %extend_3;
    background: $url_3 center center no-repeat;
  }
  .check-green {
    @extend %extend_3;
    background: $url_2 center center no-repeat;
  }
}

.per-text {
  font-size: 48px;
  font-weight: 900;
  color: $color_tundora_approx;
  line-height: 52px;
}

.button-blue {
  background-color: $color_picton_blue_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  padding: 13px 90px;
}

.website-otonomic-url {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid $color_bombay_approx;
}

#progress-comp-wrapper {
  opacity: 0;
  display: none;
  .btn {
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    padding: 15px 100px;
    span {
      display: block;
      font-size: initial;
      line-height: initial;
      font-weight: 400;
    }
  }
}

@media only screen and(min-width: 320px) {
}

@media only screen and(min-width: 480px) {
}

@media only screen and(min-width: 768px) and(max-width: 933px) {
  #choose-template {
    .pull-right {
      float: none !important;
    }
    .pull-left {
      float: none !important;
    }
  }
}

@media only screen and(min-width: 992px) {
}

@media only screen and(min-width: 1200px) {
}

@media only screen and(max-width: 768px) {
  .container-fluid {
    height: 100%;
  }
  .logo {
    display: block;
    margin: 20px auto 0;
  }
  .content-panel {
    padding: 0 20px;
    width: 100%;
    h3 {
      margin-top: 20px;
      line-height: 24px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    .btn-p {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    .stage-img {
      display: block;
      margin: 10px auto;
      max-width: 70%;
    }
    h1.title {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 32px;
    }
  }
  .tt-suggestion {
    font-size: 13px;
  }
  .mid-row {
    margin-left: 0;
    margin-right: 0;
    line-height: 1.4em;
  }
  div#stage-apps button .glyphicons {
    display: none;
  }
  h1.title {
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
  }
}

@media only screen and(max-width: 1200px) {
  .logo {
    display: block;
    margin: 10px auto 0;
  }
}

.theme-option-container {
  height: 390px;
}

@media only screen and(max-width: 992px) {
}

@media only screen and(max-width: 480px) {
  .content-panel h1.title {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 28px;
  }
}

@media only screen and(max-width: 320px) {
  .content-panel {
    .logo {
      height: 28px;
    }
    h1.title {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 24px;
    }
  }
}

img.logo {
  margin-bottom: 20px;
}

.wp-lp p span {
  &.glyphicon-thumbs-up {
    color: $color_tom_thumb_approx;
    font-size: 50px;
  }
  &.glyphicon-ok {
    color: $color_tom_thumb_approx;
    font-size: 50px;
  }
}

.opening-hours input {
  width: 30%;
  display: inline-block;
}

div.search-results-container {
  background: $white;
  padding: 9px;
  border: 1px solid $color_celeste_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  margin-top: 0;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  text-align: left;
}

#cboxLoadedContent iframe {
  background: transparent;
  border: 3px solid $color_alto_approx;
}

.submit-button input[type="submit"] {
  background: $color_jungle_green_approx;
  border: medium none;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  color: $white;
  font-size: 20px;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 13px 16px;
}

.checkbox > label {
  margin: 30px;
}

#confirm .form-group {
  margin: 0 0 32px;
}

.overlimit:focus {
  border-color: $color_yellow_orange_approx;
  outline: 0;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 0 1px 1px $black_7_5, 0 0 8px $color_golden_fizz_60_approx;
}

.oto-fb-login img {
  max-width: 100%;
}

#congratz .content-panel,
#build .content-panel,
#gather .content-panel,
#bother-no-page .content-panel,
#bother-unpub .content-panel,
#bother-blocked .content-panel,
#thankyou .content-panel {
  width: 100%;
}

.no-icon.splash-text::before {
  display: none;
}

p.error-contact {
  text-align: center;
  a {
    color: $color_steel_blue_approx;
    text-decoration: none;
  }
}

.edit-link {
  display: none;
}