#cboxOverlay.otofblogin-popup {
    background: #F6F6F6;
}
#colorbox.otofblogin-popup {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
}
#colorbox.otofblogin-popup #cboxContent {
    margin-top: 0;
}
#colorbox.otofblogin-popup #cboxClose {
    top:0;
}
#colorbox.otofblogin-popup #cboxContent {
    padding: 10px;
}